{"openapi":"3.1.0","info":{"title":"AgentFund US Economic, SEC & On-Chain Data","version":"0.2.0","description":"Pay-per-call data tools for AI agents, settled in USDC on Base via x402. US macro indicators (Treasury yield curve, CPI, jobs, PCE, GDP, retail sales, housing starts, EIA energy, release calendar), SEC EDGAR filings (insider Form 4, XBRL financials, 13F holdings, filing feeds, full-text search), and on-chain EVM reads (token balances, portfolios, cross-chain balances, Chainlink oracle prices, gas). Plus deterministic JSON repair and tabular-to-JSON parsing.","contact":{"email":"info@agentfund.net"},"x-guidance":"Each route is one tool, priced per call and settled in USDC on Base via x402. POST the tool's arguments as a plain JSON body; the response is the tool's result as JSON. An unpaid request returns 402 with the payment requirements in the `payment-required` header. Data comes from free public sources (US Treasury, BLS, BEA, Census, EIA, SEC EDGAR, and public EVM RPC), so figures carry each source's own publication lag and revision policy. The same tools are also callable over MCP at /mcp."},"servers":[{"url":"https://x402.agentfund.net"}],"paths":{"/x402/structured_json_repair":{"post":{"operationId":"structured_json_repair","summary":"Structured JSON Repair","description":"Repair messy or invalid JSON (the kind LLMs and tools often emit) into clean, valid JSON, and optionally validate/coerce it against a JSON Schema. Pure deterministic compute — no network or model calls.\n\nWhat it fixes: trailing commas, single-quoted strings, unquoted keys, Python literals (None/True/False), NaN/Infinity, Markdown code-fence wrappers, and truncated/garbled tails.\n\nWhen to use: you received text that should be JSON but JSON.parse fails, or you have JSON that must conform to a specific schema and want types coerced (e.g. \"36\" -> 36, \"true\" -> true).\n\nWhen NOT to use: the input is already known-valid JSON and no schema check is needed.\n\nArgs:\n  - input (string, required): the raw/malformed JSON text.\n  - schema (object, optional): a JSON Schema (draft 2020-12) to validate and coerce against.\n  - coerce (boolean, optional, default true): coerce primitive types to satisfy the schema before validating.\n\nReturns structuredContent:\n  {\n    \"ok\": boolean,        // true if valid JSON (and schema-valid when a schema was given)\n    \"data\": any,          // the repaired/validated JSON value; null if unfixable\n    \"changed\": boolean,   // true if any repair or coercion modified the input\n    \"errors\": string[],   // actionable messages when ok is false\n    \"repairs\": string[]   // description of each fix applied\n  }","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.01"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"input":{"type":"string","description":"Raw/malformed JSON text to repair."},"schema":{"type":"object","description":"Optional JSON Schema to validate/coerce against."},"coerce":{"type":"boolean","description":"Coerce types to fit the schema (default true)."}},"required":["input"]},"example":{"input":"{name: 'Ada', age: '36',}"}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"data":{},"changed":{"type":"boolean"},"errors":{"type":"array"},"repairs":{"type":"array"}}},"example":{"ok":true,"data":{"name":"Ada","age":36},"changed":true,"errors":[],"repairs":[]}}}},"402":{"description":"Payment Required"}}}},"/x402/tabular_to_json":{"post":{"operationId":"tabular_to_json","summary":"Tabular to JSON","description":"Convert messy tabular text into clean, typed JSON rows. Auto-detects CSV, TSV, or a Markdown table and returns one JSON object per row plus an inferred column/type summary. Pure deterministic compute — no network or model calls.\n\nWhat it handles: delimiter sniffing (comma/semicolon/tab/pipe), quoted fields with embedded commas and newlines, BOM, ragged rows (padded/truncated), Markdown separator rows and escaped pipes, header auto-detection, and per-column type inference (integer/number/boolean/null/string).\n\nWhen to use: you have CSV/TSV/Markdown-table text (often emitted by tools or LLMs) and want structured, typed rows — optionally validated/coerced against a JSON Schema.\n\nWhen NOT to use: the data is already clean JSON, or it is HTML/xlsx/binary (not supported).\n\nArgs:\n  - input (string, required): raw tabular text.\n  - format (\"auto\"|\"csv\"|\"tsv\"|\"markdown\", default \"auto\"): force a format or auto-detect.\n  - hasHeader (\"auto\"|\"true\"|\"false\", default \"auto\"): whether the first row is a header.\n  - inferTypes (boolean, default true): coerce cells to number/integer/boolean/null; else keep strings.\n  - schema (object, optional): JSON Schema (draft 2020-12) to validate/coerce each row object against.\n\nReturns structuredContent:\n  {\n    \"ok\": boolean,                 // false if the input cannot be parsed as a table\n    \"format\": \"csv\"|\"tsv\"|\"markdown\",\n    \"columns\": [{ \"name\": string, \"type\": string }],\n    \"rows\": [{ ... }],             // one object per row, keyed by column name\n    \"rowCount\": number,\n    \"changed\": boolean,            // true if any normalization/coercion happened\n    \"errors\": string[],            // actionable messages when ok is false\n    \"repairs\": string[]            // description of each normalization applied\n  }","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.03"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"input":{"type":"string","description":"Raw CSV/TSV/Markdown-table text."},"format":{"type":"string","enum":["auto","csv","tsv","markdown"],"description":"Force or auto-detect format."},"hasHeader":{"type":"string","enum":["auto","true","false"],"description":"Whether row 1 is a header."},"inferTypes":{"type":"boolean","description":"Infer cell types (default true)."},"schema":{"type":"object","description":"Optional JSON Schema to validate/coerce each row."}},"required":["input"]},"example":{"input":"name,age\nAda,36\nAlan,41","format":"auto"}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"format":{"type":"string"},"columns":{"type":"array"},"rows":{"type":"array"},"rowCount":{"type":"number"},"changed":{"type":"boolean"},"errors":{"type":"array"},"repairs":{"type":"array"}}},"example":{"ok":true,"format":"csv","columns":[{"name":"name","type":"string"},{"name":"age","type":"integer"}],"rows":[{"name":"Ada","age":36}],"rowCount":1,"changed":true,"errors":[],"repairs":["Detected 'csv' format.","Treated the first row as a header (auto-detected)."]}}}},"402":{"description":"Payment Required"}}}},"/x402/treasury_yield_curve":{"post":{"operationId":"treasury_yield_curve","summary":"US Treasury Yield Curve","description":"Current and recent U.S. Treasury par yield curve rates, with the spreads traders actually watch already computed.\n\nReturns every published tenor (1 month through 30 years) for the latest business day, plus the 2s10s spread, the 3m10y spread, and an inversion flag. Source is the U.S. Treasury's official daily par yield curve (public domain, no attribution required).\n\nWhen to use: you need risk-free rates for discounting, a read on the curve's shape, or recession-signal context (curve inversion).\n\nWhen NOT to use: you need intraday quotes (this publishes once per business day) or non-U.S. sovereign curves.\n\nArgs:\n  - days (integer, optional, default 1): how many recent business days to return, newest first (1-30).\n\nReturns structuredContent:\n  {\n    \"asOf\": \"2026-08-14\",\n    \"latest\": {\n      \"date\": \"2026-08-14\",\n      \"tenors\": { \"1M\": 3.79, \"3M\": 3.86, \"2Y\": 4.17, \"10Y\": 4.68, \"30Y\": 5.25 },\n      \"spread2s10s\": 0.51,\n      \"spread3m10y\": 0.82,\n      \"inverted\": false\n    },\n    \"history\": [ ...same shape, newest first... ],\n    \"source\": \"https://home.treasury.gov/...\"\n  }","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.005"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"days":{"type":"number","description":"Recent business days to return (1-30, default 1)."}}},"example":{"days":5}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"asOf":"2026-08-14","latest":{"date":"2026-08-14","tenors":{"3M":3.86,"2Y":4.17,"10Y":4.68,"30Y":5.25},"spread2s10s":0.51,"spread3m10y":0.82,"inverted":false}}}}},"402":{"description":"Payment Required"}}}},"/x402/bls_cpi":{"post":{"operationId":"bls_cpi","summary":"US CPI Inflation","description":"Latest U.S. CPI inflation from the Bureau of Labor Statistics, with the rates already computed.\n\nBLS publishes index levels, not inflation rates. This tool does the arithmetic: headline and core (all items less food and energy) CPI, each with year-over-year and month-over-month percent change. Year-over-year uses not-seasonally-adjusted data and month-over-month uses seasonally adjusted, matching how these figures are conventionally reported.\n\nWhen to use: you need the current inflation rate, a real-versus-nominal adjustment, or CPI context for a macro decision.\n\nWhen NOT to use: you need PCE (the Fed's preferred gauge), regional or category-level CPI detail, or a long historical series.\n\nArgs: none.\n\nReturns structuredContent:\n  {\n    \"asOf\": \"2026-07\",\n    \"periodName\": \"July 2026\",\n    \"headline\": { \"index\": 333.918, \"yoyPercent\": 2.9, \"momPercent\": 0.2 },\n    \"core\":     { \"index\": 337.133, \"yoyPercent\": 3.1, \"momPercent\": 0.3 },\n    \"source\": \"https://www.bls.gov/cpi/\"\n  }","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.005"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"asOf":"2026-07","periodName":"July 2026","headline":{"index":333.918,"yoyPercent":2.9,"momPercent":0.2},"core":{"index":337.133,"yoyPercent":3.1,"momPercent":0.3}}}}},"402":{"description":"Payment Required"}}}},"/x402/macro_jobs":{"post":{"operationId":"macro_jobs","summary":"US Jobs Report","description":"Latest U.S. labour-market data from the Bureau of Labor Statistics, with the headline changes computed.\n\nReturns the unemployment rate, labour force participation rate, total nonfarm payrolls, the month-over-month change in payrolls (the \"jobs added\" number that leads the Employment Situation report), average hourly earnings, and year-over-year wage growth. All series are seasonally adjusted.\n\nBLS publishes levels; the month-over-month and year-over-year changes are computed here.\n\nWhen to use: reading the state of the labour market, wage-inflation context, or Fed-policy reasoning.\n\nWhen NOT to use: you need state or metro level detail, industry breakdowns, or JOLTS openings and quits.\n\nArgs: none.\n\nReturns structuredContent:\n  {\n    \"asOf\": \"2026-07\", \"periodName\": \"July 2026\",\n    \"unemploymentRate\": 4.1, \"participationRate\": 62.4,\n    \"nonfarmPayrolls\": 158858, \"payrollsChange\": 73,\n    \"avgHourlyEarnings\": 37.62, \"earningsYoyPercent\": 3.8,\n    \"source\": \"https://www.bls.gov/ces/\"\n  }\n\nPayrolls are in thousands of jobs, so payrollsChange 73 means +73,000 jobs on the month.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.005"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"asOf":"2026-07","periodName":"July 2026","unemploymentRate":4.1,"nonfarmPayrolls":158858,"payrollsChange":73,"avgHourlyEarnings":37.62,"earningsYoyPercent":3.8}}}},"402":{"description":"Payment Required"}}}},"/x402/macro_pce":{"post":{"operationId":"macro_pce","summary":"US PCE Inflation (Fed's Preferred Gauge)","description":"The Fed's preferred inflation gauge: Personal Consumption Expenditures (PCE) price index, headline and core.\n\nThe Federal Reserve targets PCE inflation, not CPI, when setting policy. Returns the headline index and \"PCE excluding food and energy\" (the actual core measure the Fed watches), each with year-over-year and month-over-month percent change computed from BEA's published index levels.\n\nWhen to use: Fed-policy reasoning, comparing the Fed's actual inflation target against CPI, macro research that specifically needs PCE rather than CPI.\n\nWhen NOT to use: you want CPI (use bls_cpi, which is timelier and what headlines usually report) or category-level PCE detail.\n\nArgs: none.\n\nReturns structuredContent:\n  {\n    \"asOf\": \"2026-06\",\n    \"headline\": { \"index\": 129.5, \"yoyPercent\": 2.6, \"momPercent\": 0.3 },\n    \"core\":     { \"index\": 131.2, \"yoyPercent\": 2.8, \"momPercent\": 0.2 },\n    \"source\": \"https://www.bea.gov/data/personal-consumption-expenditures-price-index\"\n  }","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.005"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"asOf":"2026-06","headline":{"index":129.5,"yoyPercent":2.6,"momPercent":0.3},"core":{"index":131.2,"yoyPercent":2.8,"momPercent":0.2}}}}},"402":{"description":"Payment Required"}}}},"/x402/macro_gdp":{"post":{"operationId":"macro_gdp","summary":"US Real GDP Growth","description":"Latest U.S. real GDP growth rate, from BEA's National Income and Product Accounts.\n\nReturns the annualized quarter-over-quarter growth rate for the most recent quarter (the headline \"how is the economy growing\" number), plus the prior two quarters for trend context. BEA publishes this table as a percent-change series already, so no growth-rate math is needed here.\n\nWhen to use: reading the pace of economic growth, recession-risk context (two consecutive negative quarters), or macro backdrop for a market decision.\n\nWhen NOT to use: you need GDP in dollar levels, expenditure-component detail (consumption, investment, government, net exports), or real-time/nowcast estimates (this is BEA's official, lagged release).\n\nArgs: none.\n\nReturns structuredContent:\n  {\n    \"asOf\": \"2026Q2\",\n    \"growthAnnualizedPercent\": 1.5,\n    \"priorQuarters\": [\n      { \"quarter\": \"2026Q1\", \"growthAnnualizedPercent\": 2.1 },\n      { \"quarter\": \"2025Q4\", \"growthAnnualizedPercent\": 0.5 }\n    ],\n    \"source\": \"https://www.bea.gov/data/gdp/gross-domestic-product\"\n  }","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.005"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"asOf":"2026Q2","growthAnnualizedPercent":1.5,"priorQuarters":[{"quarter":"2026Q1","growthAnnualizedPercent":2.1}]}}}},"402":{"description":"Payment Required"}}}},"/x402/macro_retail_sales":{"post":{"operationId":"macro_retail_sales","summary":"US Retail Sales","description":"Latest U.S. retail sales, seasonally adjusted, excluding motor vehicles and parts — the \"ex-autos\" figure most commonly cited as a consumer-spending signal.\n\nReturns the seasonally-adjusted monthly sales total in millions of dollars, with month-over-month and year-over-year percent change computed from the Census Bureau's Advance Monthly Retail Trade Survey.\n\nWhen to use: gauging consumer spending strength, a component of GDP nowcasting, retail-sector demand signal.\n\nWhen NOT to use: you need category-level detail (e.g. just electronics, or just restaurants), the auto-inclusive headline total, or real-time/weekly data (this is a monthly government release).\n\nArgs: none.\n\nReturns structuredContent:\n  {\n    \"asOf\": \"2026-06\", \"salesMillions\": 766192,\n    \"momPercent\": 0.9, \"yoyPercent\": 3.4,\n    \"source\": \"https://www.census.gov/retail/index.html\"\n  }","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.005"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"asOf":"2026-06","salesMillions":766192,"momPercent":0.9,"yoyPercent":3.4}}}},"402":{"description":"Payment Required"}}}},"/x402/macro_housing":{"post":{"operationId":"macro_housing","summary":"US Housing Starts & Permits","description":"Latest U.S. new residential construction: housing starts and building permits, seasonally-adjusted annualized rate.\n\nHousing starts (ground broken) and permits (approved but not necessarily started, a leading indicator) are the two headline figures from the Census Bureau's New Residential Construction survey, reported at a seasonally-adjusted annualized rate in thousands of units.\n\nWhen to use: gauging housing-market momentum, a leading indicator for construction activity (permits lead starts), macro context for rate-sensitive sectors.\n\nWhen NOT to use: you need single-family vs multi-family breakdown, regional detail, or completions data.\n\nArgs: none.\n\nReturns structuredContent:\n  {\n    \"asOf\": \"2026-06\", \"startsThousands\": 1427, \"permitsThousands\": 1380,\n    \"startsMomPercent\": 19.0, \"permitsMomPercent\": 2.1,\n    \"source\": \"https://www.census.gov/construction/nrc/index.html\"\n  }\n\nFigures are in thousands of units at a seasonally-adjusted annual rate (SAAR), the standard convention for this release.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.005"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"asOf":"2026-06","startsThousands":1427,"permitsThousands":1380,"startsMomPercent":19}}}},"402":{"description":"Payment Required"}}}},"/x402/macro_energy":{"post":{"operationId":"macro_energy","summary":"US Energy Markets (Crude & Natural Gas)","description":"Latest U.S. energy market data from the Energy Information Administration: WTI crude price, crude oil inventories, and natural gas storage.\n\nCombines three EIA series that usually require separate lookups: the WTI Cushing spot price, weekly U.S. crude oil ending stocks (with week-over-week percent change), and weekly natural gas underground storage (with week-over-week percent change).\n\nWhen to use: energy-sector context, inflation pass-through analysis (energy prices feed CPI/PCE), trading around the weekly EIA inventory releases.\n\nWhen NOT to use: you need regional/PADD-level breakdowns, refined product prices (gasoline, diesel), or non-U.S. energy data.\n\nArgs: none.\n\nReturns structuredContent:\n  {\n    \"asOf\": \"2026-08-07\",\n    \"wtiSpotUsdPerBbl\": 84.77,\n    \"crudeStocksThousandBbl\": 420000, \"crudeStocksWowPercent\": -1.2,\n    \"naturalGasStorageBcf\": 3100, \"naturalGasStorageWowPercent\": 0.8,\n    \"source\": \"https://www.eia.gov/petroleum/\"\n  }","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.005"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"asOf":"2026-08-07","wtiSpotUsdPerBbl":84.77,"crudeStocksWowPercent":-1.2,"naturalGasStorageWowPercent":0.8}}}},"402":{"description":"Payment Required"}}}},"/x402/macro_release_calendar":{"post":{"operationId":"macro_release_calendar","summary":"US Economic Release Calendar","description":"Upcoming U.S. economic data releases, with dates and times, from the official BLS news-release schedule.\n\nAnswers \"what macro data drops next, and when\" without scraping a web page. Covers the BLS release set that moves markets: CPI, PPI, the Employment Situation (nonfarm payrolls and unemployment), JOLTS, Employment Cost Index, real earnings and productivity.\n\nWhen to use: planning around data risk, checking whether a print lands before a decision, or building a watchlist of upcoming events.\n\nWhen NOT to use: you need the released VALUES (use bls_cpi for CPI), Fed/FOMC meeting dates, or non-U.S. statistical calendars.\n\nArgs:\n  - limit (integer, optional, default 10): maximum releases to return (1-100), soonest first.\n  - filter (string, optional): case-insensitive substring match on the release title, e.g. \"CPI\".\n\nReturns structuredContent:\n  {\n    \"asOf\": \"2026-08-14\",\n    \"count\": 1,\n    \"releases\": [\n      { \"date\": \"2026-09-10\", \"datetime\": \"2026-09-10T12:30:00Z\",\n        \"title\": \"Consumer Price Index\", \"source\": \"BLS\" }\n    ],\n    \"source\": \"https://www.bls.gov/schedule/\"\n  }\n\nOnly releases on or after today are returned, soonest first.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.01"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"type":"number","description":"Max releases to return (1-100, default 10)."},"filter":{"type":"string","description":"Substring filter on title, e.g. \"CPI\"."}}},"example":{"limit":10,"filter":"CPI"}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"asOf":"2026-08-14","count":1,"releases":[{"date":"2026-09-10","datetime":"2026-09-10T12:30:00Z","title":"Consumer Price Index","source":"BLS"}]}}}},"402":{"description":"Payment Required"}}}},"/x402/edgar_insider_transactions":{"post":{"operationId":"edgar_insider_transactions","summary":"SEC Insider Transactions (Form 4)","description":"Insider buying and selling for a U.S. public company, parsed from SEC Form 4 filings.\n\nForm 4 is published as raw ownership XML, one document per filing, with the machine-readable file hidden behind an XSL-rendered URL. This resolves the ticker to a CIK, finds the most recent filings, fetches each XML document, and returns clean transactions: who traded, their role, the date, the SEC transaction code with its plain-English meaning, share count, price, computed dollar value, and shares held afterwards.\n\nWhen to use: tracking insider sentiment, checking whether executives are buying or selling, auditing recent officer and director activity.\n\nWhen NOT to use: you need institutional holdings (that is Form 13F), or derivative/option detail (only non-derivative transactions are returned), or non-U.S. issuers.\n\nArgs:\n  - ticker (string, required): a ticker such as \"AAPL\", or a bare CIK such as \"320193\".\n  - limit (integer, optional, default 5): how many recent filings to parse (1-20).\n  - forms (string[], optional, default [\"4\"]): which ownership forms to include (\"3\", \"4\", \"5\").\n\nReturns structuredContent:\n  {\n    \"cik\": \"0000320193\", \"issuer\": \"Apple Inc.\", \"ticker\": \"AAPL\", \"count\": 1,\n    \"filings\": [{\n      \"filedAt\": \"2026-08-13\", \"owner\": \"Newstead Jennifer\",\n      \"ownerTitle\": \"SVP, GC and Secretary\", \"isOfficer\": true, \"isDirector\": false,\n      \"transactions\": [{ \"date\": \"2026-08-11\", \"code\": \"S\",\n        \"codeMeaning\": \"Open-market or private sale\", \"acquiredDisposed\": \"D\",\n        \"shares\": 1439, \"pricePerShare\": 307.75, \"value\": 442852.25,\n        \"sharesOwnedAfter\": 40107 }],\n      \"documentUrl\": \"https://www.sec.gov/Archives/...\"\n    }],\n    \"source\": \"https://www.sec.gov/edgar\"\n  }\n\nAn individual filing that cannot be parsed is skipped rather than failing the call. If nothing at\nall is parseable the call errors and is not billed.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.02"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ticker":{"type":"string","description":"Ticker (e.g. \"AAPL\") or CIK."},"limit":{"type":"number","description":"Recent filings to parse (1-20, default 5)."},"forms":{"type":"array","items":{"type":"string"},"description":"Forms: \"3\", \"4\", \"5\"."}},"required":["ticker"]},"example":{"ticker":"AAPL","limit":5,"forms":["4"]}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"cik":"0000320193","issuer":"Apple Inc.","ticker":"AAPL","count":1,"filings":[{"filedAt":"2026-08-13","owner":"Newstead Jennifer","ownerTitle":"SVP, GC and Secretary","transactions":[{"date":"2026-08-11","code":"S","codeMeaning":"Open-market or private sale","shares":1439,"pricePerShare":307.75,"value":442852.25}]}]}}}},"402":{"description":"Payment Required"}}}},"/x402/edgar_financials":{"post":{"operationId":"edgar_financials","summary":"SEC Company Financials (XBRL)","description":"Key financials for a U.S. public company, pulled from SEC XBRL company facts.\n\nReturns revenue, net income, diluted EPS, total assets, total liabilities, shareholders' equity and cash, each with the most recent ANNUAL and QUARTERLY figure, the period covered, and the form it came from.\n\nHandles two things that trip up naive XBRL queries: filers migrated from the \"Revenues\" tag to \"RevenueFromContractWithCustomerExcludingAssessedTax\" under ASC 606, so each concept tries several tags in order; and the SEC repeats facts across filings with differing period lengths, so observations are classified as annual or quarterly by their actual duration rather than by trusting the fiscal-period label.\n\nWhen to use: fundamentals for valuation or screening, checking latest reported revenue or EPS, pulling balance-sheet lines.\n\nWhen NOT to use: you need full statements line by line, segment detail, non-GAAP measures, or analyst estimates.\n\nArgs:\n  - ticker (string, required): a ticker such as \"AAPL\", or a bare CIK such as \"320193\".\n\nReturns structuredContent:\n  {\n    \"cik\": \"0000320193\", \"entity\": \"Apple Inc.\", \"ticker\": \"AAPL\",\n    \"concepts\": {\n      \"revenue\": {\n        \"label\": \"Revenue\",\n        \"tag\": \"RevenueFromContractWithCustomerExcludingAssessedTax\",\n        \"annual\":    { \"end\": \"2025-09-27\", \"start\": \"2024-09-29\", \"value\": 416000000000,\n                       \"unit\": \"USD\", \"fiscalYear\": 2025, \"fiscalPeriod\": \"FY\", \"form\": \"10-K\" },\n        \"quarterly\": { \"end\": \"2026-06-27\", \"value\": 94000000000, \"unit\": \"USD\", \"form\": \"10-Q\" }\n      },\n      \"netIncome\": {}, \"epsDiluted\": {}, \"assets\": {}\n    },\n    \"source\": \"https://www.sec.gov/edgar\"\n  }\n\nA concept the filer does not report comes back with tag null and both periods null, rather than a\nfabricated zero.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.015"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ticker":{"type":"string","description":"Ticker (e.g. \"AAPL\") or CIK."}},"required":["ticker"]},"example":{"ticker":"AAPL"}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"cik":"0000320193","entity":"Apple Inc.","ticker":"AAPL","concepts":{"revenue":{"label":"Revenue","tag":"RevenueFromContractWithCustomerExcludingAssessedTax","annual":{"end":"2025-09-27","value":416000000000,"unit":"USD","form":"10-K"}}}}}}},"402":{"description":"Payment Required"}}}},"/x402/edgar_13f_holdings":{"post":{"operationId":"edgar_13f_holdings","summary":"SEC 13F Institutional Holdings","description":"Institutional stock holdings for a fund manager, from its latest SEC Form 13F.\n\n13F filings split the actual holdings into a separate \"information table\" XML document that the filing index does not point at directly; this locates it, parses every position, and rolls up lots reported separately (different share classes, put/call splits) into one row per issuer.\n\nWhen to use: seeing what a fund or institution holds and how much, tracking \"smart money\" positioning, portfolio research.\n\nWhen NOT to use: real-time positions (13F is filed up to 45 days after quarter end, so this is always historical), short positions (13F does not require disclosing shorts), or non-U.S. filers.\n\nArgs:\n  - ticker (string, required): the FILER's ticker (if it has one) or its SEC CIK, e.g. \"1067983\" for Berkshire Hathaway.\n  - limit (integer, optional, default 25): maximum holdings to return, largest by value first (1-200).\n\nReturns structuredContent:\n  {\n    \"cik\": \"0001067983\", \"filer\": \"BERKSHIRE HATHAWAY INC\",\n    \"periodOfReport\": \"2026-06-30\", \"filedAt\": \"2026-08-14\",\n    \"totalPositions\": 45, \"totalValueUsd\": 293000000000,\n    \"holdings\": [\n      { \"issuer\": \"ALLY FINL INC\", \"cusip\": \"02005N100\",\n        \"valueUsd\": 900335661000, \"shares\": 19593812, \"lots\": 3 }\n    ],\n    \"source\": \"https://www.sec.gov/edgar\"\n  }\n\nReports the most recently FILED 13F-HR. Values are whole USD, taken directly from the filing.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.02"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ticker":{"type":"string","description":"Filer ticker or CIK."},"limit":{"type":"number","description":"Max holdings to return (1-200, default 25)."}},"required":["ticker"]},"example":{"ticker":"1067983","limit":10}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"cik":"0001067983","filer":"BERKSHIRE HATHAWAY INC","totalPositions":45,"holdings":[{"issuer":"ALLY FINL INC","cusip":"02005N100","valueUsd":900335661000,"shares":19593812}]}}}},"402":{"description":"Payment Required"}}}},"/x402/edgar_filings_feed":{"post":{"operationId":"edgar_filings_feed","summary":"SEC Filings Feed","description":"Recent SEC filings for a company, newest first, with 8-K item codes translated to plain English.\n\nA general-purpose filings feed: any form type, or a specific set (8-K for material events, 10-K/10-Q for periodic reports, S-1 for new-issue prospectuses, SC 13D/13G for activist and passive stakes). 8-K filings include their item numbers (e.g. \"5.02\") decoded into a label (\"Departure/appointment of directors or officers\") rather than leaving you to look up the code.\n\nWhen to use: monitoring a company's material-event stream, building a filings watchlist, or finding a specific filing type.\n\nWhen NOT to use: you need the parsed FINANCIAL content of a filing (use edgar_financials) or insider trades (use edgar_insider_transactions).\n\nArgs:\n  - ticker (string, required): a ticker such as \"AAPL\", or a bare CIK such as \"320193\".\n  - forms (string[], optional): filter to specific form types, e.g. [\"8-K\"] or [\"10-K\",\"10-Q\"]. Omit for all forms.\n  - limit (integer, optional, default 20): maximum filings to return (1-100).\n\nReturns structuredContent:\n  {\n    \"cik\": \"0000320193\", \"entity\": \"Apple Inc.\", \"ticker\": \"AAPL\", \"count\": 1,\n    \"filings\": [{\n      \"form\": \"8-K\", \"filedAt\": \"2026-08-01\", \"reportDate\": \"2026-07-31\",\n      \"items\": [{ \"code\": \"2.02\", \"label\": \"Results of operations and financial condition\" }],\n      \"documentUrl\": \"https://www.sec.gov/Archives/...\"\n    }],\n    \"source\": \"https://www.sec.gov/edgar\"\n  }","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.008"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ticker":{"type":"string","description":"Ticker (e.g. \"AAPL\") or CIK."},"forms":{"type":"array","items":{"type":"string"},"description":"e.g. [\"8-K\"]."},"limit":{"type":"number","description":"Max filings (1-100, default 20)."}},"required":["ticker"]},"example":{"ticker":"AAPL","forms":["8-K"],"limit":10}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"cik":"0000320193","entity":"Apple Inc.","count":1,"filings":[{"form":"8-K","filedAt":"2026-08-01","items":[{"code":"2.02","label":"Results of operations and financial condition"}]}]}}}},"402":{"description":"Payment Required"}}}},"/x402/edgar_full_text_search":{"post":{"operationId":"edgar_full_text_search","summary":"SEC Full-Text Filing Search","description":"Full-text search across all SEC EDGAR filings since 2001 for a keyword or phrase.\n\nWraps EDGAR's own full-text search index, so it covers every filer and form type, not just a single company. Useful for finding who is disclosing a particular risk, technology, litigation, or event across the entire market.\n\nWhen to use: cross-company research (\"who is disclosing AI-related risk factors\"), finding filings that mention a specific term, litigation or regulatory tracking.\n\nWhen NOT to use: you already know the company (use edgar_filings_feed, which is company-scoped and cheaper), or you need results from before 2001 (EDGAR full-text search does not cover that far back).\n\nArgs:\n  - query (string, required): search text. Wrap an exact phrase in double quotes, e.g. \"\\\"material weakness\\\"\".\n  - forms (string[], optional): restrict to form types, e.g. [\"10-K\"].\n  - dateFrom (string, optional): ISO start date (YYYY-MM-DD).\n  - dateTo (string, optional): ISO end date (YYYY-MM-DD).\n  - limit (integer, optional, default 10): maximum hits to return (1-50).\n\nReturns structuredContent:\n  {\n    \"query\": \"material weakness\", \"totalMatches\": 10000, \"totalIsApproximate\": true,\n    \"count\": 2,\n    \"hits\": [\n      { \"id\": \"0001193125-26-123456:doc.htm\", \"entity\": \"Example Corp.\",\n        \"form\": \"10-K\", \"filedAt\": \"2026-03-01\", \"cik\": \"0000320193\" }\n    ],\n    \"source\": \"https://www.sec.gov/edgar\"\n  }\n\n\"totalMatches\" is a lower bound and \"totalIsApproximate\" is true once EDGAR's own count exceeds\nits display cap (10,000) — narrow with forms/dateFrom/dateTo for a precise count.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.01"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","description":"Search text."},"forms":{"type":"array","items":{"type":"string"},"description":"e.g. [\"10-K\"]."},"dateFrom":{"type":"string","description":"ISO start date."},"dateTo":{"type":"string","description":"ISO end date."},"limit":{"type":"number","description":"Max hits (1-50, default 10)."}},"required":["query"]},"example":{"query":"material weakness","forms":["10-K"],"limit":10}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"query":"material weakness","totalMatches":10000,"count":1,"hits":[{"entity":"Example Corp.","form":"10-K","filedAt":"2026-03-01"}]}}}},"402":{"description":"Payment Required"}}}},"/x402/onchain_token_balances":{"post":{"operationId":"onchain_token_balances","summary":"On-chain Token Balances (bulk)","description":"Read an ERC-20 token balance for up to 500 wallet addresses in a SINGLE call.\n\nDoing this yourself means issuing hundreds of eth_call requests, batching them, handling per-provider rate limits and partial failures, then scaling raw integers by token decimals. This does all of that and returns clean, ready-to-use numbers plus the block height the snapshot was taken at.\n\nSupported chains: base (default), ethereum, optimism, arbitrum, polygon. Defaults to canonical USDC on the selected chain when no token is given.\n\nWhen to use: portfolio or treasury roll-ups, airdrop and eligibility checks, holder analysis, reconciling a list of wallets.\n\nWhen NOT to use: you need native ETH balances (this reads ERC-20 contracts) or balances at a historical block.\n\nArgs:\n  - addresses (string[], required): 1-500 EVM addresses. Duplicates removed, order preserved.\n  - chain (string, optional, default \"base\"): base | ethereum | optimism | arbitrum | polygon.\n  - token (string, optional): ERC-20 contract address. Defaults to USDC on the chosen chain.\n\nReturns structuredContent:\n  {\n    \"chain\": \"base\", \"chainId\": 8453, \"blockNumber\": 34567890,\n    \"token\": { \"address\": \"0x8335...\", \"symbol\": \"USDC\", \"decimals\": 6 },\n    \"requested\": 3, \"queried\": 3, \"failed\": 0,\n    \"totalBalance\": \"1234.56\",\n    \"holders\": [ { \"address\": \"0x...\", \"raw\": \"1234560000\", \"balance\": \"1234.56\" } ]\n  }\n\nA read that fails at the provider returns null for that address rather than a misleading 0, and\n\"failed\" counts them. If every read fails the call errors and is not billed.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.01"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"addresses":{"type":"array","items":{"type":"string"},"description":"1-500 EVM addresses."},"chain":{"type":"string","description":"base | ethereum | optimism | arbitrum | polygon."},"token":{"type":"string","description":"ERC-20 contract; defaults to USDC."}},"required":["addresses"]},"example":{"addresses":["0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"],"chain":"base"}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"chain":"base","chainId":8453,"token":{"address":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","symbol":"USDC","decimals":6},"queried":1,"failed":0,"totalBalance":"1234.56","holders":[{"address":"0x0000000000000000000000000000000000000001","raw":"1234560000","balance":"1234.56"}]}}}},"402":{"description":"Payment Required"}}}},"/x402/onchain_portfolio":{"post":{"operationId":"onchain_portfolio","summary":"On-chain Portfolio (USD-valued)","description":"USD-valued portfolio for a wallet on Base, priced from Chainlink on-chain oracles.\n\nReads the wallet's native ETH plus major ERC-20 balances, reads each asset's Chainlink USD aggregator directly on-chain, and returns holdings with per-asset prices and dollar values, sorted largest first, stamped with the block height.\n\nPrices come from Chainlink contracts rather than a price API, so there is no vendor key, no rate limit, and no third-party terms attached to the result.\n\nCovered assets: ETH (native), WETH, USDC, cbBTC. Zero-balance assets are listed in \"emptyAssets\" rather than cluttering holdings.\n\nWhen to use: valuing a wallet, treasury reporting, checking what an address actually holds in dollar terms.\n\nWhen NOT to use: you need an exhaustive scan of every token a wallet has ever received (this checks a curated major-asset set, not an indexer), LP or staked positions, NFTs, or chains other than Base.\n\nArgs:\n  - address (string, required): the wallet address to value.\n\nReturns structuredContent:\n  {\n    \"address\": \"0x...\", \"chain\": \"base\", \"chainId\": 8453, \"blockNumber\": 49976942,\n    \"holdings\": [\n      { \"symbol\": \"ETH\", \"kind\": \"native\", \"address\": null,\n        \"raw\": \"1500000000000000000\", \"balance\": \"1.5\",\n        \"priceUsd\": 3120.44, \"valueUsd\": 4680.66 }\n    ],\n    \"totalValueUsd\": 4680.66,\n    \"emptyAssets\": [\"cbBTC\"],\n    \"priceSource\": \"Chainlink on-chain price feeds (Base)\"\n  }\n\nIf every balance read fails the call errors and is not billed; a genuinely empty wallet returns an\nempty holdings list with totalValueUsd 0.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.02"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"Wallet address on Base."}},"required":["address"]},"example":{"address":"0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"address":"0x0000000000000000000000000000000000000001","chain":"base","chainId":8453,"totalValueUsd":4680.66,"holdings":[{"symbol":"ETH","kind":"native","balance":"1.5","priceUsd":3120.44,"valueUsd":4680.66}],"priceSource":"Chainlink on-chain price feeds (Base)"}}}},"402":{"description":"Payment Required"}}}},"/x402/onchain_cross_chain_balances":{"post":{"operationId":"onchain_cross_chain_balances","summary":"Cross-chain Token Balance","description":"The same token's balance for one address across multiple EVM chains, in a single call.\n\nUSDC (and similar assets) has a DIFFERENT contract address on every chain; checking a wallet's total position means resolving each chain's canonical address and querying it separately. This does that and sums the total, so a multi-chain treasury view does not require N separate calls.\n\nSupported chains: base, ethereum, optimism, arbitrum, polygon. Supported tokens: USDC (more may be added over time).\n\nWhen to use: totaling a stablecoin position spread across chains, treasury reporting for a multi-chain operation, checking where a wallet's funds actually sit.\n\nWhen NOT to use: you only care about one chain (use onchain_token_balances, which is cheaper), or a token not in the supported set.\n\nArgs:\n  - address (string, required): the wallet address to check.\n  - token (string, optional, default \"USDC\"): which token to check across chains.\n  - chains (string[], optional): which chains to include. Defaults to all five supported chains.\n\nReturns structuredContent:\n  {\n    \"address\": \"0x...\", \"token\": { \"symbol\": \"USDC\", \"decimals\": 6 },\n    \"totalBalance\": \"1234.56\",\n    \"chains\": [\n      { \"chain\": \"base\", \"chainId\": 8453, \"raw\": \"1000000000\", \"balance\": \"1000\", \"failed\": false },\n      { \"chain\": \"ethereum\", \"chainId\": 1, \"raw\": \"234560000\", \"balance\": \"234.56\", \"failed\": false }\n    ]\n  }\n\nA chain that could not be read reports failed: true with null balances rather than a misleading 0;\nif every chain fails the call errors and is not billed.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.015"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string","description":"Wallet address."},"token":{"type":"string","description":"Token symbol, default \"USDC\"."},"chains":{"type":"array","items":{"type":"string"},"description":"Chains to include."}},"required":["address"]},"example":{"address":"0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045","token":"USDC","chains":["base","ethereum"]}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"address":"0x0000000000000000000000000000000000000001","token":{"symbol":"USDC","decimals":6},"totalBalance":"1234.56","chains":[{"chain":"base","chainId":8453,"balance":"1000","failed":false}]}}}},"402":{"description":"Payment Required"}}}},"/x402/onchain_oracle_price":{"post":{"operationId":"onchain_oracle_price","summary":"Chainlink Oracle Price","description":"Read any Chainlink price feed directly on-chain — a named pair or a raw feed address.\n\nCalls latestRoundData on the feed contract itself, so there is no price-API vendor, no rate limit, and no key. Includes the feed's last-updated timestamp and its age in seconds, so you can judge staleness yourself rather than trusting an unlabeled number.\n\nKnown named pairs on Base: ETH/USD, BTC/USD, USDC/USD. Any other feed address on any supported chain also works.\n\nWhen to use: getting a specific asset's price without depending on a centralized price API, verifying a feed is fresh before using it, cross-checking a price from another source.\n\nWhen NOT to use: you need a token that has no Chainlink feed (use onchain_portfolio's covered set, or a DEX quote instead), or historical/point-in-time prices.\n\nArgs:\n  - pair (string, required): a named pair (e.g. \"ETH/USD\") or a raw feed contract address (0x...).\n  - chain (string, optional, default \"base\"): base | ethereum | optimism | arbitrum | polygon.\n\nReturns structuredContent:\n  {\n    \"chain\": \"base\", \"feed\": \"0x71041dddad3595F9CEd3DcCFBe3D1F4b0a16Bb70\",\n    \"pair\": \"ETH/USD\", \"price\": 1877.86, \"decimals\": 8,\n    \"updatedAt\": \"2026-08-14T12:00:00.000Z\", \"ageSeconds\": 120,\n    \"source\": \"Chainlink on-chain price feed\"\n  }","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.002"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"pair":{"type":"string","description":"Named pair (e.g. \"ETH/USD\") or feed address."},"chain":{"type":"string","description":"Chain the feed lives on; defaults to base."}},"required":["pair"]},"example":{"pair":"ETH/USD","chain":"base"}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"chain":"base","pair":"ETH/USD","price":1877.86,"decimals":8,"ageSeconds":120}}}},"402":{"description":"Payment Required"}}}},"/x402/onchain_gas":{"post":{"operationId":"onchain_gas","summary":"Multi-chain Gas Price","description":"Current gas price across multiple EVM chains in a single call.\n\nReads eth_gasPrice on every requested chain in parallel and returns gwei, so you do not have to query each chain's RPC separately and convert units yourself.\n\nSupported chains: base, ethereum, optimism, arbitrum, polygon.\n\nWhen to use: choosing the cheapest chain to transact on right now, cost estimation before submitting a transaction, monitoring for a low-gas window.\n\nWhen NOT to use: you need an EIP-1559 fee breakdown (base fee vs priority fee) rather than a single legacy gas price, or historical gas data.\n\nArgs:\n  - chains (string[], optional): which chains to check. Defaults to all five supported chains.\n\nReturns structuredContent:\n  {\n    \"chains\": [\n      { \"chain\": \"base\", \"chainId\": 8453, \"gasPriceGwei\": 0.006 },\n      { \"chain\": \"ethereum\", \"chainId\": 1, \"gasPriceGwei\": 0.0986 },\n      { \"chain\": \"polygon\", \"chainId\": 137, \"gasPriceGwei\": 278.97 }\n    ],\n    \"source\": \"Live RPC eth_gasPrice, each chain's public network\"\n  }\n\nA chain whose RPC could not be reached returns gasPriceGwei null rather than a stale or fabricated\nvalue; if every requested chain fails the call errors and is not billed.","x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.001"},"protocols":[{"x402":{}}]},"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"chains":{"type":"array","items":{"type":"string"},"description":"Chains to check; defaults to all five."}}},"example":{"chains":["base","ethereum"]}}}},"responses":{"200":{"description":"Tool result as JSON.","content":{"application/json":{"schema":{"type":"object"},"example":{"chains":[{"chain":"base","chainId":8453,"gasPriceGwei":0.006},{"chain":"ethereum","chainId":1,"gasPriceGwei":0.0986}]}}}},"402":{"description":"Payment Required"}}}}}}