{"openapi":"3.1.0","info":{"title":"Genuine Good Grants / Genuine Good Grants API","version":"1.0.0","description":"Independent paid API for current U.S. federal grant discovery using Grants.gov public records. This product uses the Grants.gov API but is not endorsed or certified by the U.S. Department of Health and Human Services.","termsOfService":"https://genuinegood.online/terms","contact":{"name":"Genuine Good Grants","email":"hello@genuinegood.online","url":"https://genuinegood.online/grants"},"x-guidance":"Use the POST form of the six /v1/grants routes. Send JSON without PAYMENT-SIGNATURE first to receive a 402 response, then sign the accepted Base USDC x402 option and retry the identical request. Five grant tools cost $5 USDC per request; the non-renewing 30-day pass costs $15 and supports up to 1,000 calls. See /grants/quickstart."},"servers":[{"url":"https://genuinegood.online"}],"paths":{"/v1/grants/search":{"post":{"operationId":"federal-grant-search","summary":"U.S. Federal Grant Opportunity Search","description":"Search current Grants.gov opportunities with normalized deadlines, days remaining, agency, status, assistance listing numbers, and official source links. Payment flow: send the request without PAYMENT-SIGNATURE, read PAYMENT-REQUIRED from the 402 response, sign one accepted option, then retry the identical request with PAYMENT-SIGNATURE.","tags":["grants","funding","deadline","eligibility","Grants.gov"],"x-x402":{"version":2,"scheme":"exact","network":"eip155:8453","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","amount":"50000","priceUsd":"0.05"},"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.050000"}},"parameters":[{"name":"PAYMENT-SIGNATURE","in":"header","required":false,"description":"Base64-encoded x402 v2 payment payload. First call without this header to receive PAYMENT-REQUIRED, then retry the same request with the signed payload.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"keyword":{"type":"string","description":"Plain-language mission or funding topic"},"statuses":{"type":"array","items":{"enum":["posted","forecasted","closed","archived"]}},"rows":{"type":"integer","minimum":1,"maximum":25},"agencies":{"type":"array","items":{"type":"string","minLength":1,"maxLength":40},"description":"Optional Grants.gov agency codes"},"eligibilityCodes":{"type":"array","items":{"type":"string"}},"fundingCategories":{"type":"array","items":{"type":"string","minLength":1,"maxLength":40},"description":"Optional Grants.gov funding activity category codes"},"fundingInstruments":{"type":"array","items":{"type":"string","minLength":1,"maxLength":40},"description":"Optional Grants.gov funding instrument codes"}},"required":["keyword"],"additionalProperties":false}}}},"responses":{"200":{"description":"Paid result","headers":{"PAYMENT-RESPONSE":{"description":"Base64-encoded x402 settlement response for a successful paid retry","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","required":["query","totalMatches","opportunities","source","caveat"],"properties":{"query":{"type":"object"},"totalMatches":{"type":"integer","minimum":0},"opportunities":{"type":"array","items":{"type":"object","required":["id","title","officialUrl"],"properties":{"id":{"type":"string"},"title":{"type":"string"},"agency":{"type":"string"},"status":{"type":"string"},"deadline":{"type":["string","null"]},"closeDate":{"type":["string","null"]},"daysRemaining":{"type":["integer","null"]},"officialUrl":{"type":"string","format":"uri"}},"additionalProperties":true}},"source":{"type":"object","required":["publisher","api","accessedAt"],"properties":{"publisher":{"type":"string","const":"Grants.gov"},"api":{"type":"string","format":"uri"},"accessedAt":{"type":"string","format":"date-time"},"terms":{"type":"string","format":"uri"}},"additionalProperties":true},"caveat":{"type":"string"}},"additionalProperties":true}}}},"402":{"description":"x402 payment required: 0.05 USDC on Base mainnet","headers":{"PAYMENT-REQUIRED":{"description":"Base64-encoded x402 v2 payment requirements","schema":{"type":"string"}}}}}},"get":{"operationId":"federal-grant-search-get","summary":"U.S. Federal Grant Opportunity Search","description":"Search current Grants.gov opportunities with normalized deadlines, days remaining, agency, status, assistance listing numbers, and official source links. GET compatibility accepts the same input as query parameters. Array values may be comma-separated.","tags":["grants","funding","deadline","eligibility","Grants.gov"],"x-x402":{"version":2,"scheme":"exact","network":"eip155:8453","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","amount":"50000","priceUsd":"0.05"},"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.050000"}},"parameters":[{"name":"keyword","in":"query","required":true,"schema":{"type":"string","description":"Plain-language mission or funding topic"}},{"name":"statuses","in":"query","required":false,"schema":{"type":"array","items":{"enum":["posted","forecasted","closed","archived"]}},"style":"form","explode":false},{"name":"rows","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":25}},{"name":"agencies","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","minLength":1,"maxLength":40},"description":"Optional Grants.gov agency codes"},"style":"form","explode":false},{"name":"eligibilityCodes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":false},{"name":"fundingCategories","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","minLength":1,"maxLength":40},"description":"Optional Grants.gov funding activity category codes"},"style":"form","explode":false},{"name":"fundingInstruments","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","minLength":1,"maxLength":40},"description":"Optional Grants.gov funding instrument codes"},"style":"form","explode":false},{"name":"PAYMENT-SIGNATURE","in":"header","required":false,"description":"Base64-encoded x402 v2 payment payload. First call without this header to receive PAYMENT-REQUIRED, then retry the same request with the signed payload.","schema":{"type":"string"}}],"responses":{"200":{"description":"Paid result","headers":{"PAYMENT-RESPONSE":{"description":"Base64-encoded x402 settlement response for a successful paid retry","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","required":["query","totalMatches","opportunities","source","caveat"],"properties":{"query":{"type":"object"},"totalMatches":{"type":"integer","minimum":0},"opportunities":{"type":"array","items":{"type":"object","required":["id","title","officialUrl"],"properties":{"id":{"type":"string"},"title":{"type":"string"},"agency":{"type":"string"},"status":{"type":"string"},"deadline":{"type":["string","null"]},"closeDate":{"type":["string","null"]},"daysRemaining":{"type":["integer","null"]},"officialUrl":{"type":"string","format":"uri"}},"additionalProperties":true}},"source":{"type":"object","required":["publisher","api","accessedAt"],"properties":{"publisher":{"type":"string","const":"Grants.gov"},"api":{"type":"string","format":"uri"},"accessedAt":{"type":"string","format":"date-time"},"terms":{"type":"string","format":"uri"}},"additionalProperties":true},"caveat":{"type":"string"}},"additionalProperties":true}}}},"402":{"description":"x402 payment required: 0.05 USDC on Base mainnet","headers":{"PAYMENT-REQUIRED":{"description":"Base64-encoded x402 v2 payment requirements","schema":{"type":"string"}}}}}}},"/v1/grants/detail":{"post":{"operationId":"federal-grant-detail","summary":"U.S. Federal Grant Opportunity Detail","description":"Retrieve an official Grants.gov opportunity with normalized applicant types, eligibility text, award range, deadline, categories, and provenance. Payment flow: send the request without PAYMENT-SIGNATURE, read PAYMENT-REQUIRED from the 402 response, sign one accepted option, then retry the identical request with PAYMENT-SIGNATURE.","tags":["grant detail","eligibility","award ceiling","deadline","Grants.gov"],"x-x402":{"version":2,"scheme":"exact","network":"eip155:8453","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","amount":"80000","priceUsd":"0.08"},"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.080000"}},"parameters":[{"name":"PAYMENT-SIGNATURE","in":"header","required":false,"description":"Base64-encoded x402 v2 payment payload. First call without this header to receive PAYMENT-REQUIRED, then retry the same request with the signed payload.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"opportunityId":{"type":"integer","minimum":1}},"required":["opportunityId"],"additionalProperties":false}}}},"responses":{"200":{"description":"Paid result","headers":{"PAYMENT-RESPONSE":{"description":"Base64-encoded x402 settlement response for a successful paid retry","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","required":["id","title","officialUrl","source"],"properties":{"id":{"type":"string"},"title":{"type":"string"},"agency":{"type":"string"},"status":{"type":"string"},"deadline":{"type":["string","null"]},"closeDate":{"type":["string","null"]},"daysRemaining":{"type":["integer","null"]},"officialUrl":{"type":"string","format":"uri"},"source":{"type":"object","required":["publisher","api","accessedAt"],"properties":{"publisher":{"type":"string","const":"Grants.gov"},"api":{"type":"string","format":"uri"},"accessedAt":{"type":"string","format":"date-time"},"terms":{"type":"string","format":"uri"}},"additionalProperties":true}},"additionalProperties":true}}}},"402":{"description":"x402 payment required: 0.08 USDC on Base mainnet","headers":{"PAYMENT-REQUIRED":{"description":"Base64-encoded x402 v2 payment requirements","schema":{"type":"string"}}}}}},"get":{"operationId":"federal-grant-detail-get","summary":"U.S. Federal Grant Opportunity Detail","description":"Retrieve an official Grants.gov opportunity with normalized applicant types, eligibility text, award range, deadline, categories, and provenance. GET compatibility accepts the same input as query parameters. Array values may be comma-separated.","tags":["grant detail","eligibility","award ceiling","deadline","Grants.gov"],"x-x402":{"version":2,"scheme":"exact","network":"eip155:8453","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","amount":"80000","priceUsd":"0.08"},"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.080000"}},"parameters":[{"name":"opportunityId","in":"query","required":true,"schema":{"type":"integer","minimum":1}},{"name":"PAYMENT-SIGNATURE","in":"header","required":false,"description":"Base64-encoded x402 v2 payment payload. First call without this header to receive PAYMENT-REQUIRED, then retry the same request with the signed payload.","schema":{"type":"string"}}],"responses":{"200":{"description":"Paid result","headers":{"PAYMENT-RESPONSE":{"description":"Base64-encoded x402 settlement response for a successful paid retry","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","required":["id","title","officialUrl","source"],"properties":{"id":{"type":"string"},"title":{"type":"string"},"agency":{"type":"string"},"status":{"type":"string"},"deadline":{"type":["string","null"]},"closeDate":{"type":["string","null"]},"daysRemaining":{"type":["integer","null"]},"officialUrl":{"type":"string","format":"uri"},"source":{"type":"object","required":["publisher","api","accessedAt"],"properties":{"publisher":{"type":"string","const":"Grants.gov"},"api":{"type":"string","format":"uri"},"accessedAt":{"type":"string","format":"date-time"},"terms":{"type":"string","format":"uri"}},"additionalProperties":true}},"additionalProperties":true}}}},"402":{"description":"x402 payment required: 0.08 USDC on Base mainnet","headers":{"PAYMENT-REQUIRED":{"description":"Base64-encoded x402 v2 payment requirements","schema":{"type":"string"}}}}}}},"/v1/grants/fit":{"post":{"operationId":"grant-eligibility-fit","summary":"Federal Grant Mission Fit","description":"Rank current U.S. federal opportunities against a mission profile using transparent keyword, deadline, and applicant-type signals; returns reasons and official records. Payment flow: send the request without PAYMENT-SIGNATURE, read PAYMENT-REQUIRED from the 402 response, sign one accepted option, then retry the identical request with PAYMENT-SIGNATURE.","tags":["grant matching","funding fit","eligibility screening","deadline","nonprofit"],"x-x402":{"version":2,"scheme":"exact","network":"eip155:8453","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","amount":"200000","priceUsd":"0.20"},"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.200000"}},"parameters":[{"name":"PAYMENT-SIGNATURE","in":"header","required":false,"description":"Base64-encoded x402 v2 payment payload. First call without this header to receive PAYMENT-REQUIRED, then retry the same request with the signed payload.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"mission":{"type":"string","minLength":5},"keywords":{"type":"array","minItems":1,"maxItems":12,"items":{"type":"string"}},"eligibilityCodes":{"type":"array","items":{"type":"string"}},"deadlineDays":{"type":"integer","minimum":7,"maximum":365},"resultLimit":{"type":"integer","minimum":1,"maximum":10}},"required":["mission","keywords"],"additionalProperties":false}}}},"responses":{"200":{"description":"Paid result","headers":{"PAYMENT-RESPONSE":{"description":"Base64-encoded x402 settlement response for a successful paid retry","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","required":["profile","matches","evaluatedCount","source","caveat"],"properties":{"profile":{"type":"object"},"matches":{"type":"array","items":{"type":"object","required":["id","title","officialUrl"],"properties":{"id":{"type":"string"},"title":{"type":"string"},"agency":{"type":"string"},"status":{"type":"string"},"deadline":{"type":["string","null"]},"closeDate":{"type":["string","null"]},"daysRemaining":{"type":["integer","null"]},"officialUrl":{"type":"string","format":"uri"}},"additionalProperties":true}},"evaluatedCount":{"type":"integer","minimum":0},"source":{"type":"object","required":["publisher","api","accessedAt"],"properties":{"publisher":{"type":"string","const":"Grants.gov"},"api":{"type":"string","format":"uri"},"accessedAt":{"type":"string","format":"date-time"},"terms":{"type":"string","format":"uri"}},"additionalProperties":true},"caveat":{"type":"string"}},"additionalProperties":true}}}},"402":{"description":"x402 payment required: 0.20 USDC on Base mainnet","headers":{"PAYMENT-REQUIRED":{"description":"Base64-encoded x402 v2 payment requirements","schema":{"type":"string"}}}}}},"get":{"operationId":"grant-eligibility-fit-get","summary":"Federal Grant Mission Fit","description":"Rank current U.S. federal opportunities against a mission profile using transparent keyword, deadline, and applicant-type signals; returns reasons and official records. GET compatibility accepts the same input as query parameters. Array values may be comma-separated.","tags":["grant matching","funding fit","eligibility screening","deadline","nonprofit"],"x-x402":{"version":2,"scheme":"exact","network":"eip155:8453","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","amount":"200000","priceUsd":"0.20"},"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.200000"}},"parameters":[{"name":"mission","in":"query","required":true,"schema":{"type":"string","minLength":5}},{"name":"keywords","in":"query","required":true,"schema":{"type":"array","minItems":1,"maxItems":12,"items":{"type":"string"}},"style":"form","explode":false},{"name":"eligibilityCodes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":false},{"name":"deadlineDays","in":"query","required":false,"schema":{"type":"integer","minimum":7,"maximum":365}},{"name":"resultLimit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":10}},{"name":"PAYMENT-SIGNATURE","in":"header","required":false,"description":"Base64-encoded x402 v2 payment payload. First call without this header to receive PAYMENT-REQUIRED, then retry the same request with the signed payload.","schema":{"type":"string"}}],"responses":{"200":{"description":"Paid result","headers":{"PAYMENT-RESPONSE":{"description":"Base64-encoded x402 settlement response for a successful paid retry","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","required":["profile","matches","evaluatedCount","source","caveat"],"properties":{"profile":{"type":"object"},"matches":{"type":"array","items":{"type":"object","required":["id","title","officialUrl"],"properties":{"id":{"type":"string"},"title":{"type":"string"},"agency":{"type":"string"},"status":{"type":"string"},"deadline":{"type":["string","null"]},"closeDate":{"type":["string","null"]},"daysRemaining":{"type":["integer","null"]},"officialUrl":{"type":"string","format":"uri"}},"additionalProperties":true}},"evaluatedCount":{"type":"integer","minimum":0},"source":{"type":"object","required":["publisher","api","accessedAt"],"properties":{"publisher":{"type":"string","const":"Grants.gov"},"api":{"type":"string","format":"uri"},"accessedAt":{"type":"string","format":"date-time"},"terms":{"type":"string","format":"uri"}},"additionalProperties":true},"caveat":{"type":"string"}},"additionalProperties":true}}}},"402":{"description":"x402 payment required: 0.20 USDC on Base mainnet","headers":{"PAYMENT-REQUIRED":{"description":"Base64-encoded x402 v2 payment requirements","schema":{"type":"string"}}}}}}},"/v1/grants/brief":{"post":{"operationId":"grant-opportunity-brief","summary":"Federal Grant Opportunity Brief","description":"Produce a sourced agent-ready brief of up to ten current U.S. federal grant matches, eligibility signals, deadline urgency, award ranges, and next actions. Payment flow: send the request without PAYMENT-SIGNATURE, read PAYMENT-REQUIRED from the 402 response, sign one accepted option, then retry the identical request with PAYMENT-SIGNATURE.","tags":["grant brief","funding opportunities","eligibility","deadline calendar","research"],"x-x402":{"version":2,"scheme":"exact","network":"eip155:8453","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","amount":"500000","priceUsd":"0.50"},"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.500000"}},"parameters":[{"name":"PAYMENT-SIGNATURE","in":"header","required":false,"description":"Base64-encoded x402 v2 payment payload. First call without this header to receive PAYMENT-REQUIRED, then retry the same request with the signed payload.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"mission":{"type":"string","minLength":5},"keywords":{"type":"array","minItems":1,"maxItems":12,"items":{"type":"string"}},"eligibilityCodes":{"type":"array","items":{"type":"string"}},"deadlineDays":{"type":"integer","minimum":7,"maximum":365}},"required":["mission","keywords"],"additionalProperties":false}}}},"responses":{"200":{"description":"Paid result","headers":{"PAYMENT-RESPONSE":{"description":"Base64-encoded x402 settlement response for a successful paid retry","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","required":["generatedAt","headline","urgentDeadlinesWithin30Days","opportunities","nextActions","source","caveat"],"properties":{"generatedAt":{"type":"string","format":"date-time"},"headline":{"type":"string"},"urgentDeadlinesWithin30Days":{"type":"integer","minimum":0},"opportunities":{"type":"array","items":{"type":"object","required":["id","title","officialUrl"],"properties":{"id":{"type":"string"},"title":{"type":"string"},"agency":{"type":"string"},"status":{"type":"string"},"deadline":{"type":["string","null"]},"closeDate":{"type":["string","null"]},"daysRemaining":{"type":["integer","null"]},"officialUrl":{"type":"string","format":"uri"}},"additionalProperties":true}},"nextActions":{"type":"array","items":{"type":"string"}},"source":{"type":"object","required":["publisher","api","accessedAt"],"properties":{"publisher":{"type":"string","const":"Grants.gov"},"api":{"type":"string","format":"uri"},"accessedAt":{"type":"string","format":"date-time"},"terms":{"type":"string","format":"uri"}},"additionalProperties":true},"caveat":{"type":"string"}},"additionalProperties":true}}}},"402":{"description":"x402 payment required: 0.50 USDC on Base mainnet","headers":{"PAYMENT-REQUIRED":{"description":"Base64-encoded x402 v2 payment requirements","schema":{"type":"string"}}}}}},"get":{"operationId":"grant-opportunity-brief-get","summary":"Federal Grant Opportunity Brief","description":"Produce a sourced agent-ready brief of up to ten current U.S. federal grant matches, eligibility signals, deadline urgency, award ranges, and next actions. GET compatibility accepts the same input as query parameters. Array values may be comma-separated.","tags":["grant brief","funding opportunities","eligibility","deadline calendar","research"],"x-x402":{"version":2,"scheme":"exact","network":"eip155:8453","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","amount":"500000","priceUsd":"0.50"},"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.500000"}},"parameters":[{"name":"mission","in":"query","required":true,"schema":{"type":"string","minLength":5}},{"name":"keywords","in":"query","required":true,"schema":{"type":"array","minItems":1,"maxItems":12,"items":{"type":"string"}},"style":"form","explode":false},{"name":"eligibilityCodes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":false},{"name":"deadlineDays","in":"query","required":false,"schema":{"type":"integer","minimum":7,"maximum":365}},{"name":"PAYMENT-SIGNATURE","in":"header","required":false,"description":"Base64-encoded x402 v2 payment payload. First call without this header to receive PAYMENT-REQUIRED, then retry the same request with the signed payload.","schema":{"type":"string"}}],"responses":{"200":{"description":"Paid result","headers":{"PAYMENT-RESPONSE":{"description":"Base64-encoded x402 settlement response for a successful paid retry","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","required":["generatedAt","headline","urgentDeadlinesWithin30Days","opportunities","nextActions","source","caveat"],"properties":{"generatedAt":{"type":"string","format":"date-time"},"headline":{"type":"string"},"urgentDeadlinesWithin30Days":{"type":"integer","minimum":0},"opportunities":{"type":"array","items":{"type":"object","required":["id","title","officialUrl"],"properties":{"id":{"type":"string"},"title":{"type":"string"},"agency":{"type":"string"},"status":{"type":"string"},"deadline":{"type":["string","null"]},"closeDate":{"type":["string","null"]},"daysRemaining":{"type":["integer","null"]},"officialUrl":{"type":"string","format":"uri"}},"additionalProperties":true}},"nextActions":{"type":"array","items":{"type":"string"}},"source":{"type":"object","required":["publisher","api","accessedAt"],"properties":{"publisher":{"type":"string","const":"Grants.gov"},"api":{"type":"string","format":"uri"},"accessedAt":{"type":"string","format":"date-time"},"terms":{"type":"string","format":"uri"}},"additionalProperties":true},"caveat":{"type":"string"}},"additionalProperties":true}}}},"402":{"description":"x402 payment required: 0.50 USDC on Base mainnet","headers":{"PAYMENT-REQUIRED":{"description":"Base64-encoded x402 v2 payment requirements","schema":{"type":"string"}}}}}}},"/v1/grants/preflight":{"post":{"operationId":"federal-grant-shortlist-preflight","summary":"Federal Grant Shortlist Preflight","description":"Run deterministic rule-based checks over up to five retrieved Grants.gov notices: deadline horizon, listed applicant-type code intersection, source-field completeness, and official-notice verification flags. Payment flow: send the request without PAYMENT-SIGNATURE, read PAYMENT-REQUIRED from the 402 response, sign one accepted option, then retry the identical request with PAYMENT-SIGNATURE.","tags":["grant preflight","shortlist","deadline","provenance","Grants.gov"],"x-x402":{"version":2,"scheme":"exact","network":"eip155:8453","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","amount":"5000000","priceUsd":"5.00"},"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"5.000000"}},"parameters":[{"name":"PAYMENT-SIGNATURE","in":"header","required":false,"description":"Base64-encoded x402 v2 payment payload. First call without this header to receive PAYMENT-REQUIRED, then retry the same request with the signed payload.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"opportunityIds":{"type":"array","minItems":1,"maxItems":5,"uniqueItems":true,"items":{"type":"integer","minimum":1}},"applicantTypeCodes":{"type":"array","maxItems":12,"items":{"type":"string","minLength":1,"maxLength":40}},"deadlineHorizonDays":{"type":"integer","minimum":7,"maximum":365,"default":60}},"required":["opportunityIds"],"additionalProperties":false}}}},"responses":{"200":{"description":"Paid result","headers":{"PAYMENT-RESPONSE":{"description":"Base64-encoded x402 settlement response for a successful paid retry","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","required":["generatedAt","request","evaluatedCount","results","caveat","attribution"],"properties":{"generatedAt":{"type":"string","format":"date-time"},"request":{"type":"object","properties":{"opportunityIds":{"type":"array","minItems":1,"maxItems":5,"uniqueItems":true,"items":{"type":"integer","minimum":1}},"applicantTypeCodes":{"type":"array","maxItems":12,"items":{"type":"string","minLength":1,"maxLength":40}},"deadlineHorizonDays":{"type":"integer","minimum":7,"maximum":365,"default":60}},"required":["opportunityIds"],"additionalProperties":false},"evaluatedCount":{"type":"integer","minimum":0,"maximum":5},"results":{"type":"array","maxItems":5,"items":{"type":"object","required":["opportunityId","screening","official","source"],"properties":{"opportunityId":{"type":"string"},"screening":{"type":"object","required":["deadlineState","applicantTypeSignal","eligibilityTextState","awardRangeState","costSharingState","officialNoticeVerificationRequired","manualReviewRequired","flags"],"properties":{"deadlineState":{"type":"string","enum":["past_due","within_horizon","outside_horizon","ongoing","unknown"]},"applicantTypeSignal":{"type":"string","enum":["listed_code_intersects","no_listed_code_intersection","not_checked"]},"eligibilityTextState":{"type":"string","enum":["present","missing"]},"awardRangeState":{"type":"string","enum":["complete","partial","missing"]},"costSharingState":{"type":"string","enum":["required","not_required","unknown"]},"officialNoticeVerificationRequired":{"type":"boolean","const":true,"description":"The buyer must verify the result against the complete official notice before acting."},"manualReviewRequired":{"type":"boolean","const":true,"deprecated":true,"description":"Legacy compatibility field. True means official-notice verification is required; it does not promise human review."},"flags":{"type":"array","items":{"type":"string"}}},"additionalProperties":false},"official":{"type":"object","additionalProperties":true},"source":{"type":"object","required":["publisher","api","accessedAt"],"properties":{"publisher":{"type":"string","const":"Grants.gov"},"api":{"type":"string","format":"uri"},"accessedAt":{"type":"string","format":"date-time"},"terms":{"type":"string","format":"uri"}},"additionalProperties":true}},"additionalProperties":false}},"caveat":{"type":"string","const":"Deterministic rule-based checks over the retrieved Grants.gov notice only. Applicant-type results report listed-code intersection, not eligibility. This is not an eligibility determination, legal opinion, award prediction, or government endorsement."},"attribution":{"type":"string","const":"This product uses the Grants.gov API but is not endorsed or certified by the U.S. Department of Health and Human Services."}},"additionalProperties":false}}}},"402":{"description":"x402 payment required: 5.00 USDC on Base mainnet","headers":{"PAYMENT-REQUIRED":{"description":"Base64-encoded x402 v2 payment requirements","schema":{"type":"string"}}}}}},"get":{"operationId":"federal-grant-shortlist-preflight-get","summary":"Federal Grant Shortlist Preflight","description":"Run deterministic rule-based checks over up to five retrieved Grants.gov notices: deadline horizon, listed applicant-type code intersection, source-field completeness, and official-notice verification flags. GET compatibility accepts the same input as query parameters. Array values may be comma-separated.","tags":["grant preflight","shortlist","deadline","provenance","Grants.gov"],"x-x402":{"version":2,"scheme":"exact","network":"eip155:8453","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","amount":"5000000","priceUsd":"5.00"},"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"5.000000"}},"parameters":[{"name":"opportunityIds","in":"query","required":true,"schema":{"type":"array","minItems":1,"maxItems":5,"uniqueItems":true,"items":{"type":"integer","minimum":1}},"style":"form","explode":false},{"name":"applicantTypeCodes","in":"query","required":false,"schema":{"type":"array","maxItems":12,"items":{"type":"string","minLength":1,"maxLength":40}},"style":"form","explode":false},{"name":"deadlineHorizonDays","in":"query","required":false,"schema":{"type":"integer","minimum":7,"maximum":365,"default":60}},{"name":"PAYMENT-SIGNATURE","in":"header","required":false,"description":"Base64-encoded x402 v2 payment payload. First call without this header to receive PAYMENT-REQUIRED, then retry the same request with the signed payload.","schema":{"type":"string"}}],"responses":{"200":{"description":"Paid result","headers":{"PAYMENT-RESPONSE":{"description":"Base64-encoded x402 settlement response for a successful paid retry","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","required":["generatedAt","request","evaluatedCount","results","caveat","attribution"],"properties":{"generatedAt":{"type":"string","format":"date-time"},"request":{"type":"object","properties":{"opportunityIds":{"type":"array","minItems":1,"maxItems":5,"uniqueItems":true,"items":{"type":"integer","minimum":1}},"applicantTypeCodes":{"type":"array","maxItems":12,"items":{"type":"string","minLength":1,"maxLength":40}},"deadlineHorizonDays":{"type":"integer","minimum":7,"maximum":365,"default":60}},"required":["opportunityIds"],"additionalProperties":false},"evaluatedCount":{"type":"integer","minimum":0,"maximum":5},"results":{"type":"array","maxItems":5,"items":{"type":"object","required":["opportunityId","screening","official","source"],"properties":{"opportunityId":{"type":"string"},"screening":{"type":"object","required":["deadlineState","applicantTypeSignal","eligibilityTextState","awardRangeState","costSharingState","officialNoticeVerificationRequired","manualReviewRequired","flags"],"properties":{"deadlineState":{"type":"string","enum":["past_due","within_horizon","outside_horizon","ongoing","unknown"]},"applicantTypeSignal":{"type":"string","enum":["listed_code_intersects","no_listed_code_intersection","not_checked"]},"eligibilityTextState":{"type":"string","enum":["present","missing"]},"awardRangeState":{"type":"string","enum":["complete","partial","missing"]},"costSharingState":{"type":"string","enum":["required","not_required","unknown"]},"officialNoticeVerificationRequired":{"type":"boolean","const":true,"description":"The buyer must verify the result against the complete official notice before acting."},"manualReviewRequired":{"type":"boolean","const":true,"deprecated":true,"description":"Legacy compatibility field. True means official-notice verification is required; it does not promise human review."},"flags":{"type":"array","items":{"type":"string"}}},"additionalProperties":false},"official":{"type":"object","additionalProperties":true},"source":{"type":"object","required":["publisher","api","accessedAt"],"properties":{"publisher":{"type":"string","const":"Grants.gov"},"api":{"type":"string","format":"uri"},"accessedAt":{"type":"string","format":"date-time"},"terms":{"type":"string","format":"uri"}},"additionalProperties":true}},"additionalProperties":false}},"caveat":{"type":"string","const":"Deterministic rule-based checks over the retrieved Grants.gov notice only. Applicant-type results report listed-code intersection, not eligibility. This is not an eligibility determination, legal opinion, award prediction, or government endorsement."},"attribution":{"type":"string","const":"This product uses the Grants.gov API but is not endorsed or certified by the U.S. Department of Health and Human Services."}},"additionalProperties":false}}}},"402":{"description":"x402 payment required: 5.00 USDC on Base mainnet","headers":{"PAYMENT-REQUIRED":{"description":"Base64-encoded x402 v2 payment requirements","schema":{"type":"string"}}}}}}},"/v1/grants/pass":{"post":{"operationId":"grant-api-30-day-pass","summary":"Genuine Good Grants API 30-Day API Pass","description":"Activate 30 days of bearer-token access to every Genuine Good Grants API tool, subject to a 1,000-request fair-use limit. The client supplies its own random token; Genuine Good stores only its SHA-256 hash. Payment flow: send the request without PAYMENT-SIGNATURE, read PAYMENT-REQUIRED from the 402 response, sign one accepted option, then retry the identical request with PAYMENT-SIGNATURE.","tags":["API pass","30-day access","non-renewing access","bearer token","USDC"],"x-x402":{"version":2,"scheme":"exact","network":"eip155:8453","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","amount":"15000000","priceUsd":"15.00"},"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"15.000000"}},"parameters":[{"name":"PAYMENT-SIGNATURE","in":"header","required":false,"description":"Base64-encoded x402 v2 payment payload. First call without this header to receive PAYMENT-REQUIRED, then retry the same request with the signed payload.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"activationId":{"type":"string","format":"uuid","description":"Client-generated idempotency key; also include it as the activationId query parameter."},"token":{"type":"string","pattern":"^ggp_[A-Za-z0-9_-]{43}$","description":"Client-generated token: ggp_ plus 32 random base64url bytes. Store it securely; Genuine Good stores only its hash."}},"required":["activationId","token"],"additionalProperties":false}}}},"responses":{"200":{"description":"Paid result","headers":{"PAYMENT-RESPONSE":{"description":"Base64-encoded x402 settlement response for a successful paid retry","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","required":["activationId","accessToken","status","expiresAt","requestLimit","requestCount"],"properties":{"activationId":{"type":"string","format":"uuid"},"accessToken":{"type":"string","pattern":"^ggp_[A-Za-z0-9_-]{43}$"},"status":{"type":"string","enum":["activates-after-settlement","active"]},"expiresAt":{"type":"string","format":"date-time"},"requestLimit":{"type":"integer","const":1000},"requestCount":{"type":"integer","minimum":0}},"additionalProperties":false}}}},"402":{"description":"x402 payment required: 15.00 USDC on Base mainnet","headers":{"PAYMENT-REQUIRED":{"description":"Base64-encoded x402 v2 payment requirements","schema":{"type":"string"}}}}}}}},"externalDocs":{"description":"This product uses the Grants.gov API but is not endorsed or certified by the U.S. Department of Health and Human Services.","url":"https://www.grants.gov/api/terms-conditions"}}