{
  "openapi": "3.0.3",
  "info": {
    "title": "Kronos Crypto Data API",
    "version": "1.0.0",
    "description": "Kronos pay-per-call real-time crypto market-data API for autonomous agents and trading bots. Pay-per-call endpoints across 17 crypto assets (HYPE derivatives-only). (1) /api/v1/signals/{asset} — perpetual futures derivatives (funding, OI, basis) for 17 assets ($0.02); (2) /api/v1/price/{asset} — multi-source spot price for 16 assets ($0.02); (3) /api/v1/snapshot/{asset} — full bundle: price + derivatives + regime ($0.08); (4) /api/v1/overview — market-wide derivatives snapshot for all 17 assets ($0.02); (5) /api/v1/alerts/btc — market-regime alerts ($0.02); (6) /api/v1/funding-extremes — all 17 assets ranked by absolute funding rate ($0.02); (7) /api/v1/fear-greed — Crypto Fear & Greed Index from alternative.me ($0.03); (8) /api/v1/ohlc/{asset} — OHLC candlestick data from Binance ($0.02); (9) /api/v1/volatility/{asset} — 7d/30d realized volatility ($0.02). Premium add-on: /api/v1/forecast/{asset} — ML price-direction forecasts for BTC/ETH/SOL ($0.05). All paid via x402 USDC micropayments on Base mainnet (eip155:8453). Public: /api/stats, /api/health.",
    "x-disclaimer": "All output is informational only and NOT financial advice. Forecasts are probabilistic model outputs; signals are heuristics derived from public market data. Past signals do not guarantee future returns. Use at your own risk.",
    "contact": {
      "url": "https://kronossignals.com"
    }
  },
  "servers": [
    {
      "url": "https://kronossignals.com",
      "description": "Production — Base mainnet (eip155:8453)"
    }
  ],
  "paths": {
    "/api/v1/forecast/btc": {
      "get": {
        "operationId": "getForecast",
        "summary": "Crypto directional forecast (BTC / ETH / SOL)",
        "description": "Returns a directional price forecast for the requested asset computed from live Binance OHLCV data. The primary model is Kronos-small (ML); if unavailable the fallback is a composite EMA(20/50)/RSI(14)/MACD(12,26,9)/ATR(14) vote-based heuristic. Requires an x402 EIP-3009 micropayment of $0.05 USDC. On the first call (no X-PAYMENT header) the server returns HTTP 402 with payment instructions; re-send with the X-PAYMENT header populated by an x402 client library.",
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "BTC-USD",
                "ETH-USD",
                "SOL-USD"
              ],
              "default": "BTC-USD"
            },
            "description": "Asset to forecast. BTC-USD is the default and most reliable. ETH-USD and SOL-USD use the same model pipeline. Assets map to Binance symbols BTCUSDT / ETHUSDT / SOLUSDT."
          },
          {
            "name": "horizon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "4h",
                "24h"
              ],
              "default": "1h"
            },
            "description": "Forecast horizon: 1h uses 1-hour candles, 4h uses 4-hour candles, 24h uses daily candles. Defaults to 1h."
          }
        ],
        "responses": {
          "200": {
            "description": "Forecast data returned (payment verified)",
            "headers": {
              "PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64-encoded x402 settlement receipt"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "description": "CORS wildcard header"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "asset": "BTC-USD",
                  "horizon": "1h",
                  "source": "Kronos-small",
                  "generated_at": "2026-01-01T00:00:00.000Z",
                  "price": {
                    "close": 107500,
                    "atr": 850.42
                  },
                  "forecast": {
                    "up_prob": 0.62,
                    "range_low": 106224.37,
                    "range_high": 108775.63,
                    "horizon_bars": 20,
                    "confidence": 0.75,
                    "expected_close": 107620.5,
                    "pred_high": 108900,
                    "pred_low": 106200,
                    "pred_volatility": 0.0079,
                    "prob_up": 0.62,
                    "quantiles": {
                      "p10": 106350,
                      "p25": 107100,
                      "p50": 107620.5,
                      "p75": 108150,
                      "p90": 108900
                    }
                  },
                  "model": "Kronos-small",
                  "inference_seconds": 0.23,
                  "disclaimer": "Probabilistic forecast from the Kronos-small model. Not financial advice. Past signals do not guarantee future returns."
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "asset",
                    "horizon",
                    "price",
                    "forecast",
                    "model",
                    "disclaimer"
                  ],
                  "properties": {
                    "asset": {
                      "type": "string",
                      "description": "Normalized asset identifier (e.g. BTC-USD, ETH-USD, SOL-USD).",
                      "example": "BTC-USD"
                    },
                    "horizon": {
                      "type": "string",
                      "enum": [
                        "1h",
                        "4h",
                        "24h"
                      ],
                      "description": "Forecast horizon as requested.",
                      "example": "1h"
                    },
                    "timeframe": {
                      "type": "string",
                      "enum": [
                        "1h",
                        "4h",
                        "1d"
                      ],
                      "description": "Binance candle interval used (1d = daily, maps to 24h horizon). Present in composite-fallback responses only.",
                      "example": "1h"
                    },
                    "source": {
                      "type": "string",
                      "description": "Data or model source identifier (e.g. 'Kronos-small', 'Binance').",
                      "example": "Kronos-small"
                    },
                    "generated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "UTC timestamp when this forecast was computed.",
                      "example": "2026-01-01T00:00:00.000Z"
                    },
                    "price": {
                      "type": "object",
                      "required": [
                        "close",
                        "atr"
                      ],
                      "description": "Price snapshot at forecast time.",
                      "properties": {
                        "close": {
                          "type": "number",
                          "description": "Last close price in USD.",
                          "example": 107500
                        },
                        "atr": {
                          "type": "number",
                          "description": "ATR(14) in USD — used to compute range_low/range_high.",
                          "example": 850.42
                        }
                      }
                    },
                    "indicators": {
                      "type": "object",
                      "description": "Raw technical indicator values. Present in composite-fallback responses only (null in Kronos-small responses).",
                      "properties": {
                        "ema20": {
                          "type": "number",
                          "description": "EMA(20) in USD."
                        },
                        "ema50": {
                          "type": "number",
                          "description": "EMA(50) in USD."
                        },
                        "rsi14": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 100,
                          "description": "RSI(14)."
                        },
                        "macd": {
                          "type": "number",
                          "description": "MACD line (EMA12 − EMA26)."
                        },
                        "macd_signal": {
                          "type": "number",
                          "description": "MACD signal line (EMA9 of MACD)."
                        },
                        "macd_hist": {
                          "type": "number",
                          "description": "MACD histogram (MACD − signal)."
                        },
                        "atr14": {
                          "type": "number",
                          "description": "ATR(14) in USD."
                        }
                      }
                    },
                    "signal": {
                      "type": "object",
                      "description": "Per-indicator votes. Present in composite-fallback responses only.",
                      "properties": {
                        "votes": {
                          "type": "array",
                          "items": {
                            "type": "integer",
                            "enum": [
                              -1,
                              0,
                              1
                            ]
                          },
                          "description": "6-element array: +1 bullish, -1 bearish, 0 neutral. Order: [close>EMA20, close>EMA50, EMA20>EMA50, RSI, MACD, MACDhist]."
                        },
                        "positives": {
                          "type": "integer",
                          "description": "Count of +1 votes."
                        },
                        "negatives": {
                          "type": "integer",
                          "description": "Count of -1 votes."
                        },
                        "neutral": {
                          "type": "integer",
                          "description": "Count of 0 votes."
                        }
                      }
                    },
                    "forecast": {
                      "type": "object",
                      "required": [
                        "up_prob",
                        "range_low",
                        "range_high",
                        "confidence"
                      ],
                      "description": "Core forecast output.",
                      "properties": {
                        "up_prob": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1,
                          "description": "Probability of upward price movement over the horizon (0.0–1.0). In the composite fallback: fraction of bullish indicator votes.",
                          "example": 0.62
                        },
                        "range_low": {
                          "type": "number",
                          "description": "Estimated lower bound of the price range: close − 1.5×ATR(14).",
                          "example": 106224.37
                        },
                        "range_high": {
                          "type": "number",
                          "description": "Estimated upper bound of the price range: close + 1.5×ATR(14).",
                          "example": 108775.63
                        },
                        "horizon_bars": {
                          "type": "integer",
                          "description": "Number of candles the horizon spans (e.g. 20).",
                          "example": 20
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1,
                          "description": "Indicator agreement score: max(positives, negatives) / total_votes in the composite fallback; model-specific confidence in Kronos-small.",
                          "example": 0.75
                        },
                        "mean_path_closes": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          },
                          "nullable": true,
                          "description": "Optional mean simulated price path from Kronos-small ML model. Array of close prices at each horizon bar. Only present when the ML service returns it."
                        },
                        "expected_close": {
                          "type": "number",
                          "nullable": true,
                          "description": "Median predicted close for the next bar from the Kronos ML model. null on composite fallback (no ML-projected close available).",
                          "example": 107620.5
                        },
                        "pred_high": {
                          "type": "number",
                          "nullable": true,
                          "description": "P90 predicted bar high — upper extreme of the predicted price range. On composite fallback: approximated as range_high (close + 1.5×ATR).",
                          "example": 108900
                        },
                        "pred_low": {
                          "type": "number",
                          "nullable": true,
                          "description": "P10 predicted bar low — lower extreme of the predicted price range. On composite fallback: approximated as range_low (close − 1.5×ATR).",
                          "example": 106200
                        },
                        "pred_volatility": {
                          "type": "number",
                          "nullable": true,
                          "description": "Forward 1-bar volatility as a fraction of price (e.g. 0.008 = 0.8%). On composite fallback: approximated as ATR(14)/close.",
                          "example": 0.0079
                        },
                        "prob_up": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1,
                          "nullable": true,
                          "description": "P(close > current price) from the Kronos ML model. On composite fallback: same as up_prob (fraction of bullish indicator votes).",
                          "example": 0.62
                        },
                        "quantiles": {
                          "type": "object",
                          "nullable": true,
                          "description": "Distribution of predicted close prices from the Kronos ML model. null on composite fallback (no distribution available).",
                          "properties": {
                            "p10": {
                              "type": "number",
                              "description": "10th percentile predicted close.",
                              "example": 106350
                            },
                            "p25": {
                              "type": "number",
                              "description": "25th percentile predicted close.",
                              "example": 107100
                            },
                            "p50": {
                              "type": "number",
                              "description": "50th percentile predicted close (median).",
                              "example": 107620.5
                            },
                            "p75": {
                              "type": "number",
                              "description": "75th percentile predicted close.",
                              "example": 108150
                            },
                            "p90": {
                              "type": "number",
                              "description": "90th percentile predicted close.",
                              "example": 108900
                            }
                          }
                        }
                      }
                    },
                    "risk_state": {
                      "type": "string",
                      "enum": [
                        "elevated",
                        "normal"
                      ],
                      "description": "Volatility flag from composite fallback: 'elevated' when ATR/close > 2%. Not present in Kronos-small responses.",
                      "example": "normal"
                    },
                    "directional_context": {
                      "type": "object",
                      "description": "Human-readable direction context from composite fallback only.",
                      "properties": {
                        "direction": {
                          "type": "string",
                          "enum": [
                            "positive",
                            "negative",
                            "neutral"
                          ]
                        },
                        "magnitude": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1,
                          "description": "Normalised strength of direction (|up_prob − 0.5| × 2)."
                        },
                        "magnitude_label": {
                          "type": "string",
                          "enum": [
                            "strong",
                            "moderate",
                            "weak"
                          ]
                        }
                      }
                    },
                    "model": {
                      "type": "string",
                      "description": "Model identifier used. 'Kronos-small' for the ML path; 'kronos-signal-composite-v1 (fallback)' for the EMA/RSI/MACD/ATR path.",
                      "example": "Kronos-small"
                    },
                    "inference_seconds": {
                      "type": "number",
                      "nullable": true,
                      "description": "Wall-clock inference time in seconds from the Kronos ML service. Only present when the ML path was used.",
                      "example": 0.23
                    },
                    "disclaimer": {
                      "type": "string",
                      "description": "Mandatory disclaimer. Not financial advice. Heuristic or probabilistic output only."
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — x402 micropayment instructions. The response body and X-PAYMENT-REQUIRED header contain the payment requirements in x402 format. Submit 0.05 USDC on Base mainnet (eip155:8453) using an x402 client, then retry with the X-PAYMENT header.",
            "headers": {
              "X-PAYMENT-REQUIRED": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64-encoded JSON payment requirements (amount, asset, network, payTo, scheme)."
              }
            },
            "x-x402": {
              "scheme": "exact",
              "price": "$0.05",
              "currency": "USDC",
              "network": "eip155:8453",
              "description": "EIP-3009 gasless micropayment via x402 protocol. Send 0.05 USDC on Base mainnet (eip155:8453). On first call (no X-PAYMENT header) the server returns HTTP 402 with payment instructions. Re-send with the X-PAYMENT header populated by an x402 client library (e.g. npm package `x402-fetch`)."
            }
          },
          "409": {
            "description": "Payment nonce already used (replay rejected).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Upstream data unavailable. Binance API is unreachable or returned an error; or the Kronos ML service timed out and the Binance fallback also failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-x402": {
          "scheme": "exact",
          "price": "$0.05",
          "currency": "USDC",
          "network": "eip155:8453",
          "description": "EIP-3009 gasless micropayment via x402 protocol. Send 0.05 USDC on Base mainnet (eip155:8453). On first call (no X-PAYMENT header) the server returns HTTP 402 with payment instructions. Re-send with the X-PAYMENT header populated by an x402 client library (e.g. npm package `x402-fetch`)."
        }
      },
      "options": {
        "operationId": "forecastCors",
        "summary": "CORS preflight",
        "responses": {
          "204": {
            "description": "CORS preflight OK"
          }
        }
      }
    },
    "/api/v1/forecast/eth": {
      "get": {
        "operationId": "getEthForecast",
        "summary": "ETH-USD directional forecast",
        "description": "Returns a directional price forecast for ETH-USD computed from live Binance OHLCV data. The primary model is Kronos-small (ML); if unavailable the fallback is a composite EMA(20/50)/RSI(14)/MACD(12,26,9)/ATR(14) vote-based heuristic. Requires an x402 EIP-3009 micropayment of $0.05 USDC. On the first call (no X-PAYMENT header) the server returns HTTP 402 with payment instructions; re-send with the X-PAYMENT header populated by an x402 client library.",
        "parameters": [
          {
            "name": "horizon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "4h",
                "24h"
              ],
              "default": "1h"
            },
            "description": "Forecast horizon: 1h uses 1-hour candles, 4h uses 4-hour candles, 24h uses daily candles. Defaults to 1h."
          }
        ],
        "responses": {
          "200": {
            "description": "Forecast data returned (payment verified)",
            "headers": {
              "PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64-encoded x402 settlement receipt"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "description": "CORS wildcard header"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "asset": "ETH-USD",
                  "horizon": "1h",
                  "source": "Kronos-small",
                  "generated_at": "2026-01-01T00:00:00.000Z",
                  "price": {
                    "close": 2500,
                    "atr": 45.5
                  },
                  "forecast": {
                    "up_prob": 0.62,
                    "range_low": 2431.75,
                    "range_high": 2568.25,
                    "horizon_bars": 20,
                    "confidence": 0.75,
                    "expected_close": 2515.5,
                    "pred_high": 2580,
                    "pred_low": 2425,
                    "pred_volatility": 0.0182,
                    "prob_up": 0.62,
                    "quantiles": {
                      "p10": 2440,
                      "p25": 2475,
                      "p50": 2515.5,
                      "p75": 2548,
                      "p90": 2580
                    }
                  },
                  "model": "Kronos-small",
                  "inference_seconds": 0.21,
                  "disclaimer": "Probabilistic forecast from the Kronos-small model. Not financial advice. Past signals do not guarantee future returns."
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "asset",
                    "horizon",
                    "price",
                    "forecast",
                    "model",
                    "disclaimer"
                  ],
                  "properties": {
                    "asset": {
                      "type": "string",
                      "description": "Normalized asset identifier.",
                      "example": "ETH-USD"
                    },
                    "horizon": {
                      "type": "string",
                      "enum": [
                        "1h",
                        "4h",
                        "24h"
                      ],
                      "description": "Forecast horizon as requested.",
                      "example": "1h"
                    },
                    "timeframe": {
                      "type": "string",
                      "enum": [
                        "1h",
                        "4h",
                        "1d"
                      ],
                      "description": "Binance candle interval used (1d = daily, maps to 24h horizon). Present in composite-fallback responses only.",
                      "example": "1h"
                    },
                    "source": {
                      "type": "string",
                      "description": "Data or model source identifier.",
                      "example": "Kronos-small"
                    },
                    "generated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "UTC timestamp when this forecast was computed."
                    },
                    "price": {
                      "type": "object",
                      "required": [
                        "close",
                        "atr"
                      ],
                      "properties": {
                        "close": {
                          "type": "number",
                          "description": "Last close price in USD.",
                          "example": 2500
                        },
                        "atr": {
                          "type": "number",
                          "description": "ATR(14) in USD.",
                          "example": 45.5
                        }
                      }
                    },
                    "indicators": {
                      "type": "object",
                      "description": "Raw indicator values. Present in composite-fallback responses only.",
                      "properties": {
                        "ema20": {
                          "type": "number"
                        },
                        "ema50": {
                          "type": "number"
                        },
                        "rsi14": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 100
                        },
                        "macd": {
                          "type": "number"
                        },
                        "macd_signal": {
                          "type": "number"
                        },
                        "macd_hist": {
                          "type": "number"
                        },
                        "atr14": {
                          "type": "number"
                        }
                      }
                    },
                    "signal": {
                      "type": "object",
                      "description": "Per-indicator votes. Present in composite-fallback responses only.",
                      "properties": {
                        "votes": {
                          "type": "array",
                          "items": {
                            "type": "integer",
                            "enum": [
                              -1,
                              0,
                              1
                            ]
                          }
                        },
                        "positives": {
                          "type": "integer"
                        },
                        "negatives": {
                          "type": "integer"
                        },
                        "neutral": {
                          "type": "integer"
                        }
                      }
                    },
                    "forecast": {
                      "type": "object",
                      "required": [
                        "up_prob",
                        "range_low",
                        "range_high",
                        "confidence"
                      ],
                      "properties": {
                        "up_prob": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1,
                          "example": 0.62
                        },
                        "range_low": {
                          "type": "number",
                          "example": 2431.75
                        },
                        "range_high": {
                          "type": "number",
                          "example": 2568.25
                        },
                        "horizon_bars": {
                          "type": "integer",
                          "example": 20
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1,
                          "example": 0.75
                        },
                        "mean_path_closes": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          },
                          "nullable": true
                        },
                        "expected_close": {
                          "type": "number",
                          "nullable": true,
                          "example": 2515.5
                        },
                        "pred_high": {
                          "type": "number",
                          "nullable": true,
                          "example": 2580
                        },
                        "pred_low": {
                          "type": "number",
                          "nullable": true,
                          "example": 2425
                        },
                        "pred_volatility": {
                          "type": "number",
                          "nullable": true,
                          "example": 0.0182
                        },
                        "prob_up": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1,
                          "nullable": true,
                          "example": 0.62
                        },
                        "quantiles": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "p10": {
                              "type": "number"
                            },
                            "p25": {
                              "type": "number"
                            },
                            "p50": {
                              "type": "number"
                            },
                            "p75": {
                              "type": "number"
                            },
                            "p90": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    },
                    "risk_state": {
                      "type": "string",
                      "enum": [
                        "elevated",
                        "normal"
                      ]
                    },
                    "directional_context": {
                      "type": "object",
                      "properties": {
                        "direction": {
                          "type": "string",
                          "enum": [
                            "positive",
                            "negative",
                            "neutral"
                          ]
                        },
                        "magnitude": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "magnitude_label": {
                          "type": "string",
                          "enum": [
                            "strong",
                            "moderate",
                            "weak"
                          ]
                        }
                      }
                    },
                    "model": {
                      "type": "string",
                      "example": "Kronos-small"
                    },
                    "inference_seconds": {
                      "type": "number",
                      "nullable": true,
                      "example": 0.21
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — x402 micropayment instructions. Submit 0.05 USDC on Base mainnet (eip155:8453) using an x402 client, then retry with the X-PAYMENT header.",
            "headers": {
              "X-PAYMENT-REQUIRED": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64-encoded JSON payment requirements."
              }
            },
            "x-x402": {
              "scheme": "exact",
              "price": "$0.05",
              "currency": "USDC",
              "network": "eip155:8453",
              "description": "EIP-3009 gasless micropayment via x402 protocol. Send 0.05 USDC on Base mainnet (eip155:8453). On first call (no X-PAYMENT header) the server returns HTTP 402 with payment instructions. Re-send with the X-PAYMENT header populated by an x402 client library (e.g. npm package `x402-fetch`)."
            }
          },
          "409": {
            "description": "Payment nonce already used (replay rejected).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Upstream data unavailable. Binance API unreachable or Kronos ML timed out.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-x402": {
          "scheme": "exact",
          "price": "$0.05",
          "currency": "USDC",
          "network": "eip155:8453",
          "description": "EIP-3009 gasless micropayment via x402 protocol. Send 0.05 USDC on Base mainnet (eip155:8453). On first call (no X-PAYMENT header) the server returns HTTP 402 with payment instructions. Re-send with the X-PAYMENT header populated by an x402 client library (e.g. npm package `x402-fetch`)."
        }
      },
      "options": {
        "operationId": "ethForecastCors",
        "summary": "CORS preflight",
        "responses": {
          "204": {
            "description": "CORS preflight OK"
          }
        }
      }
    },
    "/api/v1/forecast/sol": {
      "get": {
        "operationId": "getSolForecast",
        "summary": "SOL-USD directional forecast",
        "description": "Returns a directional price forecast for SOL-USD computed from live Binance OHLCV data. The primary model is Kronos-small (ML); if unavailable the fallback is a composite EMA(20/50)/RSI(14)/MACD(12,26,9)/ATR(14) vote-based heuristic. Requires an x402 EIP-3009 micropayment of $0.05 USDC. On the first call (no X-PAYMENT header) the server returns HTTP 402 with payment instructions; re-send with the X-PAYMENT header populated by an x402 client library.",
        "parameters": [
          {
            "name": "horizon",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "4h",
                "24h"
              ],
              "default": "1h"
            },
            "description": "Forecast horizon: 1h uses 1-hour candles, 4h uses 4-hour candles, 24h uses daily candles. Defaults to 1h."
          }
        ],
        "responses": {
          "200": {
            "description": "Forecast data returned (payment verified)",
            "headers": {
              "PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64-encoded x402 settlement receipt"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "description": "CORS wildcard header"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "asset": "SOL-USD",
                  "horizon": "1h",
                  "source": "Kronos-small",
                  "generated_at": "2026-01-01T00:00:00.000Z",
                  "price": {
                    "close": 150,
                    "atr": 3.5
                  },
                  "forecast": {
                    "up_prob": 0.67,
                    "range_low": 144.75,
                    "range_high": 155.25,
                    "horizon_bars": 20,
                    "confidence": 0.67,
                    "expected_close": 151.2,
                    "pred_high": 156,
                    "pred_low": 144,
                    "pred_volatility": 0.0233,
                    "prob_up": 0.67,
                    "quantiles": {
                      "p10": 145,
                      "p25": 147.5,
                      "p50": 151.2,
                      "p75": 153.5,
                      "p90": 156
                    }
                  },
                  "model": "Kronos-small",
                  "inference_seconds": 0.19,
                  "disclaimer": "Probabilistic forecast from the Kronos-small model. Not financial advice. Past signals do not guarantee future returns."
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "asset",
                    "horizon",
                    "price",
                    "forecast",
                    "model",
                    "disclaimer"
                  ],
                  "properties": {
                    "asset": {
                      "type": "string",
                      "description": "Normalized asset identifier.",
                      "example": "SOL-USD"
                    },
                    "horizon": {
                      "type": "string",
                      "enum": [
                        "1h",
                        "4h",
                        "24h"
                      ],
                      "description": "Forecast horizon as requested.",
                      "example": "1h"
                    },
                    "timeframe": {
                      "type": "string",
                      "enum": [
                        "1h",
                        "4h",
                        "1d"
                      ],
                      "description": "Binance candle interval used (1d = daily, maps to 24h horizon). Present in composite-fallback responses only.",
                      "example": "1h"
                    },
                    "source": {
                      "type": "string",
                      "description": "Data or model source identifier.",
                      "example": "Kronos-small"
                    },
                    "generated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "UTC timestamp when this forecast was computed."
                    },
                    "price": {
                      "type": "object",
                      "required": [
                        "close",
                        "atr"
                      ],
                      "properties": {
                        "close": {
                          "type": "number",
                          "description": "Last close price in USD.",
                          "example": 150
                        },
                        "atr": {
                          "type": "number",
                          "description": "ATR(14) in USD.",
                          "example": 3.5
                        }
                      }
                    },
                    "indicators": {
                      "type": "object",
                      "description": "Raw indicator values. Present in composite-fallback responses only.",
                      "properties": {
                        "ema20": {
                          "type": "number"
                        },
                        "ema50": {
                          "type": "number"
                        },
                        "rsi14": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 100
                        },
                        "macd": {
                          "type": "number"
                        },
                        "macd_signal": {
                          "type": "number"
                        },
                        "macd_hist": {
                          "type": "number"
                        },
                        "atr14": {
                          "type": "number"
                        }
                      }
                    },
                    "signal": {
                      "type": "object",
                      "description": "Per-indicator votes. Present in composite-fallback responses only.",
                      "properties": {
                        "votes": {
                          "type": "array",
                          "items": {
                            "type": "integer",
                            "enum": [
                              -1,
                              0,
                              1
                            ]
                          }
                        },
                        "positives": {
                          "type": "integer"
                        },
                        "negatives": {
                          "type": "integer"
                        },
                        "neutral": {
                          "type": "integer"
                        }
                      }
                    },
                    "forecast": {
                      "type": "object",
                      "required": [
                        "up_prob",
                        "range_low",
                        "range_high",
                        "confidence"
                      ],
                      "properties": {
                        "up_prob": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1,
                          "example": 0.67
                        },
                        "range_low": {
                          "type": "number",
                          "example": 144.75
                        },
                        "range_high": {
                          "type": "number",
                          "example": 155.25
                        },
                        "horizon_bars": {
                          "type": "integer",
                          "example": 20
                        },
                        "confidence": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1,
                          "example": 0.67
                        },
                        "mean_path_closes": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          },
                          "nullable": true
                        },
                        "expected_close": {
                          "type": "number",
                          "nullable": true,
                          "example": 151.2
                        },
                        "pred_high": {
                          "type": "number",
                          "nullable": true,
                          "example": 156
                        },
                        "pred_low": {
                          "type": "number",
                          "nullable": true,
                          "example": 144
                        },
                        "pred_volatility": {
                          "type": "number",
                          "nullable": true,
                          "example": 0.0233
                        },
                        "prob_up": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1,
                          "nullable": true,
                          "example": 0.67
                        },
                        "quantiles": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "p10": {
                              "type": "number"
                            },
                            "p25": {
                              "type": "number"
                            },
                            "p50": {
                              "type": "number"
                            },
                            "p75": {
                              "type": "number"
                            },
                            "p90": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    },
                    "risk_state": {
                      "type": "string",
                      "enum": [
                        "elevated",
                        "normal"
                      ]
                    },
                    "directional_context": {
                      "type": "object",
                      "properties": {
                        "direction": {
                          "type": "string",
                          "enum": [
                            "positive",
                            "negative",
                            "neutral"
                          ]
                        },
                        "magnitude": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1
                        },
                        "magnitude_label": {
                          "type": "string",
                          "enum": [
                            "strong",
                            "moderate",
                            "weak"
                          ]
                        }
                      }
                    },
                    "model": {
                      "type": "string",
                      "example": "Kronos-small"
                    },
                    "inference_seconds": {
                      "type": "number",
                      "nullable": true,
                      "example": 0.19
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — x402 micropayment instructions. Submit 0.05 USDC on Base mainnet (eip155:8453) using an x402 client, then retry with the X-PAYMENT header.",
            "headers": {
              "X-PAYMENT-REQUIRED": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64-encoded JSON payment requirements."
              }
            },
            "x-x402": {
              "scheme": "exact",
              "price": "$0.05",
              "currency": "USDC",
              "network": "eip155:8453",
              "description": "EIP-3009 gasless micropayment via x402 protocol. Send 0.05 USDC on Base mainnet (eip155:8453). On first call (no X-PAYMENT header) the server returns HTTP 402 with payment instructions. Re-send with the X-PAYMENT header populated by an x402 client library (e.g. npm package `x402-fetch`)."
            }
          },
          "409": {
            "description": "Payment nonce already used (replay rejected).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Upstream data unavailable. Binance API unreachable or Kronos ML timed out.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-x402": {
          "scheme": "exact",
          "price": "$0.05",
          "currency": "USDC",
          "network": "eip155:8453",
          "description": "EIP-3009 gasless micropayment via x402 protocol. Send 0.05 USDC on Base mainnet (eip155:8453). On first call (no X-PAYMENT header) the server returns HTTP 402 with payment instructions. Re-send with the X-PAYMENT header populated by an x402 client library (e.g. npm package `x402-fetch`)."
        }
      },
      "options": {
        "operationId": "solForecastCors",
        "summary": "CORS preflight",
        "responses": {
          "204": {
            "description": "CORS preflight OK"
          }
        }
      }
    },
    "/api/v1/signals/{asset}": {
      "get": {
        "operationId": "getSignals",
        "summary": "Crypto derivatives intelligence for 17 assets (funding rate, OI, basis)",
        "description": "Returns perpetual swap market intelligence for any of the 16 supported assets (BTC/ETH/SOL/BNB/XRP/DOGE/ADA/AVAX/LINK/DOT/LTC/TRX/BCH/ATOM/NEAR/APT) sourced from OKX. Raw fields: funding rate (raw 8-hour + heuristic annualised), mark price, index price, basis (perp premium/discount), open interest, 24h volume, next funding time. Derived signals: OI change over ~1 hour window (abs + pct), funding trend (rising/falling/flat vs prior half-window), and a human-readable heuristic read. Data is collected every 5 minutes by a background cron into the market_signals table; responses may lag by up to 5 minutes. Requires an x402 EIP-3009 micropayment of $0.02 USDC.",
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "btc",
                "eth",
                "sol",
                "bnb",
                "xrp",
                "doge",
                "ada",
                "avax",
                "link",
                "dot",
                "ltc",
                "trx",
                "bch",
                "atom",
                "near",
                "apt"
              ]
            },
            "description": "Asset slug (lowercase). Supports all 17 assets (incl. hype)."
          }
        ],
        "responses": {
          "200": {
            "description": "Derivatives signals (payment verified)",
            "headers": {
              "PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64-encoded x402 settlement receipt"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "description": "CORS wildcard header"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "available": true,
                  "asset": "BTC-USD",
                  "as_of": "2026-01-01T00:00:00.000Z",
                  "data_source": "bybit",
                  "samples": 12,
                  "funding_rate": 0.0001,
                  "funding_rate_annualized": 0.1095,
                  "mark_price": 107510.5,
                  "index_price": 107498.2,
                  "basis": 0.0001144,
                  "open_interest": 84320.15,
                  "volume_24h": 2341089500,
                  "next_funding_time": "2026-01-01T06:00:00.000Z",
                  "oi_change_1h": {
                    "abs": 120.34,
                    "pct": 0.1429
                  },
                  "funding_trend": "flat",
                  "read": "Positive funding (10.9% ann.) — longs paying shorts; carry favours short-basis trades. Heuristic only.",
                  "disclaimer": "Heuristic signal derived from OKX perpetual swap data. Not financial advice. Data lags by up to 5 minutes (cron cadence). Annualized rates assume the current funding rate persists indefinitely — it does not."
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "available",
                    "asset",
                    "as_of",
                    "data_source",
                    "samples",
                    "funding_rate",
                    "funding_rate_annualized",
                    "mark_price",
                    "index_price",
                    "basis",
                    "open_interest",
                    "oi_change_1h",
                    "funding_trend",
                    "read",
                    "disclaimer"
                  ],
                  "properties": {
                    "available": {
                      "type": "boolean",
                      "description": "Always true in a 200 response.",
                      "example": true
                    },
                    "asset": {
                      "type": "string",
                      "description": "Asset identifier.",
                      "example": "BTC-USD"
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of the most recent market_signals row (UTC). Reflects when the cron last collected data."
                    },
                    "data_source": {
                      "type": "string",
                      "description": "Exchange that provided the raw data (e.g. 'bybit', 'okx').",
                      "example": "bybit"
                    },
                    "samples": {
                      "type": "integer",
                      "description": "Number of market_signals rows used (up to 12, ~1 h of data at 5-min cadence).",
                      "example": 12
                    },
                    "funding_rate": {
                      "type": "number",
                      "nullable": true,
                      "description": "Raw 8-hour funding rate from the latest row. Positive = longs pay shorts; negative = shorts pay longs. Example: 0.0001 = 0.01% per 8 h.",
                      "example": 0.0001
                    },
                    "funding_rate_annualized": {
                      "type": "number",
                      "nullable": true,
                      "description": "Heuristic annualised rate: funding_rate × 3 (settlements/day) × 365. Assumes the current rate persists — it does not. Heuristic only.",
                      "example": 0.1095
                    },
                    "mark_price": {
                      "type": "number",
                      "nullable": true,
                      "description": "Perpetual swap mark price in USD.",
                      "example": 107510.5
                    },
                    "index_price": {
                      "type": "number",
                      "nullable": true,
                      "description": "Spot index price in USD.",
                      "example": 107498.2
                    },
                    "basis": {
                      "type": "number",
                      "nullable": true,
                      "description": "(mark_price − index_price) / index_price. Positive = perpetual trading at a premium to spot (contango).",
                      "example": 0.0001144
                    },
                    "open_interest": {
                      "type": "number",
                      "nullable": true,
                      "description": "Open interest in the exchange's native unit (typically BTC or contracts) from the latest row.",
                      "example": 84320.15
                    },
                    "volume_24h": {
                      "type": "number",
                      "nullable": true,
                      "description": "24-hour trading volume (USD or exchange-native units).",
                      "example": 2341089500
                    },
                    "next_funding_time": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "UTC timestamp of the next funding settlement.",
                      "example": "2026-01-01T06:00:00.000Z"
                    },
                    "oi_change_1h": {
                      "type": "object",
                      "description": "Open interest change over the sample window (~1 h). Computed as latest OI minus oldest OI in the window.",
                      "required": [
                        "abs",
                        "pct"
                      ],
                      "properties": {
                        "abs": {
                          "type": "number",
                          "nullable": true,
                          "description": "Absolute OI change (same units as open_interest). Positive = OI growing; negative = OI shrinking.",
                          "example": 120.34
                        },
                        "pct": {
                          "type": "number",
                          "nullable": true,
                          "description": "OI percentage change over the window.",
                          "example": 0.1429
                        }
                      }
                    },
                    "funding_trend": {
                      "type": "string",
                      "enum": [
                        "rising",
                        "falling",
                        "flat",
                        "insufficient_data"
                      ],
                      "description": "Heuristic funding rate trend: compares recent half-window average vs older half-window average with a ±5% relative threshold. 'insufficient_data' when fewer than 4 rows have funding data.",
                      "example": "flat"
                    },
                    "read": {
                      "type": "string",
                      "description": "Human-readable heuristic interpretation of the current derivatives market state. Not financial advice.",
                      "example": "Positive funding (10.9% ann.) — longs paying shorts; carry favours short-basis trades. Heuristic only."
                    },
                    "disclaimer": {
                      "type": "string",
                      "description": "Mandatory disclaimer. Heuristic signal only; not financial advice."
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — x402 micropayment instructions. Submit 0.02 USDC on Base mainnet (eip155:8453) using an x402 client, then retry with the X-PAYMENT header.",
            "headers": {
              "X-PAYMENT-REQUIRED": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64-encoded JSON payment requirements (amount, asset, network, payTo, scheme)."
              }
            },
            "x-x402": {
              "scheme": "exact",
              "price": "$0.02",
              "currency": "USDC",
              "network": "eip155:8453",
              "description": "EIP-3009 gasless micropayment via x402 protocol. Send 0.02 USDC on Base mainnet (eip155:8453). On first call (no X-PAYMENT header) the server returns HTTP 402 with payment instructions. Re-send with the X-PAYMENT header populated by an x402 client library (e.g. npm package `x402-fetch`)."
            }
          },
          "409": {
            "description": "Payment nonce already used (replay rejected).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Derivatives data unavailable. No rows in market_signals yet, or Supabase is unreachable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-x402": {
          "scheme": "exact",
          "price": "$0.02",
          "currency": "USDC",
          "network": "eip155:8453",
          "description": "EIP-3009 gasless micropayment via x402 protocol. Send 0.02 USDC on Base mainnet (eip155:8453). On first call (no X-PAYMENT header) the server returns HTTP 402 with payment instructions. Re-send with the X-PAYMENT header populated by an x402 client library (e.g. npm package `x402-fetch`)."
        }
      },
      "options": {
        "operationId": "btcSignalsCors",
        "summary": "CORS preflight",
        "responses": {
          "204": {
            "description": "CORS preflight OK"
          }
        }
      }
    },
    "/api/v1/alerts/btc": {
      "get": {
        "operationId": "getBtcAlerts",
        "summary": "BTC market-state alerts (regime events + live derived state)",
        "description": "Returns the CURRENT actionable market-state for BTC that an agent can poll: recent regime events detected by the Kronos regime engine within the last ~2 hours (squeeze, breakout, funding_extreme, oi_surge) plus live derived state from the latest market_signals row (funding rate, heuristic annualised funding, open interest, and a short plain-language read). Regime events are detected on a ~15-minute cron; live state may lag by up to 5 minutes. Requires an x402 EIP-3009 micropayment of $0.02 USDC.",
        "responses": {
          "200": {
            "description": "Market-state alerts (payment verified)",
            "headers": {
              "PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64-encoded x402 settlement receipt"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "description": "CORS wildcard header"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "available": true,
                  "asset": "BTC-USD",
                  "active_alerts": [
                    {
                      "event_type": "funding_extreme",
                      "severity": "high",
                      "detected_at": "2026-01-01T01:45:00.000Z",
                      "details": {
                        "annualized_pct": 42.1,
                        "sign": "longs_paying",
                        "funding_rate_8h": 0.00096
                      }
                    }
                  ],
                  "current_state": {
                    "as_of": "2026-01-01T02:00:00.000Z",
                    "funding_rate": 0.0001,
                    "funding_annualized": 0.1095,
                    "open_interest": 84320.15,
                    "read": "BTC: elevated positive funding (10.9% ann.) — longs paying shorts, crowded-long / squeeze risk; 1 active regime alert(s) in the last 2h (funding_extreme). Heuristic only."
                  },
                  "as_of": "2026-01-01T02:00:05.000Z",
                  "disclaimer": "Heuristic market-state alerts derived from OKX perpetual swap data and the Kronos regime engine. Not financial advice."
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "available",
                    "asset",
                    "active_alerts",
                    "current_state",
                    "as_of",
                    "disclaimer"
                  ],
                  "properties": {
                    "available": {
                      "type": "boolean",
                      "description": "Always true in a 200 response.",
                      "example": true
                    },
                    "asset": {
                      "type": "string",
                      "description": "Asset identifier.",
                      "example": "BTC-USD"
                    },
                    "active_alerts": {
                      "type": "array",
                      "description": "Recent regime events for BTC within the last ~2 hours, newest first. Empty if no events were detected.",
                      "items": {
                        "type": "object",
                        "required": [
                          "event_type",
                          "severity",
                          "detected_at"
                        ],
                        "properties": {
                          "event_type": {
                            "type": "string",
                            "enum": [
                              "squeeze",
                              "breakout",
                              "funding_extreme",
                              "oi_surge"
                            ],
                            "description": "Type of regime event detected.",
                            "example": "funding_extreme"
                          },
                          "severity": {
                            "type": "string",
                            "enum": [
                              "high",
                              "notable",
                              "info"
                            ],
                            "description": "Detected severity of the event.",
                            "example": "high"
                          },
                          "detected_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "UTC timestamp when the event was detected."
                          },
                          "details": {
                            "type": "object",
                            "nullable": true,
                            "description": "Event-type-specific detail payload (e.g. range_ratio for squeeze, pct_move/direction for breakout, annualized_pct/sign for funding_extreme, pct_change/direction for oi_surge)."
                          }
                        }
                      }
                    },
                    "current_state": {
                      "type": "object",
                      "description": "Live derived state from the latest market_signals row for BTC.",
                      "required": [
                        "funding_rate",
                        "funding_annualized",
                        "open_interest",
                        "read"
                      ],
                      "properties": {
                        "as_of": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "Timestamp of the market_signals row used (UTC). null if no live data is available."
                        },
                        "funding_rate": {
                          "type": "number",
                          "nullable": true,
                          "description": "Raw 8-hour funding rate from the latest row. Positive = longs pay shorts; negative = shorts pay longs.",
                          "example": 0.0001
                        },
                        "funding_annualized": {
                          "type": "number",
                          "nullable": true,
                          "description": "Heuristic annualised rate: funding_rate × 3 × 365. Assumes the current rate persists — it does not.",
                          "example": 0.1095
                        },
                        "open_interest": {
                          "type": "number",
                          "nullable": true,
                          "description": "Open interest in the exchange's native unit from the latest row.",
                          "example": 84320.15
                        },
                        "read": {
                          "type": "string",
                          "description": "Short plain-language interpretation of the live derivatives state + active alerts. Not financial advice."
                        }
                      }
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time",
                      "description": "UTC timestamp when this response was generated."
                    },
                    "disclaimer": {
                      "type": "string",
                      "description": "Mandatory disclaimer. Heuristic alerts only; not financial advice."
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — x402 micropayment instructions. Submit 0.02 USDC on Base mainnet (eip155:8453) using an x402 client, then retry with the X-PAYMENT header.",
            "headers": {
              "X-PAYMENT-REQUIRED": {
                "schema": {
                  "type": "string"
                },
                "description": "Base64-encoded JSON payment requirements (amount, asset, network, payTo, scheme)."
              }
            },
            "x-x402": {
              "scheme": "exact",
              "price": "$0.02",
              "currency": "USDC",
              "network": "eip155:8453",
              "description": "EIP-3009 gasless micropayment via x402 protocol. Send 0.02 USDC on Base mainnet (eip155:8453). On first call (no X-PAYMENT header) the server returns HTTP 402 with payment instructions. Re-send with the X-PAYMENT header populated by an x402 client library (e.g. npm package `x402-fetch`)."
            }
          },
          "409": {
            "description": "Payment nonce already used (replay rejected).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Alerts data unavailable. Supabase is unreachable or a DB query failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-x402": {
          "scheme": "exact",
          "price": "$0.02",
          "currency": "USDC",
          "network": "eip155:8453",
          "description": "EIP-3009 gasless micropayment via x402 protocol. Send 0.02 USDC on Base mainnet (eip155:8453). On first call (no X-PAYMENT header) the server returns HTTP 402 with payment instructions. Re-send with the X-PAYMENT header populated by an x402 client library (e.g. npm package `x402-fetch`)."
        }
      },
      "options": {
        "operationId": "btcAlertsCors",
        "summary": "CORS preflight",
        "responses": {
          "204": {
            "description": "CORS preflight OK"
          }
        }
      }
    },
    "/api/v1/price/{asset}": {
      "get": {
        "operationId": "getSpotPrice",
        "summary": "Real-time crypto spot price (16 assets) — $0.02/call",
        "description": "Returns the current spot price for any of the 16 supported assets from the Binance public API. Multi-source reference price — $0.02 USDC per call. Supports BTC/ETH/SOL/BNB/XRP/DOGE/ADA/AVAX/LINK/DOT/LTC/TRX/BCH/ATOM/NEAR/APT. Optional ?coins=BTC,ETH,SOL batches up to 10 additional symbols (case-insensitive, de-duped) in the same paid call; adds quotes[] and unresolved[] to the response. Single-asset response is unchanged when coins= is absent. Requires an x402 EIP-3009 micropayment of $0.02 USDC.",
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "btc",
                "eth",
                "sol",
                "bnb",
                "xrp",
                "doge",
                "ada",
                "avax",
                "link",
                "dot",
                "ltc",
                "trx",
                "bch",
                "atom",
                "near",
                "apt"
              ]
            },
            "description": "Asset slug (lowercase). All 16 assets supported."
          },
          {
            "name": "coins",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional comma-separated symbol list (e.g. BTC,ETH,SOL) to batch up to 10 additional quotes in one paid call. Case-insensitive; de-duped; unresolved symbols are listed in unresolved[], never fabricated."
          }
        ],
        "responses": {
          "200": {
            "description": "Spot price returned (payment verified)",
            "content": {
              "application/json": {
                "example": {
                  "asset": "BTC-USD",
                  "price": 107500,
                  "source": "Binance",
                  "as_of": "2026-01-03T00:00:00.000Z",
                  "disclaimer": "Real-time spot price from Binance public API. Informational only, not financial advice."
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "asset",
                    "price",
                    "source",
                    "as_of",
                    "disclaimer"
                  ],
                  "properties": {
                    "asset": {
                      "type": "string",
                      "example": "BTC-USD"
                    },
                    "price": {
                      "type": "number",
                      "example": 107500
                    },
                    "source": {
                      "type": "string",
                      "example": "Binance"
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "disclaimer": {
                      "type": "string"
                    },
                    "quotes": {
                      "type": "array",
                      "description": "Present only when ?coins= is used. One entry per resolved symbol, same shape as the top-level price fields.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "asset": {
                            "type": "string",
                            "example": "ETH-USD"
                          },
                          "price": {
                            "type": "number"
                          },
                          "price_simple_median": {
                            "type": "number"
                          },
                          "cross_exchange_spread_pct": {
                            "type": "number"
                          },
                          "confidence": {
                            "type": "string",
                            "enum": [
                              "high",
                              "medium",
                              "low"
                            ]
                          },
                          "sources": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "outliers_rejected": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "unresolved": {
                      "type": "array",
                      "description": "Present only when ?coins= is used. Symbols from coins= that could not be resolved to a supported asset.",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — 0.02 USDC via x402.",
            "x-payment-info": {
              "scheme": "exact",
              "price": "$0.02",
              "currency": "USDC"
            }
          },
          "409": {
            "description": "Payment nonce already used."
          }
        },
        "x-x402": {
          "scheme": "exact",
          "price": "$0.02",
          "currency": "USDC",
          "network": "eip155:8453",
          "description": "Send 0.02 USDC on Base mainnet (eip155:8453) via x402."
        }
      },
      "options": {
        "operationId": "spotPriceCors",
        "summary": "CORS preflight",
        "responses": {
          "204": {
            "description": "CORS preflight OK"
          }
        }
      }
    },
    "/api/v1/snapshot/{asset}": {
      "get": {
        "operationId": "getSnapshot",
        "summary": "Full crypto asset snapshot bundle (16 assets) — $0.08/call",
        "description": "Returns everything for the asset in one call: spot price, derivatives (funding rate, OI, basis, trend), market regime alerts (BTC only), the Kronos ML forecast for the 1h horizon (BTC/ETH/SOL only), options IV summary from Deribit (BTC/ETH only; available:false otherwise), liquidation squeeze_bias derived from funding rate + OI split, and Coinbase CEX premium (Coinbase-listed assets only; available:false otherwise). Supports all 16 assets (BTC/ETH/SOL/BNB/XRP/DOGE/ADA/AVAX/LINK/DOT/LTC/TRX/BCH/ATOM/NEAR/APT). Cheaper than buying each tool separately. Requires an x402 EIP-3009 micropayment of $0.08 USDC.",
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "btc",
                "eth",
                "sol",
                "bnb",
                "xrp",
                "doge",
                "ada",
                "avax",
                "link",
                "dot",
                "ltc",
                "trx",
                "bch",
                "atom",
                "near",
                "apt"
              ]
            },
            "description": "Asset slug (lowercase). All 16 assets supported."
          }
        ],
        "responses": {
          "200": {
            "description": "Full snapshot returned (payment verified)",
            "content": {
              "application/json": {
                "example": {
                  "asset": "BTC-USD",
                  "price": 107500,
                  "derivatives": {
                    "available": true,
                    "funding_rate": 0.0001,
                    "funding_rate_annualized": 0.1095,
                    "open_interest": 84320.15,
                    "basis": 0.000186,
                    "funding_trend": "flat",
                    "read": "Positive funding (10.9% ann.) — longs paying shorts. Heuristic only."
                  },
                  "regime": {
                    "available": true,
                    "active_alerts": [],
                    "current_state": {
                      "funding_rate": 0.0001,
                      "open_interest": 84320.15,
                      "read": "BTC: neutral funding; no regime alerts in the last 2h. Heuristic only."
                    }
                  },
                  "forecast": {
                    "available": true,
                    "horizon": "1h",
                    "up_prob": 0.62,
                    "expected_close": 107620.5,
                    "range_low": 106300,
                    "range_high": 108700,
                    "model": "kronos-base-60path-t1-v2",
                    "cached": true,
                    "cache_age_seconds": 180
                  },
                  "options_iv": {
                    "available": true,
                    "atm_iv": 52.4,
                    "term_structure_shape": "contango",
                    "data_source": "deribit",
                    "as_of": "2026-01-03T00:00:00.000Z"
                  },
                  "liquidations": {
                    "available": true,
                    "squeeze_bias": "long_squeeze_risk"
                  },
                  "cex_premium": {
                    "available": true,
                    "coinbase_price": 107512.34,
                    "composite_median": 107498,
                    "premium_pct": 0.0133,
                    "interpretation": "Coinbase +0.013% premium vs composite. Mild US/institutional demand bias.",
                    "as_of": "2026-01-03T00:00:00.000Z"
                  },
                  "as_of": "2026-01-03T00:00:00.000Z",
                  "disclaimer": "Spot price from Binance. Derivatives from OKX perp data. Options IV from Deribit (BTC/ETH only). Squeeze bias estimated from funding+OI. CEX premium Coinbase-listed assets only. Not financial advice."
                },
                "schema": {
                  "type": "object",
                  "required": [
                    "asset",
                    "derivatives",
                    "regime",
                    "forecast",
                    "options_iv",
                    "liquidations",
                    "cex_premium",
                    "as_of",
                    "disclaimer"
                  ],
                  "properties": {
                    "asset": {
                      "type": "string",
                      "example": "BTC-USD"
                    },
                    "price": {
                      "type": "number",
                      "nullable": true,
                      "example": 107500
                    },
                    "derivatives": {
                      "type": "object",
                      "properties": {
                        "available": {
                          "type": "boolean"
                        },
                        "funding_rate": {
                          "type": "number",
                          "nullable": true
                        },
                        "funding_rate_annualized": {
                          "type": "number",
                          "nullable": true
                        },
                        "open_interest": {
                          "type": "number",
                          "nullable": true
                        },
                        "basis": {
                          "type": "number",
                          "nullable": true
                        },
                        "funding_trend": {
                          "type": "string"
                        },
                        "read": {
                          "type": "string"
                        }
                      }
                    },
                    "regime": {
                      "type": "object",
                      "properties": {
                        "available": {
                          "type": "boolean"
                        },
                        "active_alerts": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "current_state": {
                          "type": "object"
                        }
                      }
                    },
                    "forecast": {
                      "type": "object",
                      "properties": {
                        "available": {
                          "type": "boolean"
                        },
                        "horizon": {
                          "type": "string"
                        },
                        "up_prob": {
                          "type": "number",
                          "nullable": true
                        },
                        "expected_close": {
                          "type": "number",
                          "nullable": true
                        },
                        "range_low": {
                          "type": "number",
                          "nullable": true
                        },
                        "range_high": {
                          "type": "number",
                          "nullable": true
                        },
                        "model": {
                          "type": "string",
                          "nullable": true
                        },
                        "cached": {
                          "type": "boolean"
                        },
                        "cache_age_seconds": {
                          "type": "number",
                          "nullable": true
                        },
                        "generated_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        }
                      }
                    },
                    "options_iv": {
                      "type": "object",
                      "description": "ATM IV summary from Deribit. available:false for non-BTC/ETH assets.",
                      "properties": {
                        "available": {
                          "type": "boolean"
                        },
                        "atm_iv": {
                          "type": "number",
                          "nullable": true
                        },
                        "term_structure_shape": {
                          "type": "string",
                          "enum": [
                            "contango",
                            "backwardation",
                            "flat",
                            "insufficient_data"
                          ]
                        },
                        "data_source": {
                          "type": "string",
                          "nullable": true
                        },
                        "reason": {
                          "type": "string"
                        },
                        "as_of": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "liquidations": {
                      "type": "object",
                      "description": "Squeeze bias derived from funding rate + OI split. No external fetch.",
                      "properties": {
                        "available": {
                          "type": "boolean"
                        },
                        "squeeze_bias": {
                          "type": "string",
                          "enum": [
                            "long_squeeze_risk",
                            "short_squeeze_risk",
                            "balanced"
                          ],
                          "nullable": true
                        },
                        "reason": {
                          "type": "string"
                        }
                      }
                    },
                    "cex_premium": {
                      "type": "object",
                      "description": "Coinbase price premium vs Binance+OKX composite. available:false for non-Coinbase-listed assets.",
                      "properties": {
                        "available": {
                          "type": "boolean"
                        },
                        "coinbase_price": {
                          "type": "number",
                          "nullable": true
                        },
                        "composite_median": {
                          "type": "number",
                          "nullable": true
                        },
                        "premium_pct": {
                          "type": "number",
                          "nullable": true
                        },
                        "interpretation": {
                          "type": "string"
                        },
                        "reason": {
                          "type": "string"
                        },
                        "as_of": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — 0.08 USDC via x402.",
            "x-payment-info": {
              "scheme": "exact",
              "price": "$0.08",
              "currency": "USDC"
            }
          },
          "409": {
            "description": "Payment nonce already used."
          }
        },
        "x-x402": {
          "scheme": "exact",
          "price": "$0.08",
          "currency": "USDC",
          "network": "eip155:8453",
          "description": "Send 0.08 USDC on Base mainnet (eip155:8453) via x402."
        }
      },
      "options": {
        "operationId": "snapshotCors",
        "summary": "CORS preflight",
        "responses": {
          "204": {
            "description": "CORS preflight OK"
          }
        }
      }
    },
    "/api/v1/funding-extremes": {
      "get": {
        "operationId": "getFundingExtremes",
        "summary": "Funding-rate extremes screener — all 17 assets ranked by |funding rate|",
        "description": "Scans all 17 perpetual futures markets and returns assets ranked by absolute funding rate. Identifies crowded positions and squeeze risk across the market. Real-time from Kronos market_signals (OKX data). $0.02 USDC via x402.",
        "responses": {
          "200": {
            "description": "Ranked funding rates (payment verified)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "as_of",
                    "ranked",
                    "disclaimer"
                  ],
                  "properties": {
                    "as_of": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "ranked": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rank": {
                            "type": "integer"
                          },
                          "asset": {
                            "type": "string",
                            "example": "BTC-USD"
                          },
                          "short": {
                            "type": "string",
                            "example": "BTC"
                          },
                          "funding_rate": {
                            "type": "number",
                            "nullable": true
                          },
                          "funding_rate_annualized": {
                            "type": "number",
                            "nullable": true
                          },
                          "mark_price": {
                            "type": "number",
                            "nullable": true
                          },
                          "open_interest": {
                            "type": "number",
                            "nullable": true
                          },
                          "next_funding_time": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "Timestamp of the next funding settlement for this asset."
                          },
                          "funding_interval_hours": {
                            "type": "number",
                            "nullable": true,
                            "description": "Native funding settlement interval in hours, derived from the stored exchange payload.",
                            "example": 8
                          },
                          "captured_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "disclaimer": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — 0.02 USDC via x402.",
            "x-x402": {
              "scheme": "exact",
              "price": "$0.02",
              "currency": "USDC",
              "network": "eip155:8453"
            }
          },
          "409": {
            "description": "Payment nonce already used."
          },
          "503": {
            "description": "Supabase unavailable or no data."
          }
        },
        "x-x402": {
          "scheme": "exact",
          "price": "$0.02",
          "currency": "USDC",
          "network": "eip155:8453",
          "description": "Send 0.02 USDC on Base mainnet (eip155:8453) via x402."
        }
      },
      "options": {
        "operationId": "fundingExtremesCors",
        "summary": "CORS preflight",
        "responses": {
          "204": {
            "description": "CORS preflight OK"
          }
        }
      }
    },
    "/api/v1/overview": {
      "get": {
        "operationId": "getOverview",
        "summary": "Market-wide derivatives snapshot for all 17 assets",
[...]
