{"openapi":"3.1.0","info":{"title":"Locus API","version":"0.2.0","description":"Property-context APIs for agents. Buyers need no Locus or CDP account API key. Run a free coverage preflight, then pay per call for official-record reports, local-change briefs, policy and ordinance context, and environmental records. Every paid result includes source provenance, caveats, and verify-next steps. Install the Locus agent skill with `npx @velinussage/locus-agent-skill add`.","x-locus-catalog-version":"2.0.0","x-locus-access":{"accountApiKeyRequired":false,"note":"Paid routes use x402 or advertised MPP payment credentials. Configured x402 routes offer USDC on Base and Solana; the live 402 accepts array is authoritative. OpenAPI payment metadata does not represent a separate API-key requirement."},"x-locus-top-agent-endpoints":"https://api.locus.report/.well-known/locus-agent-endpoints.json","x-locus-unified-catalog":"https://api.locus.report/.well-known/locus-tools.json","x-locus-call-conventions":{"free":{"endpoint":"POST /tools/call","bodyStyle":"wrapped","shape":"{\"name\": \"<tool>\", \"arguments\": { ... }}","note":"The free /tools/call endpoint requires a WRAPPED body: {\"name\": \"<tool>\", \"arguments\": { ... }}. Tool inputs go inside `arguments`, NOT at the top level. Paid /api/<slug> routes are the opposite (flat body)."},"paid":{"endpoint":"POST /api/<slug>","bodyStyle":"flat-json","shape":"{ ...fields at top level }","note":"Paid Locus tools take a FLAT JSON body (fields at the top level, e.g. {\"address\": \"...\"}). Do NOT wrap the body in {name, arguments} - that wrapper is ONLY for the free POST /tools/call endpoint."}},"x-locus-categories":["reports","parcels","hazard","environmental","economics","policy","infrastructure","safety","marketing"],"x-skill-url":"https://api.locus.report/.well-known/skill.md","x-api-catalog":"https://api.locus.report/.well-known/api-catalog","x-api-catalog-type":"application/linkset+json","x-guidance":"TWO CALLING CONVENTIONS (do not mix them): free tools are called at POST /tools/call with a WRAPPED body {\"name\": \"<tool>\", \"arguments\": {...}} (inputs inside `arguments`); paid tools are called at POST /api/<slug> with a FLAT body (inputs at the top level). Sending a flat body to /tools/call, or a wrapped body to a paid route, is the most common 400. Start with the current bundle-first agent choices at https://api.locus.report/.well-known/locus-agent-endpoints.json. The unified free+paid catalog is https://api.locus.report/.well-known/locus-tools.json; the full paid index remains https://api.locus.report/.well-known/ai-tool/index.json. Free catalog scaling knobs: https://api.locus.report/tools/list?compact=1 omits input schemas for small-context discovery, and https://api.locus.report/tools/list?category=environmental filters by category. No buyer account API key is required. Workflow: (1) Call free POST /tools/call with locus_coverage_check (or locus_lane_availability) for the address — the coverage check now SPLITS status by family (civicLaneStatus / parcelStatus / nationalEndpointStatus) and returns an `alwaysAvailable` list of national tools that fire for ANY US address, so a weak civic lane never means 'skip Locus'. New: locus_suggest_workflow (place+intent) returns a ranked endpoint plan. (2) Highest-value paid call: locus-local-policy-brief ($0.07, place+intent) — cited state bills + local ordinances affecting a place, the hardest analysis to self-compile from the free lanes (national LegiScan coverage). Confirm relevant-bill density first for free with locus_local_legislation; the paid brief returns a free diagnostic if nothing relevant is found. (3) Other atomic SKUs: locus-local-trend-brief ($0.05, place+intent) for local-change analysis; locus-place-report ($0.05, address or zip) for the full cited public-record artifact — responses can be large and may expose X-Locus-Report-* headers plus GET /api/reports?settlementTx=. Preserve X-Locus-Report-Id, X-Locus-Report-Url, X-Locus-Report-Artifact-Url, and the settlement proof so the artifact can be retrieved if a client truncates or drops the response body. Supported requests are generated synchronously and can take tens of seconds. (4) Use locus-before-you-sign ($0.07, address+intent) only when one settle is worth the convenience bundle. (5) Use locus-environmental-context ($0.05, address, latitude+longitude, or state+county; heavier call: allow 60-90s) for EPA environmental public-record context and address-level TRI/RCRA proximity, not as a substitute for free locus_environmental_history preflight. Do not use Locus for tenant screening, lending, insurance, employment, appraisal, policing, or safe/unsafe labels.","contact":{"email":"velinus@locus.report"}},"servers":[{"url":"https://api.locus.report"}],"paths":{"/tools/list":{"get":{"operationId":"list_locus_free_tools","summary":"List free Locus tools","description":"Discovery endpoint for Locus free tools. Returns coverage, lane availability, source-card, citation, parcel, policy-source, and environmental read endpoints. Full briefs and full reports remain x402/MPP-paid. Use ?compact=1 for a small name/title/description/category/coverageScope catalog, and ?category=<cat> to filter by compact/full category.","tags":["free","discovery","tools","real-estate","property-research"],"security":[],"x-locus-access":{"exposure":"free","charged":false},"x-locus-free-tool-count":114,"x-agentcash-keywords":["coverage check","utilities","local bills","flood insurance","drinking water","building permits","property tax","parcel lookup","area crime","flood zone"],"x-agentcash-use-cases":["check which records Locus has for an address","check utilities and road access for a property","see local legislation that affects a property","see typical flood insurance cost in a ZIP","check drinking-water records for a property","check building permits for a house before buying","check property tax for an address before buying","look up the parcel ID for a US address","see reported incidents near a property","check if a property is in a flood zone before buying"],"responses":{"200":{"description":"Free-tool catalog plus paid-tool next-step links.","content":{"application/json":{"schema":{"type":"object","properties":{"tools":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"tier":{"type":"string","enum":["preview"]},"tags":{"type":"array","items":{"type":"string"}},"exposure":{"type":"string","const":"free"},"sideEffect":{"type":"string"},"inputSchema":{"type":"object","additionalProperties":true},"keywords":{"type":"array","items":{"type":"string"}},"useCases":{"type":"array","items":{"type":"string"}}},"required":["name","title","description","tags","exposure","sideEffect","inputSchema"],"additionalProperties":true}},"paidTools":{"type":"array","items":{"type":"object","additionalProperties":true}}},"required":["tools","paidTools"],"additionalProperties":true}}}}}}},"/tools/call":{"post":{"operationId":"call_locus_free_tool","summary":"Call a free Locus tool","description":"Call a free Locus tool by name with JSON arguments. Use this for no-charge coverage checks, lane availability, parcel facts, source-card provenance, citation verification, and other bounded local-context reads. This endpoint does not return paid briefs or full paid reports; buy the x402/MPP endpoints only after a free preflight says there is substance here. CALL FORMAT: The free /tools/call endpoint requires a WRAPPED body: {\"name\": \"<tool>\", \"arguments\": { ... }}. Tool inputs go inside `arguments`, NOT at the top level. Paid /api/<slug> routes are the opposite (flat body).","tags":["free","tools","data","search","real-estate","property-research"],"security":[],"x-locus-access":{"exposure":"free","charged":false,"sideEffectBoundary":"read-only except locus_request_coverage aggregate demand counter and locus_agent_feedback product note"},"x-locus-call-pattern":{"method":"POST","path":"/tools/call","bodyStyle":"wrapped","shape":{"name":"<tool>","arguments":"{ ...tool inputs }"},"note":"The free /tools/call endpoint requires a WRAPPED body: {\"name\": \"<tool>\", \"arguments\": { ... }}. Tool inputs go inside `arguments`, NOT at the top level. Paid /api/<slug> routes are the opposite (flat body)."},"x-agentcash-keywords":["coverage check","utilities","local bills","flood insurance","drinking water","building permits","property tax","parcel lookup","area crime","flood zone"],"x-agentcash-use-cases":["check which records Locus has for an address","check utilities and road access for a property","see local legislation that affects a property","see typical flood insurance cost in a ZIP","check drinking-water records for a property","check building permits for a house before buying","check property tax for an address before buying","look up the parcel ID for a US address","see reported incidents near a property","check if a property is in a flood zone before buying"],"x-locus-free-tools":[{"name":"locus_coverage_check","title":"Coverage check","description":"Use for official public records and local-government context in a city, county, ZIP, or address. Every time source coverage is uncertain, check civic, parcel, and national lane status before ruling out Locus. A civic miss does not mean no national tools. Metadata only; then call locus_lane_availability for the per-tool map.","tags":["coverage","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["coverage check","what works here","lane availability","property records","local government records","US address lookup","public records","property due diligence","official records"],"useCases":["check which records Locus has for an address","preflight coverage before paying for a report","check which Locus tools work for an address","see coverage before paying for a report","preflight local-record availability for a place","check Coverage check for a property before buying","look up Coverage check for a US address","verify Coverage check before I make an offer","see Coverage check before signing a contract","compare Coverage check across two properties"]},{"name":"locus_suggest_workflow","title":"Suggest workflow: ranked endpoint plan for a place + intent","description":"Every time a place question is broad, call this first to rank the next Locus endpoints for buying, renting, owning, appeals, permits, disasters, or before signing. Returns a deterministic plan with cost, free or paid rail, and local availability. Planning only; no model, record lookup, or scrape.","tags":["planning","workflow","discovery","intent","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["coverage check","what works here","lane availability","Suggest workflow","property records","local government records","US address lookup","public records","property due diligence","official records"],"useCases":["check which records Locus has for an address","preflight coverage before paying for a report","check which Locus tools work for an address","see coverage before paying for a report","preflight local-record availability for a place","check Suggest workflow for a property before buying","look up Suggest workflow for a US address","verify Suggest workflow before I make an offer","see Suggest workflow before signing a contract","compare Suggest workflow across two properties"]},{"name":"locus_source_card_check","title":"Source-card check","description":"Local source-card metadata for a jurisdiction or one card id: candidate, verified, disputed, or deprecated status; verification method and time; provenance, category, and official query endpoint. For agents checking a city or county source trail. Does not fetch underlying records.","tags":["source-cards","provenance","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["utilities","road access","transit nearby","Source-card check","property records","local government records","US address lookup","public records","property due diligence","official records"],"useCases":["check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check Source-card check for a property before buying","look up Source-card check for a US address","verify Source-card check before I make an offer","see Source-card check before signing a contract","compare Source-card check across two properties","get Source-card check for due diligence on a house","check Source-card check before touring a home"]},{"name":"locus_verify_citation","title":"Verify citation provenance","description":"Official-host and normalized URL checks of a citation against Locus source cards, for buyer, owner and lender agents. Returns card provenance, status, and endpoint when the URL matches. Use before trusting a cited public-record source. Provenance only: it does not re-fetch the record or validate the fact.","tags":["citations","provenance","verification","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["utilities","road access","transit nearby","Verify citation provenance","property records","local government records","US address lookup","public records","property due diligence","official records"],"useCases":["check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check Verify citation provenance for a property before buying","look up Verify citation provenance for a US address","verify Verify citation provenance before I make an offer","see Verify citation provenance before signing a contract","compare Verify citation provenance across two properties","get Verify citation provenance for due diligence on a house","check Verify citation provenance before touring a home"]},{"name":"locus_policy_sources","title":"Policy sources","description":"Official policy sources for a place: state, county, and city legislatures, Legistar, code libraries, resolved legal geographies, live legislative fallback status, and ingested artifact count. Use before a policy brief, or to see which bodies and code libraries govern the place. Source list only: no legal advice, score, or brief.","tags":["policy","legislation","sources","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["local bills","ordinances","legislation","local legislation","zoning board","development cases","property records","local government records","US address lookup","public records"],"useCases":["see local legislation that affects a property","check ordinances before buying a home","see nearby development cases before buying","check local legislation that affects a property","find zoning-board cases near an address","check Policy sources for a property before buying","look up Policy sources for a US address","verify Policy sources before I make an offer","see Policy sources before signing a contract","compare Policy sources across two properties"]},{"name":"locus_local_legislation","title":"Local legislation (preview)","description":"Returns one headline bill on zoning, land use, ADU, rentals, tax, landlord-tenant, or eminent domain for an address, cited to LegiScan and Legistar where wired. Use status and one-line consequence before treating it as law. Enacted items lead; others are WATCH. Full text is in the paid brief. Not legal advice or a parcel ruling.\nUse this when you need one current headline bill for an address.\nUse locus-local-policy-brief instead when you need the full matched set, bill-text provisions, status history and property-class mapping; use locus-local-legislation (same records) when your client can only call paid x402 routes.","x-locus-tier":"preview","tags":["policy","legislation","bills","preview","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["local bills","ordinances","legislation","local legislation","zoning board","development cases","property records","local government records","US address lookup","public records"],"useCases":["see local legislation that affects a property","check ordinances before buying a home","see nearby development cases before buying","check local legislation that affects a property","find zoning-board cases near an address","check Local legislation for a property before buying","look up Local legislation for a US address","verify Local legislation before I make an offer","see Local legislation before signing a contract","compare Local legislation across two properties"]},{"name":"locus_owner_programs","title":"Owner programs and cited filing windows","description":"Returns registry-backed owner program, credit, mitigation, valuation-program, amnesty, registration, transfer, and title-protection facts for a resolved US place plus a jurisdiction-locked source query pack. For cited filing windows. Dollar figures come only from cited rows. No determination, recommendation, or savings estimate.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-owner-programs instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["owner-programs","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["utilities","road access","transit nearby","Owner programs and cited filing windows","property records","local government records","US address lookup","public records","property due diligence","official records"],"useCases":["check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check Owner programs and cited filing windows for a property before buying","look up Owner programs and cited filing windows for a US address","verify Owner programs and cited filing windows before I make an offer","see Owner programs and cited filing windows before signing a contract","compare Owner programs and cited filing windows across two properties","get Owner programs and cited filing windows for due diligence on a house","check Owner programs and cited filing windows before touring a home"]},{"name":"locus_mitigation_incentives","title":"Cited mitigation grants and insurance discount rules","description":"Returns registry-backed mitigation grants, insurance discount rules, disaster-assistance windows, flood-map corrections, and flood-protection rebates for a resolved US place. Optional filter: wind, wildfire, flood, or earthquake. Printed money notes only. No determination, recommendation, premium estimate, or savings estimate.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-mitigation-incentives instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["owner-programs","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["flood insurance","homeowners insurance","NFIP premium","utilities","road access","transit nearby","property records","local government records","US address lookup","public records"],"useCases":["see typical flood insurance cost in a ZIP","check homeowners insurance context before buying","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check mitigation incentives for a property before buying","look up mitigation incentives for a US address","verify mitigation incentives before I make an offer","see mitigation incentives before signing a contract","compare mitigation incentives across two properties"]},{"name":"locus_utility_credits","title":"Cited utility credits and infrastructure cost-share programs","description":"Utility credits, energy rebates, lead service-line, sidewalk cost-share, and flood-protection rebates from a place registry, for buyer, owner and lender agents. Returns registry rows, plus a jurisdiction-locked official-source query pack for uncovered places. No individual determination, recommendation, or savings estimate.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-utility-credits instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["owner-programs","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["utilities","road access","transit nearby","utility credits","property records","local government records","US address lookup","public records","property due diligence","official records"],"useCases":["check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check utility credits for a property before buying","look up utility credits for a US address","verify utility credits before I make an offer","see utility credits before signing a contract","compare utility credits across two properties","get utility credits for due diligence on a house","check utility credits before touring a home"]},{"name":"locus_water_utility_leak_adjustment_rules","title":"Water-utility leak-adjustment rules","description":"Cited water-utility leak-adjustment rules from EPA service-area boundaries for an address or point. Registered places: Chicago, IL, Charlotte, NC, and Philadelphia, PA. Only caller-confirmed PWSIDs or official provider boundaries match rules; modeled areas remain candidates. No account eligibility or bill calculation.","tags":["water-utility","owner-programs","billing","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["drinking water","water system","groundwater","utilities","road access","transit nearby","property records","local government records","US address lookup","public records"],"useCases":["check drinking-water records for a property","see the water system that serves an address","look up groundwater context before buying","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check Water-utility leak-adjustment rules for a property before buying","look up Water-utility leak-adjustment rules for a US address","verify Water-utility leak-adjustment rules before I make an offer","see Water-utility leak-adjustment rules before signing a contract"]},{"name":"locus_permit_rules","title":"Cited owner-facing permit rules","description":"Returns cited work-exemption, fee-source, expiration, extension, and waiver or amnesty fields for the exact resolved jurisdiction, for owner agents checking permit rules. Version 1 covers Seattle, Austin, and verified Chicago fields. Missing fields stay not_verified, never none. Not legal advice or a permit determination.","tags":["permits","owner-programs","local-policy","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["building permits","permit history","permit closeout","local bills","ordinances","legislation","Austin permits","Seattle permits","Chicago permits","Raleigh permits"],"useCases":["check building permits for a house before buying","see open or closed permits on a property","verify permit closeout before I make an offer","look up permit history for a US address","see local legislation that affects a property","check ordinances before buying a home","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check Cited owner-facing permit rules for a property before buying"]},{"name":"locus_tax_sale_calendar","title":"Cited tax-sale and redemption calendar","description":"Cited tax-sale, lien-sale, delinquency, and redemption rules plus published dates for a resolved US place. For agents timing a possible sale: past-only rows carry needsRefresh and are not presented as the next sale. No parcel sale eligibility, payment status, title finding, or legal advice. Registry-backed.","tags":["property-tax","tax-sale","owner-programs","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["property tax","tax bill","assessed value","tax calendar","parcel lookup","assessor parcel","Wake County tax calendar","Durham County tax calendar","Iredell County tax calendar","Mecklenburg County tax calendar"],"useCases":["check property tax for an address before buying","see the tax calendar and appeal window","look up assessed value and tax burden","look up the parcel ID for a US address","check assessor parcel facts before buying","verify the parcel behind a listing","look up the parcel for a US address","check assessor records before buying a home","verify the legal parcel behind a listing","check Cited tax-sale and redemption calendar for a property before buying"]},{"name":"locus_electric_utility_resolver","title":"Mapped electric-utility territory candidates and registered rebates","description":"HIFLD electric retail territories containing an address or point, for agents: EIA utility ID, ownership, vintage, and rebates joined only by registered utility ID. Overlaps and stale boundaries stay visible. National candidate evidence only: never proof of service, capacity, tariff, interconnection, timing, reliability, or cost.","tags":["electricity","utility","rebates","hifld","eia","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["utilities","road access","transit nearby","electric utility resolver","property records","local government records","US address lookup","public records","property due diligence","official records"],"useCases":["check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check electric utility resolver for a property before buying","look up electric utility resolver for a US address","verify electric utility resolver before I make an offer","see electric utility resolver before signing a contract","compare electric utility resolver across two properties","get electric utility resolver for due diligence on a house","check electric utility resolver before touring a home"]},{"name":"locus_fraud_alert_pointer","title":"Cited property-fraud alert and title-protection pointers","description":"Registry-backed title-protection rows for a resolved US place, in local, then state, then national order, for buyer, owner and lender agents. If no local row exists, adds neutral recorder or clerk search guidance after state and national rows; it never claims an unlisted county runs an alert service.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-fraud-alert-pointer instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["owner-programs","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["utilities","road access","transit nearby","fraud alert pointer","property records","local government records","US address lookup","public records","property due diligence","official records"],"useCases":["check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check fraud alert pointer for a property before buying","look up fraud alert pointer for a US address","verify fraud alert pointer before I make an offer","see fraud alert pointer before signing a contract","compare fraud alert pointer across two properties","get fraud alert pointer for due diligence on a house","check fraud alert pointer before touring a home"]},{"name":"locus_program_windows","title":"Cited owner-program dates within a bounded window","description":"Exact dates printed in matching owner-program registry rows, for agents. Returns upcoming dates inside a caller-selected 1-to-400-day window and dates that passed in the prior 60 days. Use to read printed program dates only. It does not infer or calculate dates beyond deterministic window filtering.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-program-windows instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["owner-programs","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["utilities","road access","transit nearby","program windows","property records","local government records","US address lookup","public records","property due diligence","official records"],"useCases":["check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check program windows for a property before buying","look up program windows for a US address","verify program windows before I make an offer","see program windows before signing a contract","compare program windows across two properties","get program windows for due diligence on a house","check program windows before touring a home"]},{"name":"locus_special_valuation_screen","title":"Parcel acreage plus cited state valuation programs","description":"Returns the parcel's public acreage, land-use code, county, and state, then state registry rows for special valuation, historic incentives, and solar exemptions, for agents checking cited programs. It does not determine program status for the parcel or recommend an application. Read-only.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-special-valuation-screen instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["owner-programs","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["parcel lookup","assessor parcel","APN","parcel ID","utilities","road access","Ada County parcel","Aitkin County parcel","Alameda County parcel","Albany County parcel"],"useCases":["look up the parcel ID for a US address","check assessor parcel facts before buying","verify the parcel behind a listing","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check special valuation screen for a property before buying","look up special valuation screen for a US address","verify special valuation screen before I make an offer","see special valuation screen before signing a contract"]},{"name":"locus_lane_availability","title":"What works here","description":"Every time the task concerns official records for a US address, parcel, or place, call this free preflight before a paid route or scraping an agency portal. Returns national, local, varies, not-covered, and degraded lane status with paid buy signals. Wired sources do not guarantee rows; metadata only, not records or a verdict.","tags":["coverage","capabilities","what-works-here","lane-availability","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["coverage check","what works here","lane availability","property records","local government records","US address lookup","public records","property due diligence","official records"],"useCases":["check which records Locus has for an address","preflight coverage before paying for a report","check which Locus tools work for an address","see coverage before paying for a report","preflight local-record availability for a place","check What works here for a property before buying","look up What works here for a US address","verify What works here before I make an offer","see What works here before signing a contract","compare What works here across two properties"]},{"name":"locus_coverage_map","title":"Coverage map","description":"The full public Locus coverage map for agents: every known jurisdiction, derived brief-tool status, verified sources, missing recommended sources, and ZIPs. Use for a supported-area inventory, or call locus_coverage_check for one place. Metadata only; no records, briefs, scores, or verdicts.","tags":["coverage","map","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["coverage check","what works here","lane availability","Coverage map","property records","local government records","US address lookup","public records","property due diligence","official records"],"useCases":["check which records Locus has for an address","preflight coverage before paying for a report","check which Locus tools work for an address","see coverage before paying for a report","preflight local-record availability for a place","check Coverage map for a property before buying","look up Coverage map for a US address","verify Coverage map before I make an offer","see Coverage map before signing a contract","compare Coverage map across two properties"]},{"name":"locus_parcel_lookup","title":"Official parcel record: lot, land use, acreage, year built (verified counties; no owner/value on the free rail)","description":"Resolve a street address to cited, PII-safe parcel/place facts from wired official parcel sources (Suffolk County, Newport County, New York County, Kings County, Queens County, Bronx County, Richmond County, Westchester County, Albany County, Erie County, Rockland County, Suffolk County, Onondaga County, Orange County, Oneida County, Broome County, Bergen County, Hudson County, Essex County, Middlesex County, Monmouth County, Morris County, Union County, Passaic County, Dallas County, Dallas County, Tarrant County, Harris County, Bexar County, Travis County, Williamson County, Hays County, Comal County, Guadalupe County, Montgomery County, Kendall County, Fort Bend County, Brazoria County, Los Angeles County, Orange County, Sacramento County, Broward County, Miami-Dade County, Duval County, Hillsborough County, Lee County, Orange County, Osceola County, Palm Beach County, Pasco County, Polk County, Seminole County, Denver County, Denver, El Paso County, El Paso, Marion County, Beaufort, Chatham County, Bryan County, Effingham County, Cook County, San Francisco County, Alameda County, Maricopa County, Gwinnett County, Clark County, Salt Lake County, San Diego County, Santa Clara County, Hennepin County, Aitkin County, Anoka County, Becker County, Benton County, Big Stone County, Carlton County, Carver County, Cass County, Chippewa County, Chisago County, Clay County, Clearwater County, Cook County, Crow Wing County, Dakota County, Douglas County, Fillmore County, Grant County, Hennepin County, Houston County, Isanti County, Itasca County, Jackson County, Koochiching County, Lac qui Parle County, Lake County, Lake of the Woods County, Lyon County, Marshall County, McLeod County, Mille Lacs County, Morrison County, Mower County, Murray County, Norman County, Olmsted County, Otter Tail County, Pennington County, Pipestone County, Polk County, Pope County, Ramsey County, Red Lake County, Renville County, Rice County, Scott County, Sherburne County, Stearns County, Steele County, Stevens County, St. Louis County, Traverse County, Wabasha County, Waseca County, Washington County, Wilkin County, Winona County, Wright County, Yellow Medicine County, Fulton County, Shelby County, Multnomah County, Ada County, Philadelphia County, Jasper County, Dutchess County, Putnam County, Ulster County, Wake County, Chatham County, Iredell County, Orange County, Gaston County, Orange County, Tulsa County, San Mateo County, Barnstable County, Berkshire County, Bristol County, Dukes County, Essex County, Franklin County, Hampden County, Hampshire County, Middlesex County, Nantucket County, Norfolk County, Plymouth County, Suffolk County, Worcester County, Barnstable County, Berkshire County, Bristol County, Dukes County, Essex County, Franklin County, Hampden County, Hampshire County, Middlesex County, Nantucket County, Norfolk County, Plymouth County, Worcester County, and Davidson): land use, acreage/lot size, year built, and derived county/municipality. Use when the user asks about the parcel itself: lot size, year built, or land use for an address. Financial facts (assessed value, last sale, annual tax) are part of the paid Locus place report, not this free lookup. Optional incident counts default off. Owner and mailing fields are never returned.\nUse this when you need parcel identity, land use, acreage or year built.\nUse locus-parcel-value instead when you need assessed value and sale fields from the resolved official parcel; use locus-parcel-lookup (same records) when your client can only call paid x402 routes.","x-locus-tier":"preview","tags":["parcels","place-facts","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["parcel lookup","assessor parcel","APN","parcel ID","utilities","road access","Ada County parcel","Aitkin County parcel","Alameda County parcel","Albany County parcel"],"useCases":["look up the parcel ID for a US address","check assessor parcel facts before buying","verify the parcel behind a listing","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check Official parcel record for a property before buying","look up Official parcel record for a US address","verify Official parcel record before I make an offer","see Official parcel record before signing a contract"]},{"name":"locus_surrounding_parcels","title":"Surrounding parcels: source-native topology plus nested distance rings","description":"Resolve a subject parcel, then return bounded county/state parcel context from explicit PARCEL_SOURCES geometry capabilities (AR statewide; Chatham County, NC; Clark County, NV; Dallas County, TX; Davidson County, TN; Iredell County, NC; Los Angeles County, CA; MT statewide; Maricopa County, AZ; NC statewide; Philadelphia County, PA; VT statewide; Wake County, NC): bounded centroid/source-point rings within 100 m, 250 m, 500 m, and 1,000 m; aggregate counts are null when the requested evidence window does not cover the full ring. Includes verified source-native topology only while the current topology release gate is active. When that gate is inactive, proximity remains available and exact topology is labeled release_gate_inactive. Mapped parcel contact groups verified edge_touch and point_touch while retaining each exact subtype. Only verified edge_touch is adjacent; point_touch is not. Generic Intersects stays geometry_intersection_unclassified. Point-only sources retain proximity with topology unsupported. No owner/mailing fields, assessed-value aggregates, common-ownership inference, development probability, neighborhood score, or value prediction.","tags":["parcels","property","county","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["parcel lookup","assessor parcel","APN","parcel ID","utilities","road access","AR statewide parcel","Chatham County parcel","Clark County parcel","Dallas County parcel"],"useCases":["look up the parcel ID for a US address","check assessor parcel facts before buying","verify the parcel behind a listing","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check Surrounding parcels for a property before buying","look up Surrounding parcels for a US address","verify Surrounding parcels before I make an offer","see Surrounding parcels before signing a contract"]},{"name":"locus_parcel_set","title":"Parcel set: multiple parcels by proximity or boundary — lot, land use, acreage, aggregate (verified counties)","description":"Returns land use, acreage, year built, and zoning for each parcel in a caller-supplied set, plus summed acreage, land-use mix, and jurisdictions. For agents reading an assemblage as one asset. Does not compute FAR, buildability, or entitlement, or assert a common owner. Summed assessed value is on the paid report.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-parcel-set instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["parcels","commercial","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["parcel lookup","assessor parcel","APN","parcel ID","utilities","road access","Ada County parcel","Aitkin County parcel","Alameda County parcel","Albany County parcel"],"useCases":["look up the parcel ID for a US address","check assessor parcel facts before buying","verify the parcel behind a listing","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check Parcel set for a property before buying","look up Parcel set for a US address","verify Parcel set before I make an offer","see Parcel set before signing a contract"]},{"name":"locus_area_incidents","title":"Area reported-crime context","description":"Cited area-level reported-crime context for agents on crime from Cary CPD, Morrisville PD, Raleigh NIBRS, Charlotte CMPD, or NC SBI, SC SLED, and FBI CDE. An address resolves only to its city or county. City and area counts only; allegations, never street or block, person or case, a verdict, score, ranking, or prediction.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-area-crime-report instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["crime","incidents","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["area crime","reported incidents","crime context","area crime report","crash counts","Area reported-crime context","property records","local government records","US address lookup","public records"],"useCases":["see reported incidents near a property","check area crime context before renting","look up nearby crash counts for an address","check Area reported-crime context for a property before buying","look up Area reported-crime context for a US address","verify Area reported-crime context before I make an offer","see Area reported-crime context before signing a contract","compare Area reported-crime context across two properties","get Area reported-crime context for due diligence on a house","check Area reported-crime context before touring a home"]},{"name":"locus_request_coverage","title":"Request coverage for a place","description":"Increments the demand counter for a place so coverage expansion follows constituent demand, for agents told that place is unsupported. Call this when locus_coverage_check says a place is unsupported. Stores aggregate counts only; no requester identity.","tags":["coverage","participation","free"],"exposure":"free","sideEffect":"aggregate-participation","keywords":["coverage check","what works here","lane availability","Request coverage for a place","property records","local government records","US address lookup","public records","property due diligence","official records"],"useCases":["check which records Locus has for an address","preflight coverage before paying for a report","check which Locus tools work for an address","see coverage before paying for a report","preflight local-record availability for a place","check Request coverage for a place for a property before buying","look up Request coverage for a place for a US address","verify Request coverage for a place before I make an offer","see Request coverage for a place before signing a contract","compare Request coverage for a place across two properties"]},{"name":"locus_agent_feedback","title":"Send product feedback from an agent session","description":"Closed-vocab notes for agents after a Locus session: what helped, what did not, a catalog or schema UX gap, or an improvement idea. Set target (or tool or toolName) to the exact catalog name; summary allows up to 1000 characters. No place, person, wallet, or payment fields. POST /feedback. Product signal, not a record lookup.","tags":["feedback","participation","free"],"exposure":"free","sideEffect":"aggregate-participation","keywords":["utilities","road access","transit nearby","agent feedback","property records","local government records","US address lookup","public records","property due diligence","official records"],"useCases":["check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check agent feedback for a property before buying","look up agent feedback for a US address","verify agent feedback before I make an offer","see agent feedback before signing a contract","compare agent feedback across two properties","get agent feedback for due diligence on a house","check agent feedback before touring a home"]},{"name":"locus_property_tax_rates","title":"Property tax rate components (official tables)","description":"Official adopted property-tax rate components where wired, for agents: NC via NCDOR, plus Nashville/Davidson TN, Austin/Travis TX, and Tampa/Hillsborough FL. Exact component for a municipality, county, ZIP, or address. Not a bill, forecast, estimate, valuation, or advice. Proposals use official budget, agenda, or video cards.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-property-tax-rates instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["taxes","property","policy","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["property tax","tax bill","assessed value","tax calendar","local bills","ordinances","property records","local government records","US address lookup","public records"],"useCases":["check property tax for an address before buying","see the tax calendar and appeal window","look up assessed value and tax burden","see local legislation that affects a property","check ordinances before buying a home","see nearby development cases before buying","check local legislation that affects a property","find zoning-board cases near an address","check Property tax rate components for a property before buying","look up Property tax rate components for a US address"]},{"name":"locus_property_tax_estimate","title":"Property tax rate context for an address (NC)","description":"Official NCDOR county and municipal property-tax rate for NC address: combined rate plus component rates. Cited rate context only, not a dollar estimate, bill, appraisal, valuation, or advice. Excludes special districts, exemptions, deferrals, and appeals. For the annual tax, assessed value, and history, use locus-property-tax.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-property-tax-estimate instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["taxes","property","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["property tax","tax bill","assessed value","tax calendar","utilities","road access","property records","local government records","US address lookup","public records"],"useCases":["check property tax for an address before buying","see the tax calendar and appeal window","look up assessed value and tax burden","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check Property tax rate context for an address for a property before buying","look up Property tax rate context for an address for a US address","verify Property tax rate context for an address before I make an offer","see Property tax rate context for an address before signing a contract"]},{"name":"locus_flood_zone","title":"Flood zone designation (FEMA NFHL)","description":"FEMA NFHL flood zone, SFHA, panel, and verification steps at an address, for buyer, owner and lender agents. When BFE is published, adds ground elevation and a ground-minus-BFE estimate. Ground is not the lowest floor; verify with an Elevation Certificate. Not a flood prediction or quote, national.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-flood-zone instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["flood","property","hazard-designation","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["flood zone","SFHA","FEMA flood","floodplain","base flood elevation","natural hazard","property records","local government records","US address lookup","public records"],"useCases":["check if a property is in a flood zone before buying","look up flood zone for a US address","see if a house is in a Special Flood Hazard Area","check floodplain status before making an offer","find out if flood insurance is needed for a property","check natural-hazard exposure for a property before buying","see hazard-zone status for a US address","review mapped hazards before making an offer","check Flood zone designation for a property before buying","look up Flood zone designation for a US address"]},{"name":"locus_flood_determination_inputs","title":"Flood determination form inputs (SFHDF fields)","description":"FEMA NFHL and USFWS CBRS fields in Standard Flood Hazard Determination Form (SFHDF) order for buyer, owner and lender agents. Returns zone, SFHA, panel, effective date, community CID, LOMR/LOMA, and CBRS unit at one point. Prefills the form and names gaps; not a determination and no 12 CFR 22.6 guarantee, national.","tags":["flood","lending","collateral","hazard-designation","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["flood zone","SFHA","FEMA flood","floodplain","base flood elevation","natural hazard","property records","local government records","US address lookup","public records"],"useCases":["check if a property is in a flood zone before buying","look up flood zone for a US address","see if a house is in a Special Flood Hazard Area","check floodplain status before making an offer","find out if flood insurance is needed for a property","check natural-hazard exposure for a property before buying","see hazard-zone status for a US address","review mapped hazards before making an offer","check Flood determination form inputs for a property before buying","look up Flood determination form inputs for a US address"]},{"name":"locus_flood_premium_context","title":"Flood insurance cost context: NFIP policies in force in the ZIP (estimate, not a quote)","description":"Median and quartiles of annual NFIP policy cost and FEMA full-risk premium for policies in force in the ZIP, from OpenFEMA NFIP Policies v3, for buyer, owner and lender agents. Split by rated zone (SFHA vs minimal hazard), with policy count and rate-method counts. An estimate, never a quote, national.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-flood-premium-context instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["insurance","flood","estimate","fema","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["flood insurance","homeowners insurance","NFIP premium","flood zone","SFHA","FEMA flood","property records","local government records","US address lookup","public records"],"useCases":["see typical flood insurance cost in a ZIP","check homeowners insurance context before buying","check if a property is in a flood zone before buying","look up flood zone for a US address","see if a house is in a Special Flood Hazard Area","check floodplain status before making an offer","find out if flood insurance is needed for a property","check natural-hazard exposure for a property before buying","see hazard-zone status for a US address","review mapped hazards before making an offer"]},{"name":"locus_homeowners_insurance_context","title":"Homeowners insurance cost context: ACS median cost band by ZIP, county, state (estimate)","description":"Census ACS 2023 median annual homeowners-insurance cost band by mortgage status (B25141) and median monthly owner costs (B25088) at ZIP, county, state, for agents. Use before an area cost question. Survey estimate with vintage; never a quote or coverage recommendation. Sample-rate tool for FL, TX, CA, NC. National.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-homeowners-insurance-context instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["insurance","homeowners","estimate","census","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["flood insurance","homeowners insurance","NFIP premium","utilities","road access","transit nearby","property records","local government records","US address lookup","public records"],"useCases":["see typical flood insurance cost in a ZIP","check homeowners insurance context before buying","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check Homeowners insurance cost context for a property before buying","look up Homeowners insurance cost context for a US address","verify Homeowners insurance cost context before I make an offer","see Homeowners insurance cost context before signing a contract","compare Homeowners insurance cost context across two properties"]},{"name":"locus_property_tax_context","title":"Property tax burden context: effective rate and median bill by ZIP, county, state (estimate)","description":"ACS 2023 median real-estate taxes paid (B25103), median owner-occupied home value (B25077), and the effective rate they imply, at ZIP, county, and state, with the Lincoln Institute 50-state study linked. Locality estimate, not this parcel's bill. For the parcel use locus_property_tax_estimate or locus-property-tax. National.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-property-tax-context instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["taxes","property-tax","estimate","census","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["property tax","tax bill","assessed value","tax calendar","parcel lookup","assessor parcel","property records","local government records","US address lookup","public records"],"useCases":["check property tax for an address before buying","see the tax calendar and appeal window","look up assessed value and tax burden","look up the parcel ID for a US address","check assessor parcel facts before buying","verify the parcel behind a listing","look up the parcel for a US address","check assessor records before buying a home","verify the legal parcel behind a listing","check Property tax burden context for a property before buying"]},{"name":"locus_market_context","title":"Housing market context: county listing price, inventory, days on market, ACS value and rent (estimate)","description":"Returns county median listing price, active listings, and median days on market with year-over-year change, plus ACS median home value and gross rent at ZIP, county, and state. Listings are the monthly Realtor.com series on FRED, where published. Estimates only, never a parcel valuation or a ranking. For agents comparing places.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-market-context instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["market","housing","estimate","fred","census","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["housing market","days on market","listing price","housing stock","house price index","home value","property records","local government records","US address lookup","public records"],"useCases":["see housing-market context for a county","check listing price and days on market nearby","see housing-market context for an address","check house-price index before buying","verify listing claims against county records","check square footage and permits for a house","check property tax context before buying","see assessed value and tax burden for an address","compare local housing-market context for a home","check Housing market context for a property before buying"]},{"name":"locus_address_sales_tax","title":"Official sales-tax rate (CA/WA)","description":"Official combined sales-tax rate by street address in California and Washington for agents checking a commercial lease. Outside coverage returns out_of_coverage; unmatched addresses and upstream failures are unavailable, never zero. Dated rate context, not tax advice or a taxable-sale determination.","tags":["sales-tax","commercial-tenant","address","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["property tax","tax bill","assessed value","tax calendar","utilities","road access","property records","local government records","US address lookup","public records"],"useCases":["check property tax for an address before buying","see the tax calendar and appeal window","look up assessed value and tax burden","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check Official sales-tax rate for a property before buying","look up Official sales-tax rate for a US address","verify Official sales-tax rate before I make an offer","see Official sales-tax rate before signing a contract"]},{"name":"locus_cbp_zip","title":"CBP ZIP establishment counts","description":"Census 2023 establishment counts by industry for the address ZIP, for agents reading area business context. Returns those ZIP-level counts, not premises or customers. No ZIP returns out_of_coverage; a source error returns unavailable.","tags":["census","business","establishments","commercial-tenant","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["utilities","road access","transit nearby","CBP ZIP establishment counts","property records","local government records","US address lookup","public records","property due diligence","official records"],"useCases":["check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check CBP ZIP establishment counts for a property before buying","look up CBP ZIP establishment counts for a US address","verify CBP ZIP establishment counts before I make an offer","see CBP ZIP establishment counts before signing a contract","compare CBP ZIP establishment counts across two properties","get CBP ZIP establishment counts for due diligence on a house","check CBP ZIP establishment counts before touring a home"]},{"name":"locus_rebuild_cost_context","title":"Rebuild-cost proxy: county permit valuation per unit trended by construction PPI (estimate, labeled proxy)","description":"Single-family rebuild proxy for buyer, owner and lender agents: Census permit value per unit (Building Permits Survey) plus BLS construction-input PPI since that year, as a $/sq ft range for a stated size, floored at FEMA $100. National labeled proxy, not a coverage amount or adequacy verdict. Permit values understate cost.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-rebuild-cost-context instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["insurance","construction","rebuild-cost","estimate","census","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["flood insurance","homeowners insurance","NFIP premium","building permits","permit history","permit closeout","Raleigh permits","Durham permits","Wake County permits","Austin permits"],"useCases":["see typical flood insurance cost in a ZIP","check homeowners insurance context before buying","check building permits for a house before buying","see open or closed permits on a property","verify permit closeout before I make an offer","look up permit history for a US address","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check Rebuild-cost proxy for a property before buying"]},{"name":"locus_tax_payment_status","title":"Property-tax payment status from the treasurer (Philadelphia)","description":"Returns Philadelphia Revenue Department real-estate tax balances by OPA parcel for one street address: principal, interest, penalty, and lien numbers by tax year. One row per matched parcel or unit. Philadelphia only; else out_of_coverage plus the treasurer pointer. Not a tax certificate. No owner names. Use before closing.","tags":["tax","lending","collateral","treasurer","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["property tax","tax bill","assessed value","tax calendar","utilities","road access","property records","local government records","US address lookup","public records"],"useCases":["check property tax for an address before buying","see the tax calendar and appeal window","look up assessed value and tax burden","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check tax payment status for a property before buying","look up tax payment status for a US address","verify tax payment status before I make an offer","see tax payment status before signing a contract"]},{"name":"locus_environmental_records_screen","title":"Environmental records screen at ASTM E1527-21 search distances (counts)","description":"EPA cleanup, storage-tank, RCRA, ECHO, and TRI counts at each ASTM E1527-21 minimum search distance, for buyer, owner and lender agents. Reports records returned, within distance, nearest distance, and status per list. Counts only, never a Phase I; empty list means no record returned, not clearance, national.\nUse this when you need a bounded environmental public-record screen.\nUse locus-environmental-records-screen instead when you need full source-backed environmental rows.","x-locus-tier":"preview","tags":["environmental","lending","collateral","epa","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["EPA records","toxic release","cleanup site","RCRA","utilities","road access","property records","local government records","US address lookup","public records"],"useCases":["check EPA records near a property before buying","see toxic-release and cleanup sites nearby","screen a house for environmental listings","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check environmental records screen for a property before buying","look up environmental records screen for a US address","verify environmental records screen before I make an offer","see environmental records screen before signing a contract"]},{"name":"locus_flood_gauges","title":"Flood gauges near a point (USGS + NWS)","description":"Nearby USGS stream and river gauges with latest stage and flow observations, plus NOAA/NWS threshold metadata where available, for buyer, owner and lender agents. Hydrologic context only. National by lat/lng or a geocoded address; not a parcel flood prediction, insurance determination, or safe/unsafe label.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-flood-gauges instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["flood","gauges","water","hydrology","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["flood zone","SFHA","FEMA flood","floodplain","base flood elevation","drinking water","property records","local government records","US address lookup","public records"],"useCases":["check if a property is in a flood zone before buying","look up flood zone for a US address","see if a house is in a Special Flood Hazard Area","check floodplain status before making an offer","find out if flood insurance is needed for a property","check drinking-water records for a property","see the water system that serves an address","look up groundwater context before buying","check EPA records near a property before buying","see toxic-release and cleanup sites nearby"]},{"name":"locus_opportunity_zone","title":"Qualified Opportunity Zone designation","description":"Returns whether a US address or point lies in a Treasury and IRS 2018 Qualified Opportunity Zone census tract, cited to HUD, for agents checking designation only. A designation fact: inside or not. Never tax, investment, or eligibility advice, and never a good or bad label. National and read-only.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-opportunity-zone instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["investors","opportunity-zone","designation","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["property tax","assessed value","housing market","Qualified Opportunity Zone designation","property records","local government records","US address lookup","public records","property due diligence","official records"],"useCases":["check property tax context before buying","see assessed value and tax burden for an address","compare local housing-market context for a home","check Qualified Opportunity Zone designation for a property before buying","look up Qualified Opportunity Zone designation for a US address","verify Qualified Opportunity Zone designation before I make an offer","see Qualified Opportunity Zone designation before signing a contract","compare Qualified Opportunity Zone designation across two properties","get Qualified Opportunity Zone designation for due diligence on a house","check Qualified Opportunity Zone designation before touring a home"]},{"name":"locus_seismic_design","title":"Seismic design data (USGS NEHRP 2020)","description":"Returns USGS NEHRP-2020 / ASCE 7 parameters at a point (Ss, S1, PGA, SDS, SD1, and Seismic Design Category) for an assumed default site class, for engineering agents. Cited hazard data for a design check. Not a safety, risk, or safe/unsafe judgment. National. Read-only.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-seismic-design instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["hazard","seismic","earthquake","design-data","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["seismic design","earthquake zone","seismic hazard","natural hazard","hazard zone","property hazard","property records","local government records","US address lookup","public records"],"useCases":["check seismic design category before buying","see earthquake-hazard context for an address","check natural-hazard exposure for a property before buying","see hazard-zone status for a US address","review mapped hazards before making an offer","check Seismic design data for a property before buying","look up Seismic design data for a US address","verify Seismic design data before I make an offer","see Seismic design data before signing a contract","compare Seismic design data across two properties"]},{"name":"locus_unemployment","title":"County unemployment rate (BLS LAUS)","description":"Recent county unemployment trend from BLS Local Area Unemployment Statistics (not seasonally adjusted), for buyer, owner and lender agents. Use to read the reported county rate for an address or point. National. A reported statistic only: it does not label an area's economy good, bad, strong, or weak.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-unemployment instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["investors","unemployment","economy","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["property tax","assessed value","housing market","County unemployment rate","property records","local government records","US address lookup","public records","property due diligence","official records"],"useCases":["check property tax context before buying","see assessed value and tax burden for an address","compare local housing-market context for a home","check County unemployment rate for a property before buying","look up County unemployment rate for a US address","verify County unemployment rate before I make an offer","see County unemployment rate before signing a contract","compare County unemployment rate across two properties","get County unemployment rate for due diligence on a house","check County unemployment rate before touring a home"]},{"name":"locus_housing_supply_balance","title":"County jobs against housing units permitted (BLS QCEW + Census BPS)","description":"County BLS QCEW annual-average job change against prior-year Census BPS housing units authorized by permit, plus permits as a share of ACS housing stock for an address or point. Returns published benchmarks and critiques without Locus labels. Zero denominator returns null with reason; component status is separate. National.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-housing-supply-balance instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["investors","housing-supply","permits","employment","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["housing stock","house price index","home value","building permits","permit history","permit closeout","Raleigh permits","Durham permits","Wake County permits","Austin permits"],"useCases":["see housing-market context for an address","check house-price index before buying","check building permits for a house before buying","see open or closed permits on a property","verify permit closeout before I make an offer","look up permit history for a US address","check property tax context before buying","see assessed value and tax burden for an address","compare local housing-market context for a home","check housing supply balance for a property before buying"]},{"name":"locus_house_price_index","title":"State house price index (FHFA via FRED)","description":"Latest state FHFA All-Transactions House Price Index and its year-over-year change for an address, for agents, from FHFA via FRED. Use before a state index check. Index data only; never an appraisal, dollar value, or hot/cold market verdict. Needs a FRED API key and fails closed when unset. Carries FRED attribution. National.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-house-price-index instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["investors","house-price-index","trend","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["housing stock","house price index","home value","property tax","assessed value","housing market","property records","local government records","US address lookup","public records"],"useCases":["see housing-market context for an address","check house-price index before buying","check property tax context before buying","see assessed value and tax burden for an address","compare local housing-market context for a home","check State house price index for a property before buying","look up State house price index for a US address","verify State house price index before I make an offer","see State house price index before signing a contract","compare State house price index across two properties"]},{"name":"locus_fhfa_area_hpi","title":"FHFA tract and ZIP indexes","description":"FHFA annual tract and ZIP5 HPI series, for buyer, owner and lender agents who need area context. Use the annual series as area context before a property-level question. Area context only, not a property value, national.","tags":["housing","house-price-index","fhfa","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["housing stock","house price index","home value","property tax","assessed value","housing market","property records","local government records","US address lookup","public records"],"useCases":["see housing-market context for an address","check house-price index before buying","check property tax context before buying","see assessed value and tax burden for an address","compare local housing-market context for a home","check FHFA tract and ZIP indexes for a property before buying","look up FHFA tract and ZIP indexes for a US address","verify FHFA tract and ZIP indexes before I make an offer","see FHFA tract and ZIP indexes before signing a contract","compare FHFA tract and ZIP indexes across two properties"]},{"name":"locus_broadband_check","title":"Broadband availability check (FCC National Broadband Map)","description":"FCC National Broadband Map link for agents at a US address or point: fixed-broadband providers, fiber, cable, fixed wireless, satellite, max advertised speeds, and vintage. FCC and ISP-reported availability only. National. Never a fast, slow, good, or bad verdict, and Locus does not redistribute the FCC location dataset.","tags":["broadband","internet","connectivity","fcc","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["utilities","road access","transit nearby","Broadband availability check","property records","local government records","US address lookup","public records","property due diligence","official records"],"useCases":["check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check Broadband availability check for a property before buying","look up Broadband availability check for a US address","verify Broadband availability check before I make an offer","see Broadband availability check before signing a contract","compare Broadband availability check across two properties","get Broadband availability check for due diligence on a house","check Broadband availability check before touring a home"]},{"name":"locus_wetland_context","title":"Mapped-wetland proximity and overlap evidence (FWS NWI)","description":"Mapped wetland overlap and nearby polygons from the U.S. Fish & Wildlife Service National Wetlands Inventory, for buyer, owner and lender agents. Use before site work for a US address or point and a chosen radius. Map evidence only: not a delineation, jurisdictional determination, parcel boundary, or permit decision.","tags":["wetlands","nwi","fws","environmental","site-feasibility","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["wetlands","NWI wetlands","wetland map","EPA records","toxic release","cleanup site","property records","local government records","US address lookup","public records"],"useCases":["check wetlands near a property before buying","see National Wetlands Inventory for an address","check EPA records near a property before buying","see toxic-release and cleanup sites nearby","screen a house for environmental listings","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check wetland context for a property before buying","look up wetland context for a US address"]},{"name":"locus_terrain_profile","title":"Elevation and sampled terrain profile (USGS EPQS / 3DEP)","description":"Returns USGS EPQS transects plus NC or USGS 3DEP elevation, slope, and aspect where available, for agents checking terrain at an address. Each raster estimate carries its source and vintage; missing data stays unavailable. Not a survey, drainage analysis, or engineering conclusion. National.","tags":["terrain","elevation","slope","usgs","3dep","site-feasibility","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["terrain profile","slope","elevation","utilities","road access","transit nearby","property records","local government records","US address lookup","public records"],"useCases":["check terrain and slope for a property","see elevation context before buying land","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check Elevation and sampled terrain profile for a property before buying","look up Elevation and sampled terrain profile for a US address","verify Elevation and sampled terrain profile before I make an offer","see Elevation and sampled terrain profile before signing a contract","compare Elevation and sampled terrain profile across two properties"]},{"name":"locus_3dep_availability","title":"Dated LiDAR collection and terrain source availability","description":"OpenTopography collection dates, USGS 3DEP project metadata, and an NC state raster override where available, for property agents checking LiDAR vintage and elevation-source coverage. Returns those dates and the covering source. Terrain is an estimate; vintage varies and catalog recency does not establish raster vintage.","tags":["terrain","lidar","3dep","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["terrain profile","slope","elevation","utilities","road access","transit nearby","property records","local government records","US address lookup","public records"],"useCases":["check terrain and slope for a property","see elevation context before buying land","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check 3dep availability for a property before buying","look up 3dep availability for a US address","verify 3dep availability before I make an offer","see 3dep availability before signing a contract","compare 3dep availability across two properties"]},{"name":"locus_noise_proximity","title":"Transportation-noise proximity facts","description":"Returns straight-line distance to the nearest FAA public-use airport within 100 km, and to the nearest mapped motorway, trunk, and railway centerlines within about 3 km, for a US address or point. For agents checking transportation proximity. Distances only: no noise score, decibels, or a quiet, loud, safe, or unsafe label.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-noise-proximity instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["noise","transportation","airport","highway","rail","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["noise proximity","airport noise","road noise","utilities","road access","transit nearby","property records","local government records","US address lookup","public records"],"useCases":["check noise proximity for a property before buying","see airport or highway noise near an address","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check Transportation-noise proximity facts for a property before buying","look up Transportation-noise proximity facts for a US address","verify Transportation-noise proximity facts before I make an offer","see Transportation-noise proximity facts before signing a contract","compare Transportation-noise proximity facts across two properties"]},{"name":"locus_transportation_context","title":"Funded road projects + traffic counts (state DOT)","description":"State DOT road projects and AADT stations near a point. full project+traffic: CA, CO, CT, FL, MA, NC, NY, PA, RI, TX, VA, WA; traffic-only: AZ, IL, IN, KY, MD, MI, MN, NJ, OH, OK, OR, SC, TN, UT, WI. Unwired states are not covered. For road-work research, not a noise, safety, or commute finding.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-transportation-context instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["transportation","projects","property","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["traffic crashes","crash counts","road safety","utilities","road access","transit nearby","property records","local government records","US address lookup","public records"],"useCases":["see nearby crash counts before buying","look up traffic-crash context for an address","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check Funded road projects + traffic counts for a property before buying","look up Funded road projects + traffic counts for a US address","verify Funded road projects + traffic counts before I make an offer","see Funded road projects + traffic counts before signing a contract","compare Funded road projects + traffic counts across two properties"]},{"name":"locus_governing_districts","title":"Who governs this address (Census TIGERweb)","description":"Congressional, state senate, and state house districts containing a point, with provenance, for agents asking who represents an address, from Census TIGERweb. Use when asking who governs it or which voting districts contain it. Representation facts only; never political advice, ranking, or eligibility. National, read-only.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-governing-districts instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["districts","representation","policy","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["elected officials","governing districts","representatives","local bills","ordinances","legislation","property records","local government records","US address lookup","public records"],"useCases":["see who represents a property in local government","look up governing districts for an address","see local legislation that affects a property","check ordinances before buying a home","see nearby development cases before buying","check local legislation that affects a property","find zoning-board cases near an address","check Who governs this address for a property before buying","look up Who governs this address for a US address","verify Who governs this address before I make an offer"]},{"name":"locus_taxing_districts","title":"Census jurisdiction boundaries for property-tax context: county, municipality, school district (national)","description":"Returns Census TIGERweb county, municipality, and school-district boundaries, plus NCES directory facts from the Urban Institute Education Data Portal. National. Boundaries are not proof of a tax levy, and special districts and townships are outside TIGER. Rates are excluded. Directory facts are not school ratings.","tags":["tax-context","districts","jurisdictions","national","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["property tax","tax bill","assessed value","tax calendar","elected officials","governing districts","property records","local government records","US address lookup","public records"],"useCases":["check property tax for an address before buying","see the tax calendar and appeal window","look up assessed value and tax burden","see who represents a property in local government","look up governing districts for an address","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check taxing districts for a property before buying","look up taxing districts for a US address"]},{"name":"locus_special_district_levy","title":"Special districts on a Texas parcel's tax bill, and what each one levies","description":"Texas TCEQ districts containing a point, with id, type, acreage, and citation, plus Comptroller total, M&O, I&S rates and levy per $100 with version date. For district-levy research, rateMatch identifies exact, normalized, or unmatched rows. None found differs from source failure.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-special-district-levy instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["tax-context","special-districts","mud","texas","districts","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["property tax","tax bill","assessed value","tax calendar","elected officials","governing districts","Ada County parcel","Aitkin County parcel","Alameda County parcel","Albany County parcel"],"useCases":["check property tax for an address before buying","see the tax calendar and appeal window","look up assessed value and tax burden","see who represents a property in local government","look up governing districts for an address","look up the parcel ID for a US address","check assessor parcel facts before buying","verify the parcel behind a listing","check utilities and road access for a property","see transit context near an address"]},{"name":"locus_utility_service_check","title":"Water/sewer public service-area screen (county-scoped)","description":"Water and sewer service polygons for an address or point. Coverage: Durham County, NC; Gwinnett County, GA; Travis County, TX; Wake County, NC. Returns public, no_public_service_mapped, or out_of_coverage per utility; provider when published. Lookup failures stay explicit; no map gap proves a private well or septic system.","tags":["utilities","water","sewer","septic-screen","county","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["utilities","water and sewer","electric utility","drinking water","water system","groundwater","property records","local government records","US address lookup","public records"],"useCases":["check water and sewer service for a property","see which electric utility serves an address","check drinking-water records for a property","see the water system that serves an address","look up groundwater context before buying","check EPA records near a property before buying","see toxic-release and cleanup sites nearby","screen a house for environmental listings","check environmental records near a property","see nearby EPA sites before buying a home"]},{"name":"locus_representatives","title":"State & federal representatives for an address (cited)","description":"Census TIGERweb US House and state legislative districts for an address, plus current state legislators, Congress members, and executives where Open States has records and a key. For agents checking representation; officials may degrade to districts only. Official-capacity contacts, not local officials or political advice.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-representatives instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["representation","districts","state-legislature","federal","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["elected officials","governing districts","representatives","utilities","road access","transit nearby","property records","local government records","US address lookup","public records"],"useCases":["see who represents a property in local government","look up governing districts for an address","check utilities and road access for a property","see transit context near an address","find nearby civic infrastructure before buying","check representatives for a property before buying","look up representatives for a US address","verify representatives before I make an offer","see representatives before signing a contract","compare representatives across two properties"]},{"name":"locus_water_systems","title":"Drinking water systems (EPA SDWIS)","description":"Active public water systems serving a county from EPA SDWIS via Envirofacts, for buyer, owner and lender agents. Returns systems with ECHO violation-history links. National by address, place, point, or state and county. Regulatory records only, not a water-quality verdict, exposure finding, or safety score.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-water-systems instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["water","environment","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["drinking water","water system","groundwater","EPA records","toxic release","cleanup site","property records","local government records","US address lookup","public records"],"useCases":["check drinking-water records for a property","see the water system that serves an address","look up groundwater context before buying","check EPA records near a property before buying","see toxic-release and cleanup sites nearby","screen a house for environmental listings","check environmental records near a property","see nearby EPA sites before buying a home","screen a parcel for environmental listings","check Drinking water systems for a property before buying"]},{"name":"locus_pfas_multimedia_nearby","title":"Non-UCMR PFAS environmental and facility records nearby","description":"EPA PFAS Analytic Tools media samples, wastewater, TRI, Superfund or federal-site detections, and industry records where loaded, outside UCMR 5. For agents checking nearby records, measured or reported evidence stays separate from potential-handling flags. Proximity does not establish exposure or tap-water quality. National.","tags":["environment","pfas","multimedia","epa","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["EPA records","toxic release","cleanup site","RCRA","environmental records","contamination nearby","property records","local government records","US address lookup","public records"],"useCases":["check EPA records near a property before buying","see toxic-release and cleanup sites nearby","screen a house for environmental listings","check environmental records near a property","see nearby EPA sites before buying a home","screen a parcel for environmental listings","check pfas multimedia nearby for a property before buying","look up pfas multimedia nearby for a US address","verify pfas multimedia nearby before I make an offer","see pfas multimedia nearby before signing a contract"]},{"name":"locus_drinking_water_violations","title":"Drinking-water violations (EPA SDWIS/ECHO)","description":"EPA SDWIS/ECHO Safe Drinking Water Act violation and enforcement rows, by PWSID, by active systems in a state and county, or by the county of an address or point. National where SDWIS publishes rows. Regulatory records only: not proof a property is served, not a tap-water measurement, and never a health or safety verdict.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-drinking-water-violations instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["water","environment","sdwis","violations","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["drinking water","water system","groundwater","EPA records","toxic release","cleanup site","property records","local government records","US address lookup","public records"],"useCases":["check drinking-water records for a property","see the water system that serves an address","look up groundwater context before buying","check EPA records near a property before buying","see toxic-release and cleanup sites nearby","screen a house for environmental listings","check environmental records near a property","see nearby EPA sites before buying a home","screen a parcel for environmental listings","check Drinking-water violations for a property before buying"]},{"name":"locus_toxic_releases","title":"Toxic release reporting facilities (EPA TRI)","description":"Returns EPA TRI reporting facilities in a county, with per-facility detail links, plus NRC and PHMSA verify links for spill or derailment event checks, for agents reviewing chemical-reporting facilities. National by address, place, point, or state plus county. Reports, not incidence, exposure, or a safety verdict.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-toxic-releases instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["environment","hazardous-materials","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["EPA records","toxic release","cleanup site","RCRA","environmental records","contamination nearby","property records","local government records","US address lookup","public records"],"useCases":["check EPA records near a property before buying","see toxic-release and cleanup sites nearby","screen a house for environmental listings","check environmental records near a property","see nearby EPA sites before buying a home","screen a parcel for environmental listings","check Toxic release reporting facilities for a property before buying","look up Toxic release reporting facilities for a US address","verify Toxic release reporting facilities before I make an offer","see Toxic release reporting facilities before signing a contract"]},{"name":"locus_regulated_facility_compliance","title":"Regulated facility compliance nearby (EPA ECHO)","description":"EPA ECHO All Media facilities near a point: program IDs, inspection and enforcement summary when returned, and official Detailed Facility Report links. For regulatory research by address or coordinates nationwide. NEI pollutant rows are a separate paid route; these records are not exposure or contamination findings.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-regulated-facility-compliance instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["environment","epa","echo","compliance","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["EPA records","toxic release","cleanup site","RCRA","environmental records","contamination nearby","property records","local government records","US address lookup","public records"],"useCases":["check EPA records near a property before buying","see toxic-release and cleanup sites nearby","screen a house for environmental listings","check environmental records near a property","see nearby EPA sites before buying a home","screen a parcel for environmental listings","check Regulated facility compliance nearby for a property before buying","look up Regulated facility compliance nearby for a US address","verify Regulated facility compliance nearby before I make an offer","see Regulated facility compliance nearby before signing a contract"]},{"name":"locus_sewer_overflow_nearby","title":"Combined-sewer outfalls and reported sewer overflow/bypass events nearby","description":"Returns EPA ECHO weekly national CSO outfalls and separately reported NPDES sewer-overflow or bypass events near an address or point. Outfalls are infrastructure; events are permittee or state reports. A missing event is not an overflow-free finding. Neither shows flooding, contamination, exposure, or condition. National.","tags":["environment","water","sewer","cso","sso","infrastructure","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["EPA records","toxic release","cleanup site","RCRA","drinking water","water system","property records","local government records","US address lookup","public records"],"useCases":["check EPA records near a property before buying","see toxic-release and cleanup sites nearby","screen a house for environmental listings","check drinking-water records for a property","see the water system that serves an address","look up groundwater context before buying","check environmental records near a property","see nearby EPA sites before buying a home","screen a parcel for environmental listings","check sewer overflow nearby for a property before buying"]},{"name":"locus_radon_zone","title":"EPA radon zone by county","description":"EPA Map of Radon Zones county zone 1, 2, or 3 for a US point or state and county. For testing or disclosure follow-up: Zone 1 carries a radon overhang watch item. County potential, not a building reading, health claim, or property safety finding.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-radon-zone instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["environment","radon","housing","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["EPA records","toxic release","cleanup site","RCRA","radon zone","radon potential","property records","local government records","US address lookup","public records"],"useCases":["check EPA records near a property before buying","see toxic-release and cleanup sites nearby","screen a house for environmental listings","check the radon zone for a property before buying","look up EPA radon potential for a US address","see housing-market context for an address","check house-price index before buying","check environmental records near a property","see nearby EPA sites before buying a home","screen a parcel for environmental listings"]},{"name":"locus_environmental_history","title":"Environmental history: address-level proximity-ranked TRI/RCRA + county environmental composite (national)","description":"EPA TRI, RCRA, SDWIS, EPA radon zone, and NRC/PHMSA verify links for an address or county, for buyer, owner and lender agents. radonHeadline plus addressProximity lead; county background may match all county properties. National by lat/lng or state and county; not incident confirmation or a safety verdict.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-environmental-history-lookup instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["environment","hazardous-materials","toxic","water","radon","composite","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["EPA records","toxic release","cleanup site","RCRA","drinking water","water system","property records","local government records","US address lookup","public records"],"useCases":["check EPA records near a property before buying","see toxic-release and cleanup sites nearby","screen a house for environmental listings","check drinking-water records for a property","see the water system that serves an address","look up groundwater context before buying","check the radon zone for a property before buying","look up EPA radon potential for a US address","check environmental records near a property","see nearby EPA sites before buying a home"]},{"name":"locus_cleanup_sites","title":"Cleanup sites nearby (EPA Superfund/NPL + Brownfields)","description":"EPA Cleanups in My Community and Superfund/NPL map records near a point for agents, with status fields and EPA links. National by lat/lng or geocoded address. Brownfields carry a candidate flag until the EPA record verifies status. Awareness only: not a contamination, exposure, liability, health, or safe/unsafe conclusion.\nUse this when you can call Locus free tools (REST tools/call or MCP).\nUse locus-cleanup-sites instead when your client can only call paid x402 routes; it returns the same records.","x-locus-tier":"preview","tags":["environment","superfund","brownfields","cleanup","read-only","free"],"exposure":"free","sideEffect":"read","keywords":["EPA records","toxic release","cleanup site","RCRA","environmental records","contamination nearby","property records","local government records","US address lookup","public records"],"useCases":["check EPA records near a property before buying","see toxic-release and cleanup sites nearby","screen a house for environmental listings","check environmental records near a property","see nearby EPA sites before buying a home","screen a parcel for environmental listings","check Cleanup sites nearby for a property before buying","look up Cleanup sites nearby for a US address","verify Cleanup s
[...]
