{"openapi": "3.1.0", "info": {"title": "LoneStarOracle \u2014 full catalog", "version": "1.20260929.1", "description": "Every LoneStarOracle pay-per-call data service in one document. Call any endpoint through the single base URL https://lonestaroracle.xyz/api/<service>/<path> (forwards to the service), or directly at its own host (x-direct-url on each operation). Paid endpoints return HTTP 402 with x402 payment requirements (USDC on Base or Solana); pay and retry. No API keys, no accounts. Price per call is in x-payment-info.", "contact": {"email": "jay@lonestaroracle.xyz"}, "x-guidance": "Agents: fetch this one document; do not crawl per-service hosts. Base URL https://lonestaroracle.xyz/api/<service>/<path> forwards to each service (x-direct-url on each operation is the same endpoint on its own host; both work). Every operation carries x-payment-info: authMode 'free' needs no payment; authMode 'payment' returns HTTP 402 with the requirements in the base64 'payment-required' response header (x402 v2; a v1 body is also sent for legacy clients). Pay USDC on Base (eip155:8453) or Solana and retry with the payment header; settlement happens only on a successful (2xx) response, so a 4xx such as an unknown category or a missing parameter is never charged. Query-parameter names are in each operation; common synonyms are accepted (e.g. ticker/symbol, country/location). Prices are fixed per call and listed in x-payment-info.price.amount (USD). info.version changes whenever any path, parameter, price or schema changes (x-content-hash is the sha256 of paths+components), so re-pull only when it moves. Flat list: https://lonestaroracle.xyz/catalog.json. Payment manifest: https://lonestaroracle.xyz/.well-known/x402. Contact: jay@lonestaroracle.xyz.", "x-content-hash": "32f1a9f3863afd10826bbd6ec7b421c05e7e527029d938574f040e0df0d67f3c", "x-changed-at": "2026-09-29T00:37:10Z"}, "servers": [{"url": "https://lonestaroracle.xyz/api"}], "externalDocs": {"url": "https://docs.lonestaroracle.xyz"}, "tags": [{"name": "aerocheck", "x-displayName": "AeroCheck", "x-service-slug": "aero", "description": "Aerodrome DEX pool risk scanner \u2014 checks both tokens in any pool for honeypots, rug vectors, and safety flags. Returns per-token risk scores and an AI pool verdict. $0.05/query via x402 USDC on Base. | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://aero.lonestaroracle.xyz"}, {"name": "africapulse", "x-displayName": "AfricaPulse", "x-service-slug": "africa", "description": "Africa regional stress pulse: call /pulse (no params). Returns a STABLE / MODERATE / ELEVATED signal with score, the stressed economies + triggers, per-country IMF macro, FX vs USD with peg status, and the Brent / copper / gold energy driver. $0.05 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://africa.lonestaroracle.xyz"}, {"name": "agripulse", "x-displayName": "AgriPulse", "x-service-slug": "agri", "description": "Global agricultural commodity intelligence \u2014 grains (corn, wheat, soybeans, rice), softs (cotton, coffee, cocoa, sugar), livestock (beef, pork) with trend and AI narrative. $0.03/query via x402 USDC on Base.  |  Also from LoneStarOracle: CrownBlock (crownblock.lonestaroracle.xyz) for crude oil & gas intel  |  MacroPulse (macro.lonestaroracle.xyz) for broader macro indicators  |  RealEstatePulse (realestate.lonestaroracle.xyz) for mortgage & housing data  |  Full catalog: lonestaroracle.xyz NEW: ", "x-direct-host": "https://agri.lonestaroracle.xyz"}, {"name": "analystedge", "x-displayName": "AnalystEdge", "x-service-slug": "analyst", "description": "Analyst consensus for a stock: pass ?symbol=TICKER (default AAPL). Returns the rating breakdown + consensus, price target + upside vs live price, a BULLISH/BEARISH/NEUTRAL signal, and recent upgrades/downgrades. $0.05 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://analyst.lonestaroracle.xyz"}, {"name": "asiapulse", "x-displayName": "AsiaPulse", "x-service-slug": "asia", "description": "Asia regional stress pulse: call /pulse (no params). Returns a STABLE / MODERATE / ELEVATED signal with score, the stressed economies + triggers, per-country IMF macro, FX vs USD with peg status, and the Brent / natural-gas / copper energy driver. $0.05 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://asia.lonestaroracle.xyz"}, {"name": "bundlescope", "x-displayName": "BundleScope", "x-service-slug": "bundle", "description": "Token launch bundle detection on Base. Pass a token contract address. Returns coordinated same-block buyers at launch, dump status, and wallet addresses. Use to detect snipers or insider launches before trading. $0.10/scan via x402. | Also: TokenScope (token.lonestaroracle.xyz) ChainScout (chainscout.lonestaroracle.xyz) | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://bundle.lonestaroracle.xyz"}, {"name": "capitolflow", "x-displayName": "CapitolFlow", "x-service-slug": "capitol", "description": "US congressional (Senate+House) stock-trade disclosures: recent trades, by-ticker lookup (?symbol=), and a 30-day aggregate buy/sell signal. Lagged STOCK Act data. $0.05 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://capitol.lonestaroracle.xyz"}, {"name": "cascadewatch", "x-displayName": "CascadeWatch", "x-service-slug": "cascade", "description": "DeFi liquidation cascade risk monitor. Tracks positions near liquidation on Morpho Blue + Aave V3. Returns cascade risk score, at-risk positions, liquidatable collateral, and potential cascade volume. Also /cascade and /report endpoints. $0.10/query via x402. | Also: DeFiRisk (defi.lonestaroracle.xyz) StakeEdge (stake.lonestaroracle.xyz) | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://cascade.lonestaroracle.xyz"}, {"name": "chainscout", "x-displayName": "ChainScout", "x-service-slug": "chainscout", "description": "On-chain intelligence - whale moves, trending tokens, DeFi TVL on Base and Ethereum. $0.05/query via x402 USDC on Base.  |  Also from LoneStarOracle: TokenScope (token.lonestaroracle.xyz)  |  WalletRisk (wallet.lonestaroracle.xyz)  |  CrownBlock (crownblock.lonestaroracle.xyz)  |  Full catalog: lonestaroracle.xyz", "x-direct-host": "https://chainscout.lonestaroracle.xyz"}, {"name": "computepulse", "x-displayName": "ComputePulse", "x-service-slug": "compute", "description": "ComputePulse \u2014 real-time GPU compute spot price intelligence. H100, H200, B200, A100, A10G, L40S, RTX 4090 pricing across Vast.ai, RunPod, AWS EC2 Spot, Lambda Labs. Returns best deal per GPU tier, market signal (buyer/balanced/tight), and AI infrastructure brief. GET /report $0.05 via x402. | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://compute.lonestaroracle.xyz"}, {"name": "computeindex", "x-displayName": "ComputeIndex", "x-service-slug": "computeindex", "description": "Regional cost of powering AI compute: call /index (no params). Returns energy cost per GPU-hour by US power region, regional basis, cheapest/priciest region, 1,000-GPU monthly spread, GPU spot prices and grid stress. $0.10 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://computeindex.lonestaroracle.xyz"}, {"name": "conflictpulse", "x-displayName": "ConflictPulse", "x-service-slug": "conflict", "description": "Per-country conflict signal: pass ?country=NAME (also accepts ?q=, ?nation=). Returns a LOW / ELEVATED / HIGH level, the 7-day trend (escalating / steady / easing), intensity vs the 30-day peak, and recent headlines. Media-attention proxy, not a casualty count. $0.05 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://conflict.lonestaroracle.xyz"}, {"name": "consumerpulse", "x-displayName": "ConsumerPulse", "x-service-slug": "consumer", "description": "US consumer-demand signal: retail & food-services sales, core spending (ex-autos & gas), e-commerce vs restaurants, sector movers, and a consumer phase. Monthly Census data. $0.05 via x402. Full catalog: lonestaroracle.xyz NEW: retail growth includes its percentile vs the decade (fields yoy_percentile_10y, yoy_vs_history).", "x-direct-host": "https://consumer.lonestaroracle.xyz"}, {"name": "contentforge", "x-displayName": "ContentForge", "x-service-slug": "content", "description": "URL-to-content pipeline - LinkedIn post, tweets, newsletter, and SEO copy. $0.15/job via x402 USDC on Base.  |  Also from LoneStarOracle: Floyd (floyd.lonestaroracle.xyz)  |  NewsSentiment (news.lonestaroracle.xyz)  |  Full catalog: lonestaroracle.xyz", "x-direct-host": "https://content.lonestaroracle.xyz"}, {"name": "contractcheck", "x-displayName": "ContractCheck", "x-service-slug": "contract", "description": "AI-powered smart contract security audit: honeypots, rug vectors, hidden ownership, tax manipulation + Claude AI verdict. $0.05/query via x402 USDC on Base.  |  Also from LoneStarOracle: TokenScope (token.lonestaroracle.xyz)  |  WalletRisk (wallet.lonestaroracle.xyz)  |  ChainScout (chain.lonestaroracle.xyz)  |  Full catalog: lonestaroracle.xyz", "x-direct-host": "https://contract.lonestaroracle.xyz"}, {"name": "copperheadai", "x-displayName": "CopperheadAI", "x-service-slug": "copperhead", "description": "CopperheadAI \u2014 autonomous Move smart contract security auditor for Aptos and Sui. POST /audit with Move source or GitHub URL. Returns structured audit report. $2.00/audit via x402 USDC on Base. | Solidity audits: RattlerAI (rattler.lonestaroracle.xyz) | Rust audits: CottonmouthAI (cottonmouth.lonestaroracle.xyz) | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://copperhead.lonestaroracle.xyz"}, {"name": "cot", "x-displayName": "COT", "x-service-slug": "cot", "description": "CFTC Commitments of Traders positioning: call /cot?market=<name> (e.g. ?market=gold or ?market=sp500 or ?market=10y). Returns a Crowded Long / Lean Long / Neutral / Lean Short / Crowded Short signal from large-spec net positioning vs its 3-year history, plus commercial net, week-over-week change and open interest. $0.05 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://cot.lonestaroracle.xyz"}, {"name": "cottonmouthai", "x-displayName": "CottonmouthAI", "x-service-slug": "cottonmouth", "description": "CottonmouthAI \u2014 autonomous Rust smart contract security auditor for CosmWasm, Anchor/Solana, Stellar/Soroban, and NEAR. POST /audit with Rust source or GitHub URL. Returns structured audit report. $2.00/audit via x402 USDC on Base. | Solidity audits: RattlerAI (rattler.lonestaroracle.xyz) | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://cottonmouth.lonestaroracle.xyz"}, {"name": "crownblock", "x-displayName": "CrownBlock", "x-service-slug": "crownblock", "description": "US oil & gas intelligence - crude prices (WTI/Brent/Henry Hub), refined products (gasoline/heating oil/jet fuel/diesel/propane), crude inventory, rig count, and production by basin (Permian, Bakken, Appalachia, GOM and more). $1.00/report via x402 USDC on Base.  |  Also from LoneStarOracle: MacroPulse (macro.lonestaroracle.xyz)  |  EquityScope (equity.lonestaroracle.xyz)  |  NewsSentiment (news.lonestaroracle.xyz)  |  Full catalog: lonestaroracle.xyz", "x-direct-host": "https://crownblock.lonestaroracle.xyz"}, {"name": "cyclepulse", "x-displayName": "CyclePulse", "x-service-slug": "cycle", "description": "US inventory & production cycle signal: inventory-to-sales ratio and its trend, factory new orders (total mfg, durable goods, core capex ex-aircraft), order backlog, and the bullwhip cycle phase. $0.05 via x402. Full catalog: lonestaroracle.xyz NEW: the inventory-to-sales ratio includes its 10-year percentile \u2014 historically lean vs bloated (fields percentile_10y, vs_history).", "x-direct-host": "https://cycle.lonestaroracle.xyz"}, {"name": "defirisk", "x-displayName": "DeFiRisk", "x-service-slug": "defi", "description": "DeFi protocol risk assessment. Returns protocol risk score, TVL, audit history, smart contract risk signals, and counterparty exposure for major DeFi protocols. $0.10/query via x402. | Also: CascadeWatch (cascade.lonestaroracle.xyz) StakeEdge (stake.lonestaroracle.xyz) | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://defi.lonestaroracle.xyz"}, {"name": "docedge", "x-displayName": "DocEdge", "x-service-slug": "doc", "description": "DocEdge converts PDFs to clean Markdown, extracts tables, and generates AI summaries. $0.05/document via x402 USDC on Base. | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://doc.lonestaroracle.xyz"}, {"name": "earningscalendar", "x-displayName": "EarningsCalendar", "x-service-slug": "earnings", "description": "Earnings dates, EPS/revenue estimates, and Claude AI pre-earnings briefing for up to 30 tickers. $0.03/query via x402 USDC on Base.  |  Also from LoneStarOracle: EquityScope (equity.lonestaroracle.xyz)  |  OptionsFlow (options.lonestaroracle.xyz)  |  InsiderFlow (insider.lonestaroracle.xyz)  |  Full catalog: lonestaroracle.xyz", "x-direct-host": "https://earnings.lonestaroracle.xyz"}, {"name": "energycatalyst", "x-displayName": "EnergyCatalyst", "x-service-slug": "energy", "description": "Use when trading or assessing US energy around a scheduled EIA report. Call /energy (no params) for the full dashboard or /energy?report=crude|gasoline|distillate|natgas to focus. Returns a BULLISH / NEUTRAL / BEARISH signal for petroleum and natural gas (stocks vs the 5-year seasonal norm + weekly draw/build) and the next EIA report dates that move WTI/Brent/Henry Hub/USO/UNG/XLE. $0.05 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://energy.lonestaroracle.xyz"}, {"name": "equityscope", "x-displayName": "EquityScope", "x-service-slug": "equity", "description": "AI-powered stock fundamentals + Claude AI investment analysis: valuation, analyst outlook, key risks. $0.05/query via x402 USDC on Base.  |  Also from LoneStarOracle: OptionsFlow (options.lonestaroracle.xyz)  |  InsiderFlow (insider.lonestaroracle.xyz)  |  RealEstatePulse (realestate.lonestaroracle.xyz)  |  MacroPulse (macro.lonestaroracle.xyz)  |  Full catalog: lonestaroracle.xyz", "x-direct-host": "https://equity.lonestaroracle.xyz"}, {"name": "europepulse", "x-displayName": "EuropePulse", "x-service-slug": "europe", "description": "Europe regional stress pulse: call /pulse (no params). Returns a STABLE / MODERATE / ELEVATED signal with score, the stressed economies + triggers, per-country IMF macro, FX vs USD with peg status, and the Brent / natural-gas / wheat energy driver. $0.05 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://europe.lonestaroracle.xyz"}, {"name": "floyd", "x-displayName": "Floyd", "x-service-slug": "floyd", "description": "Floyd is an autonomous coding agent. POST /hire - $0.50/task via x402 USDC on Base. Analyzes repo, writes code, opens a pull request.  |  Also from LoneStarOracle: ChainScout (chainscout.lonestaroracle.xyz)  |  ContentForge (content.lonestaroracle.xyz)  |  TokenScope (token.lonestaroracle.xyz)  |  Full catalog: lonestaroracle.xyz", "x-direct-host": "https://floyd.lonestaroracle.xyz"}, {"name": "fundingrates", "x-displayName": "FundingRates", "x-service-slug": "funding", "description": "Perp funding rates \u2014 BTC/ETH/SOL/AVAX/LINK/ARB across OKX, Hyperliquid, dYdX. Signal-first: LONG_HEAVY/SHORT_HEAVY/NEUTRAL/MIXED/EXTREME. $0.05 via x402 on Base. | Also: MacroPulse (macro.lonestaroracle.xyz) | TechAnalysis (ta.lonestaroracle.xyz) | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://funding.lonestaroracle.xyz"}, {"name": "fundflow", "x-displayName": "FundFlow", "x-service-slug": "funds", "description": "Institutional 13F flow: call /funds?ticker=<stock ticker> (e.g. ?ticker=NVDA). Returns an ACCUMULATION / NEUTRAL / DISTRIBUTION flow read from top-holder quarter-over-quarter changes, plus institutional ownership %, count and the top holders tagged added/trimmed/held/new. $0.05 via x402. 13F is quarterly and ~45-day lagged. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://funds.lonestaroracle.xyz"}, {"name": "geopulse", "x-displayName": "GeoPulse", "x-service-slug": "geo", "description": "Geopolitical risk monitor by region. Returns risk_score (1-10), active conflict or instability signals, and commodity impact analysis. Pass a region name or leave empty for global overview. $0.07/query via x402. | Also: MacroPulse (macro.lonestaroracle.xyz) CrownBlock (crownblock.lonestaroracle.xyz) | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://geo.lonestaroracle.xyz"}, {"name": "govedge", "x-displayName": "GovEdge", "x-service-slug": "govedge", "description": "GovEdge monitors federal contract awards and cross-references winning vendors with stock tickers to identify potential market movers. $0.20/query via x402 USDC on Base. | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://govedge.lonestaroracle.xyz"}, {"name": "gridpulse", "x-displayName": "GridPulse", "x-service-slug": "grid", "description": "US electricity grid intelligence \u2014 real-time demand, generation mix (% renewable/gas/nuclear), day-ahead forecasts, and grid stress signals for 7 major US regions. $0.03/report via x402 USDC on Base. | Also from LoneStarOracle: CrownBlock (crownblock.lonestaroracle.xyz) for oil/gas prices | MacroPulse (macro.lonestaroracle.xyz) for macro indicators | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://grid.lonestaroracle.xyz"}, {"name": "hazardpulse", "x-displayName": "HazardPulse", "x-service-slug": "hazard", "description": "Hazard/disaster alerts: call /hazard (global) or /hazard?country=<name> to scope. Returns a CALM / ACTIVE / ELEVATED / SEVERE signal with a 0-10 score, active Red/Orange alert counts, the biggest current events (earthquake / cyclone / flood / volcano / wildfire) named with country + alert level, and a by-type breakdown. $0.05 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://hazard.lonestaroracle.xyz"}, {"name": "insiderflow", "x-displayName": "InsiderFlow", "x-service-slug": "insider", "description": "SEC Form 4 insider trading data direct from EDGAR. $0.03/query via x402 USDC on Base.  |  Also from LoneStarOracle: EquityScope (equity.lonestaroracle.xyz)  |  EarningsCalendar (earnings.lonestaroracle.xyz)  |  OptionsFlow (options.lonestaroracle.xyz)  |  Full catalog: lonestaroracle.xyz", "x-direct-host": "https://insider.lonestaroracle.xyz"}, {"name": "kyacheck", "x-displayName": "KYACheck", "x-service-slug": "kya", "description": "KYA / counterparty check: call /check?wallet=<address> (optional &name=<agent or entity> &chain=base|eth|arb|poly|bsc). Returns PASS / REVIEW / BLOCK with reasons from an exact OFAC crypto-address match, an OFAC name screen and on-chain wallet risk, signed as a verifiable LSO Receipt. $0.10 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://kya.lonestaroracle.xyz"}, {"name": "laborpulse", "x-displayName": "LaborPulse", "x-service-slug": "labor", "description": "US labor-market signal: unemployment, monthly payrolls (jobs added), wage growth, participation, and JOLTS openings/quits, with a labor phase. Monthly BLS data. $0.05 via x402. Full catalog: lonestaroracle.xyz NEW: wage growth, quits, and unemployment include percentile-vs-decade context (fields percentile_10y, vs_history).", "x-direct-host": "https://labor.lonestaroracle.xyz"}, {"name": "latampulse", "x-displayName": "LatAmPulse", "x-service-slug": "latam", "description": "LatAmPulse \u2014 Latin America economic intelligence. GET /feed for free currency and commodity data. GET /report for full report with AI narrative. $0.05/report via x402 USDC on Base. | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://latam.lonestaroracle.xyz"}, {"name": "tokenlaunch", "x-displayName": "TokenLaunch", "x-service-slug": "launches", "description": "New token launch scanner on Base and Ethereum. Returns recently launched tokens with contract addresses, initial liquidity, price, and early red flags. $0.05/scan via x402. | Also: TokenScope (token.lonestaroracle.xyz) ChainScout (chainscout.lonestaroracle.xyz) | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://launches.lonestaroracle.xyz"}, {"name": "leaseedge", "x-displayName": "LeaseEdge", "x-service-slug": "lease", "description": "LeaseEdge provides Gulf of Mexico oil & gas lease intelligence from BOEM federal data. Track active leases, auction results, block availability, and upcoming sales. $0.15/query via x402 USDC on Base. | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://lease.lonestaroracle.xyz"}, {"name": "liquidations", "x-displayName": "Liquidations", "x-service-slug": "liq", "description": "Perp liquidation data across OKX \u2014 BTC/ETH/SOL/AVAX/LINK/ARB. Signal: LONG_CASCADE/SHORT_CASCADE/BALANCED/EXTREME. Returns long vs short liquidation volume, biggest single events, and hot price zones. Use /signal for lightweight signal only, /biggest for top events. $0.10/query via x402. | Also: FundingRates (funding.lonestaroracle.xyz) OpenInterest (oi.lonestaroracle.xyz) | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://liq.lonestaroracle.xyz"}, {"name": "liquiditypulse", "x-displayName": "LiquidityPulse", "x-service-slug": "liquidity", "description": "US liquidity & financial conditions: call /liquidity (no params). Returns net liquidity (Fed balance sheet - RRP - TGA) with its 4-week trend (EXPANDING / NEUTRAL / CONTRACTING), Chicago Fed NFCI conditions (LOOSE / TIGHT), HY spread, yield curve and a combined regime read. $0.05 via x402. Full catalog: lonestaroracle.xyz NEW: NFCI financial conditions include percentile-vs-decade context (fields nfci_percentile_10y, nfci_vs_history).", "x-direct-host": "https://liquidity.lonestaroracle.xyz"}, {"name": "macropulse", "x-displayName": "MacroPulse", "x-service-slug": "macro", "description": "US macro intelligence \u2014 Fed rate, CPI/Core PCE YoY, yield curve, M2, GDP, VIX, Fear & Greed, AI macro regime narrative. $0.05/query via x402 USDC on Base.  |  Also from LoneStarOracle: EquityScope (equity.lonestaroracle.xyz)  |  RealEstatePulse (realestate.lonestaroracle.xyz)  |  CrownBlock (crownblock.lonestaroracle.xyz)  |  Full catalog: lonestaroracle.xyz NEW: VIX (fear) and CPI (inflation) include historical percentile context vs their own history (fields vix_percentile_5y, cpi_percentile_10", "x-direct-host": "https://macro.lonestaroracle.xyz"}, {"name": "menapulse", "x-displayName": "MENAPulse", "x-service-slug": "mena", "description": "MENA regional stress pulse: call /pulse (no params). Returns a STABLE / MODERATE / ELEVATED signal with score, the stressed economies + triggers, per-country IMF macro, FX vs USD with peg status, and the Brent / natural-gas energy driver. $0.05 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://mena.lonestaroracle.xyz"}, {"name": "industrialmetals", "x-displayName": "IndustrialMetals", "x-service-slug": "metals", "description": "13 metals (copper, aluminum, nickel, steel, lithium, iron ore, zinc, uranium, rare earths, gold, silver, platinum, palladium) with momentum signals and category-level analysis. GET /report $0.05 via x402. NEW: each metal includes 52-week range context \u2014 where the price sits within its own year (fields percentile_1y, vs_range, high_52w/low_52w).", "x-direct-host": "https://metals.lonestaroracle.xyz"}, {"name": "strategicmaterials", "x-displayName": "StrategicMaterials", "x-service-slug": "minerals", "description": "Critical-minerals supply-concentration & US import-reliance signal: for a mineral commodity, world mine-production concentration by country (top producers, China share, HHI), US net import reliance and major import sources, and reserves concentration. $0.05 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://minerals.lonestaroracle.xyz"}, {"name": "newssentiment", "x-displayName": "NewsSentiment", "x-service-slug": "news", "description": "Market news sentiment - bullish/bearish scoring across equities, crypto, and macro. $0.05/query via x402 USDC on Base.  |  Also from LoneStarOracle: MacroPulse (macro.lonestaroracle.xyz)  |  EquityScope (equity.lonestaroracle.xyz)  |  ChainScout (chain.lonestaroracle.xyz)  |  Full catalog: lonestaroracle.xyz", "x-direct-host": "https://news.lonestaroracle.xyz"}, {"name": "openinterest", "x-displayName": "OpenInterest", "x-service-slug": "oi", "description": "Perp open interest across OKX, Hyperliquid, dYdX \u2014 BTC/ETH/SOL/AVAX/LINK/ARB. Signal: ACCUMULATING/DELEVERAGING/MIXED. Returns USD totals, per-exchange breakdown, 5-min OI delta, and dominant exchange. Use /signal for lightweight signal only, /extremes for top movers. $0.05/query via x402. | Also: FundingRates (funding.lonestaroracle.xyz) Liquidations (liq.lonestaroracle.xyz) | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://oi.lonestaroracle.xyz"}, {"name": "optionsflow", "x-displayName": "OptionsFlow", "x-service-slug": "options", "description": "Options flow and unusual activity scanner. $0.01/query via x402 USDC on Base.  |  Also from LoneStarOracle: EquityScope (equity.lonestaroracle.xyz)  |  EarningsCalendar (earnings.lonestaroracle.xyz)  |  InsiderFlow (insider.lonestaroracle.xyz)  |  Full catalog: lonestaroracle.xyz", "x-direct-host": "https://options.lonestaroracle.xyz"}, {"name": "pharmacatalyst", "x-displayName": "PharmaCatalyst", "x-service-slug": "pharma", "description": "Biotech catalysts: call /catalysts?ticker=<biotech ticker> (e.g. ?ticker=SRPT) or ?company=<name>. Returns a HIGH / MODERATE / LOW / NONE catalyst signal plus the upcoming Phase 2/3 trial readouts with expected primary-completion dates and NCT ids. Optional ?days= horizon (default 365). $0.05 via x402. Trial-readout timing only \u2014 no curated FDA PDUFA dates. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://pharma.lonestaroracle.xyz"}, {"name": "walletpnl", "x-displayName": "WalletPnL", "x-service-slug": "pnl", "description": "Wallet profit and loss tracker. Pass an Ethereum address to get realized and unrealized PnL, token positions, and trading performance history. $0.20/query via x402. | Also: WalletIntel (wallet.lonestaroracle.xyz) BundleScope (bundle.lonestaroracle.xyz) | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://pnl.lonestaroracle.xyz"}, {"name": "portfoliorisk", "x-displayName": "PortfolioRisk", "x-service-slug": "portfolio", "description": "Portfolio risk analysis - VaR, correlation, drawdown, sector exposure. $0.10/query via x402 USDC on Base.  |  Also from LoneStarOracle: EquityScope (equity.lonestaroracle.xyz)  |  OptionsFlow (options.lonestaroracle.xyz)  |  MacroPulse (macro.lonestaroracle.xyz)  |  Full catalog: lonestaroracle.xyz", "x-direct-host": "https://portfolio.lonestaroracle.xyz"}, {"name": "ratespulse", "x-displayName": "RatesPulse", "x-service-slug": "rates", "description": "US bond-market & rates signal: call /rates (no params). Returns the yield curve (2s10s and 3m10y spreads in bps, inversion + recession flag), IG & HY credit spreads (ICE BofA OAS) scored against their own 1-year history with week-over-week change, real yields and inflation breakevens, and a combined rates-regime read (expansion / late-cycle / credit-stress). $0.05 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://rates.lonestaroracle.xyz"}, {"name": "rattlerai", "x-displayName": "RattlerAI", "x-service-slug": "rattler", "description": "RattlerAI \u2014 autonomous Solidity smart contract security auditor. POST /audit with contract source or GitHub URL. Returns structured report in Code4rena format. $2.00/audit via x402 USDC on Base. | Also from LoneStarOracle: TokenScope (token.lonestaroracle.xyz) for token due diligence | ChainScout (chainscout.lonestaroracle.xyz) for on-chain intelligence | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://rattler.lonestaroracle.xyz"}, {"name": "readedge", "x-displayName": "ReadEdge", "x-service-slug": "read", "description": "", "x-direct-host": "https://read.lonestaroracle.xyz"}, {"name": "realestatepulse", "x-displayName": "RealEstatePulse", "x-service-slug": "realestate", "description": "US real estate & mortgage intelligence - 30yr/15yr/ARM rates with trend, housing starts, inventory, Case-Shiller HPI, affordability index. $0.03/query via x402 USDC on Base.  |  Also from LoneStarOracle: MacroPulse (macro.lonestaroracle.xyz) for broader macro indicators  |  EquityScope (equity.lonestaroracle.xyz) for stock analysis  |  CrownBlock (crownblock.lonestaroracle.xyz) for energy market intel  |  Full catalog: lonestaroracle.xyz", "x-direct-host": "https://realestate.lonestaroracle.xyz"}, {"name": "rwa-risk", "x-displayName": "RWA Risk", "x-service-slug": "rwa", "description": "Per-vault RWA risk (admin/freeze control + secondary-exit liquidity) for tokenized real-world assets on Base. $0.10 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://rwa.lonestaroracle.xyz"}, {"name": "sanctionsscreen", "x-displayName": "SanctionsScreen", "x-service-slug": "sanctions", "description": "OFAC sanctions screening: pass ?name= (also accepts ?entity=, ?wallet=, ?q=). Returns a sanctioned yes/no, a confidence level, and every matched SDN entry with its OFAC program. $0.05 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://sanctions.lonestaroracle.xyz"}, {"name": "smartmoney", "x-displayName": "SmartMoney", "x-service-slug": "smartmoney", "description": "The whole smart-money picture on a stock in one call: pass ?ticker=SYMBOL (e.g. NVDA, AAPL, TSLA; ?symbol= also accepted). Aggregates insiders (SEC Form 4), Congress (STOCK Act), institutions (13F), and analysts (consensus) into a composite smart_money_signal (STRONG_ACCUMULATION..DISTRIBUTION) + conviction count, with each cohort's bullish/neutral/bearish read and its data lag. $0.10 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://smartmoney.lonestaroracle.xyz"}, {"name": "sovereignrisk", "x-displayName": "SovereignRisk", "x-service-slug": "sovereign", "description": "Sovereign risk: call /sovereign?country=<name or ISO3> (e.g. ?country=Argentina or ?country=NGA). Returns a LOW / MODERATE / ELEVATED / HIGH / DISTRESSED signal with a 0-20 score, the named stress drivers, and the underlying IMF+World Bank metrics. Global coverage, one country per call. $0.05 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://sovereign.lonestaroracle.xyz"}, {"name": "sparkpulse", "x-displayName": "SparkPulse", "x-service-slug": "spark", "description": "Wholesale US power-market signal: call /power (no params). Returns real-time + day-ahead prices ($/MWh) by market, DA-vs-RT spread, 24h range, negative-price intervals, volatility, a CHEAP..SPIKING signal, and a battery-arbitrage read. Pair with ComputePulse for the compute-power spread. $0.05 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://spark.lonestaroracle.xyz"}, {"name": "squeezesignal", "x-displayName": "SqueezeSignal", "x-service-slug": "squeeze", "description": "Short-squeeze signal: call /squeeze?ticker=<stock ticker> (e.g. ?ticker=GME). Returns a HIGH / ELEVATED / MODERATE / LOW squeeze-risk signal + a state (coiled / igniting / primed / quiet) from short % of float, days-to-cover, short-interest trend and price momentum. $0.05 via x402. Short interest is FINRA data (bi-monthly, lagged); no paid borrow-fee data. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://squeeze.lonestaroracle.xyz"}, {"name": "stablepulse", "x-displayName": "StablePulse - Stablecoin Peg Monitor", "x-service-slug": "stable", "description": "Stablecoin peg monitoring and risk scoring across Base/Ethereum/Solana. Returns peg deviation, stability score (0-10), risk category (green/yellow/red), and issuer type (regulated/cdp/synthetic). Use /symbol/{symbol} for a single stablecoin or /risk-summary for top-level overview. $0.05/query via x402. | Also: CascadeWatch (cascade.lonestaroracle.xyz) DeFiRisk (defi.lonestaroracle.xyz) | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://stable.lonestaroracle.xyz"}, {"name": "stakeedge", "x-displayName": "StakeEdge", "x-service-slug": "stake", "description": "StakeEdge compares primary protocol staking yields vs exchange rates. Shows the spread \u2014 how much yield you lose staking through Coinbase, Kraken, or Binance. $0.05/query via x402 USDC on Base. | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://stake.lonestaroracle.xyz"}, {"name": "supplychainpulse", "x-displayName": "SupplyChainPulse", "x-service-slug": "supply", "description": "Shipping rates (dry bulk + container), NY Fed GSCPI, BLS PPI, directional momentum signal. GET /report $0.05 via x402. NEW: includes historical percentile context \u2014 where GSCPI supply pressure sits vs its own record (fields pressure_percentile_3y, pressure_vs_history).", "x-direct-host": "https://supply.lonestaroracle.xyz"}, {"name": "techanalysis", "x-displayName": "TechAnalysis", "x-service-slug": "ta", "description": "TechAnalysis \u2014 full technical analysis for any ticker. GET /analyze?symbol=BTC-USD&timeframe=1d. Returns 18 indicators + AI signal summary. $0.05/query via x402 USDC on Base. | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://ta.lonestaroracle.xyz"}, {"name": "tokenscope", "x-displayName": "TokenScope", "x-service-slug": "token", "description": "On-chain due diligence for ERC-20 (EVM) and Solana SPL tokens \u2014 risk score, GoPlus security scan, honeypot detection, liquidity, holder concentration, AI analyst verdict. $0.15/query via x402 USDC on Base.  |  Also from LoneStarOracle: EquityScope (equity.lonestaroracle.xyz) for stock analysis  |  ChainScout (chain.lonestaroracle.xyz) for whale moves  |  WalletRisk (wallet.lonestaroracle.xyz) for wallet risk scoring  |  Full catalog: lonestaroracle.xyz", "x-direct-host": "https://token.lonestaroracle.xyz"}, {"name": "tradepulse", "x-displayName": "TradePulse", "x-service-slug": "trade", "description": "US trade-flow + tariff signal by commodity: monthly imports/exports, YoY trend, top trading partners + concentration, tariff exposure. $0.05 via x402. Full catalog: lonestaroracle.xyz", "x-direct-host": "https://trade.lonestaroracle.xyz"}, {"name": "walletrisk", "x-displayName": "WalletRisk", "x-service-slug": "wallet", "description": "Comprehensive wallet intelligence \u2014 portfolio, transactions, exchange interactions, whale read. $0.15/query via x402 USDC on Base.  |  Also from LoneStarOracle: TokenScope (token.lonestaroracle.xyz)  |  ChainScout (chain.lonestaroracle.xyz)  |  ContractCheck (contract.lonestaroracle.xyz)  |  Full catalog: lonestaroracle.xyz", "x-direct-host": "https://wallet.lonestaroracle.xyz"}, {"name": "wealthpulse", "x-displayName": "WealthPulse", "x-service-slug": "wealth", "description": "Cross-asset personal finance risk analyzer. Combines crypto wallet health, token security, and equity portfolio data into an AI-synthesized risk score and narrative. Pass a wallet address and optional equity tickers. $0.25/query via x402. | Also: PortfolioRisk (portfolio.lonestaroracle.xyz) WalletIntel (wallet.lonestaroracle.xyz) | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://wealth.lonestaroracle.xyz"}, {"name": "weatheroracle", "x-displayName": "WeatherOracle", "x-service-slug": "weather", "description": "Payment required. Use x402 (Base mainnet USDC, $0.02/query) or Stripe MPP ($0.50/session, 25 queries) via Authorization: Payment header. | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://weather.lonestaroracle.xyz"}, {"name": "whalealert", "x-displayName": "WhaleAlert", "x-service-slug": "whale", "description": "Real-time whale transfer alerts on Base and Ethereum. Returns large on-chain transfers with sender, receiver, token, amount, and USD value. Pass min_usd to set threshold (default 1000000). $0.05/query via x402. | Also: ChainScout (chainscout.lonestaroracle.xyz) BundleScope (bundle.lonestaroracle.xyz) | Full catalog: lonestaroracle.xyz", "x-direct-host": "https://whale.lonestaroracle.xyz"}], "paths": {"/aero/pool": {"get": {"summary": "Aerodrome Pool Analytics", "description": "Aerodrome (Base DEX) liquidity-pool APR, TVL and reward data. Pass ?pool=.", "operationId": "aero_pool_pool_get", "parameters": [{"name": "address", "in": "query", "required": true, "schema": {"type": "string", "title": "Address"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/aero__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "tags": ["aerocheck"], "x-direct-url": "https://aero.lonestaroracle.xyz/pool"}}, "/africa/pulse": {"get": {"summary": "Sub-Saharan Africa Pulse", "operationId": "africa_pulse_pulse_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "Sub-Saharan Africa macro and stress pulse across 12 economies.", "tags": ["africapulse"], "x-direct-url": "https://africa.lonestaroracle.xyz/pulse"}}, "/agri/report": {"get": {"summary": "Agricultural Commodity Prices", "operationId": "agri_report_report_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.030000"}, "security": [{"x402": {}}]}, "description": "Grain, softs and livestock commodity prices and momentum.", "tags": ["agripulse"], "x-direct-url": "https://agri.lonestaroracle.xyz/report"}}, "/agri/preview": {"get": {"summary": "Preview", "operationId": "agri_preview_preview_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["agripulse"], "x-direct-url": "https://agri.lonestaroracle.xyz/preview"}}, "/agri/feed": {"get": {"summary": "Feed", "operationId": "agri_feed_feed_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["agripulse"], "x-direct-url": "https://agri.lonestaroracle.xyz/feed"}}, "/analyst/ratings": {"get": {"summary": "Wall Street Analyst Ratings", "operationId": "analyst_ratings_ratings_get", "parameters": [{"name": "symbol", "in": "query", "required": false, "schema": {"type": "string", "default": "AAPL", "title": "Symbol"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/analyst__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "Analyst consensus rating, price target, upside and recent upgrades/downgrades. Pass ?symbol=.", "tags": ["analystedge"], "x-direct-url": "https://analyst.lonestaroracle.xyz/ratings"}}, "/asia/pulse": {"get": {"summary": "Asia-Pacific Macro Pulse", "operationId": "asia_pulse_pulse_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "Asia-Pacific macro and stress pulse across 12 economies.", "tags": ["asiapulse"], "x-direct-url": "https://asia.lonestaroracle.xyz/pulse"}}, "/bundle/info": {"get": {"summary": "Info", "operationId": "bundle_info_info_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["bundlescope"], "x-direct-url": "https://bundle.lonestaroracle.xyz/info"}}, "/bundle/scan": {"get": {"summary": "Token Bundle / Sniper Detection", "operationId": "bundle_scan_scan_get", "parameters": [{"name": "address", "in": "query", "required": true, "schema": {"type": "string", "description": "Token contract address on Base", "title": "Address"}, "description": "Token contract address on Base"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/bundle__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.100000"}, "security": [{"x402": {}}]}, "description": "Detects bundled buys and sniper wallets at token launch. Pass ?address=.", "tags": ["bundlescope"], "x-direct-url": "https://bundle.lonestaroracle.xyz/scan"}}, "/capitol/trades": {"get": {"summary": "Congressional Stock Trades", "operationId": "capitol_trades_trades_get", "parameters": [{"name": "symbol", "in": "query", "required": false, "schema": {"type": "string", "title": "Symbol"}}, {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "default": 40, "title": "Limit"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/capitol__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "US Senate and House stock-trade disclosures plus a 30-day buy/sell signal. Pass ?symbol= or /signal.", "tags": ["capitolflow"], "x-direct-url": "https://capitol.lonestaroracle.xyz/trades"}}, "/capitol/signal": {"get": {"summary": "Aggregate congressional buy/sell signal (last 30d)", "operationId": "capitol_signal_signal_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "tags": ["capitolflow"], "x-direct-url": "https://capitol.lonestaroracle.xyz/signal"}}, "/cascade/risk": {"get": {"summary": "Systemic Cascade Risk", "description": "Cross-market systemic and contagion-cascade risk signal. /risk, /cascade.", "operationId": "cascade_get_risk_risk_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.100000"}, "security": [{"x402": {}}]}, "tags": ["cascadewatch"], "x-direct-url": "https://cascade.lonestaroracle.xyz/risk"}}, "/cascade/cascade": {"get": {"summary": "Simulate Cascade", "description": "Simulate cascade liquidations if a token drops by X percent.", "operationId": "cascade_simulate_cascade_cascade_get", "parameters": [{"name": "token", "in": "query", "required": false, "schema": {"type": "string", "description": "Collateral token (ETH, WBTC, wstETH, etc.)", "default": "ETH", "title": "Token"}, "description": "Collateral token (ETH, WBTC, wstETH, etc.)"}, {"name": "drop_pct", "in": "query", "required": false, "schema": {"type": "number", "description": "Simulated price drop %", "default": 10.0, "title": "Drop Pct"}, "description": "Simulated price drop %"}, {"name": "chain_id", "in": "query", "required": false, "schema": {"type": "integer", "description": "Chain ID: 1=Ethereum, 8453=Base", "default": 1, "title": "Chain Id"}, "description": "Chain ID: 1=Ethereum, 8453=Base"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/cascade__HTTPValidationError"}}}}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.100000"}, "security": [{"x402": {}}]}, "tags": ["cascadewatch"], "x-direct-url": "https://cascade.lonestaroracle.xyz/cascade"}}, "/cascade/report": {"get": {"summary": "Get Report", "description": "Full market-by-market liquidation report for Morpho Blue.", "operationId": "cascade_get_report_report_get", "parameters": [{"name": "chain_id", "in": "query", "required": false, "schema": {"type": "integer", "description": "Chain ID: 1=Ethereum, 8453=Base", "default": 1, "title": "Chain Id"}, "description": "Chain ID: 1=Ethereum, 8453=Base"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/cascade__HTTPValidationError"}}}}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.100000"}, "security": [{"x402": {}}]}, "tags": ["cascadewatch"], "x-direct-url": "https://cascade.lonestaroracle.xyz/report"}}, "/chainscout/preview": {"get": {"summary": "Preview", "description": "Free teaser \u2014 shows what's in the report without the data.", "operationId": "chainscout_preview_preview_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["chainscout"], "x-direct-url": "https://chainscout.lonestaroracle.xyz/preview"}}, "/chainscout/report": {"get": {"summary": "On-Chain Token Intelligence", "description": "On-chain intel for any token, whales, trending, TVL, holders and narrative signals. Pass ?address=&chain=.", "operationId": "chainscout_report_report_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "tags": ["chainscout"], "x-direct-url": "https://chainscout.lonestaroracle.xyz/report"}}, "/chainscout/whales": {"get": {"summary": "Whales", "description": "Large transfers on Base + Ethereum in last 24h.", "operationId": "chainscout_whales_whales_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "tags": ["chainscout"], "x-direct-url": "https://chainscout.lonestaroracle.xyz/whales"}}, "/chainscout/trending": {"get": {"summary": "Trending", "description": "Trending tokens by volume and momentum.", "operationId": "chainscout_trending_trending_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "tags": ["chainscout"], "x-direct-url": "https://chainscout.lonestaroracle.xyz/trending"}}, "/chainscout/tvl": {"get": {"summary": "Tvl", "description": "DeFi protocol TVL movements on Base.", "operationId": "chainscout_tvl_tvl_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "tags": ["chainscout"], "x-direct-url": "https://chainscout.lonestaroracle.xyz/tvl"}}, "/chainscout/narrative": {"get": {"summary": "Narrative", "description": "Claude-written on-chain intel brief.", "operationId": "chainscout_narrative_narrative_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "tags": ["chainscout"], "x-direct-url": "https://chainscout.lonestaroracle.xyz/narrative"}}, "/compute/report": {"get": {"summary": "AI Compute & GPU Market", "operationId": "compute_report_report_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "GPU and AI-compute pricing, availability and demand signal.", "tags": ["computepulse"], "x-direct-url": "https://compute.lonestaroracle.xyz/report"}}, "/computeindex/index": {"get": {"summary": "Energy cost per GPU-hour by US power region + regional basis", "operationId": "computeindex_index_index_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.100000"}, "security": [{"x402": {}}]}, "tags": ["computeindex"], "x-direct-url": "https://computeindex.lonestaroracle.xyz/index"}}, "/conflict/conflict": {"get": {"summary": "Country Conflict Signal", "operationId": "conflict_conflict_route_conflict_get", "parameters": [{"name": "country", "in": "query", "required": false, "schema": {"type": "string", "title": "Country"}}, {"name": "q", "in": "query", "required": false, "schema": {"type": "string", "title": "Q"}}, {"name": "nation", "in": "query", "required": false, "schema": {"type": "string", "title": "Nation"}}, {"name": "location", "in": "query", "required": false, "schema": {"type": "string", "title": "Location"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/conflict__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "Per-country conflict and media-attention signal from GDELT. Pass ?country=.", "tags": ["conflictpulse"], "x-direct-url": "https://conflict.lonestaroracle.xyz/conflict"}}, "/consumer/consumer": {"get": {"summary": "US Consumer Demand Signal", "operationId": "consumer_consumer_consumer_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "US retail-sales and consumer-demand signal. Census data.", "tags": ["consumerpulse"], "x-direct-url": "https://consumer.lonestaroracle.xyz/consumer"}}, "/content/preview": {"get": {"summary": "Preview", "operationId": "content_preview_preview_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free", "price": {"mode": "fixed", "currency": "USD", "amount": "0.000000"}, "protocols": []}, "tags": ["contentforge"], "x-direct-url": "https://content.lonestaroracle.xyz/preview"}}, "/content/repurpose": {"post": {"summary": "Content Repurposing", "operationId": "content_repurpose_repurpose_post", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.150000"}, "security": [{"x402": {}}]}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["url"], "properties": {"url": {"type": "string", "description": "URL of the article, blog post, or report to repurpose"}, "tone": {"type": "string", "enum": ["professional", "casual", "witty"], "default": "professional", "description": "Tone for generated content"}}}}}}, "description": "Turn a URL or article into repurposed social and blog content. POST /repurpose.", "tags": ["contentforge"], "x-direct-url": "https://content.lonestaroracle.xyz/repurpose"}}, "/contract/verify": {"get": {"summary": "Smart Contract Safety Check", "operationId": "contract_verify_verify_get", "parameters": [{"name": "address", "in": "query", "required": true, "schema": {"type": "string", "title": "Address"}}, {"name": "chain", "in": "query", "required": false, "schema": {"type": "string", "default": "eth", "title": "Chain"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "description": "Service response data"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/contract__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "Fast safety check for any EVM contract, verified source, proxy, owner privileges and red flags. Pass ?address=.", "tags": ["contractcheck"], "x-direct-url": "https://contract.lonestaroracle.xyz/verify"}}, "/copperhead/preview": {"get": {"summary": "Preview", "operationId": "copperhead_preview_preview_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["copperheadai"], "x-direct-url": "https://copperhead.lonestaroracle.xyz/preview"}}, "/copperhead/targets": {"get": {"summary": "Targets", "description": "Free \u2014 lists active Immunefi programs and Code4rena contests with Move (Aptos/Sui) in scope.", "operationId": "copperhead_targets_targets_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["copperheadai"], "x-direct-url": "https://copperhead.lonestaroracle.xyz/targets"}}, "/copperhead/audit": {"post": {"summary": "Smart Contract Security Audit", "description": "Deep AI plus Slither security audit for a Solidity smart contract. POST /audit.", "operationId": "copperhead_audit_audit_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/copperhead__AuditRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/copperhead__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "2.000000"}, "security": [{"x402": {}}]}, "tags": ["copperheadai"], "x-direct-url": "https://copperhead.lonestaroracle.xyz/audit"}}, "/cot/cot": {"get": {"summary": "CFTC COT Positioning", "operationId": "cot_cot_endpoint_cot_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "parameters": [{"name": "market", "in": "query", "required": true, "description": "Futures market to read. Friendly names accepted: crude, gold, silver, copper, natgas, corn, wheat, soybeans, sugar, coffee, cattle, sp500, nasdaq, russell, vix, euro, yen, pound, cad, aud, dollar, bitcoin, ether, 10y, 5y, bonds, sofr. Aliases: commodity, symbol, m.", "schema": {"type": "string", "example": "gold"}}], "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "CFTC Commitments-of-Traders futures positioning vs history (crude, gold, S&P, bonds, bitcoin). Pass ?market=.", "tags": ["cot"], "x-direct-url": "https://cot.lonestaroracle.xyz/cot"}}, "/cottonmouth/preview": {"get": {"summary": "Preview", "operationId": "cottonmouth_preview_preview_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["cottonmouthai"], "x-direct-url": "https://cottonmouth.lonestaroracle.xyz/preview"}}, "/cottonmouth/targets": {"get": {"summary": "Targets", "description": "Free \u2014 lists active Code4rena contests with Rust (CosmWasm/Solana/Stellar) in scope.", "operationId": "cottonmouth_targets_targets_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["cottonmouthai"], "x-direct-url": "https://cottonmouth.lonestaroracle.xyz/targets"}}, "/cottonmouth/audit": {"post": {"summary": "Smart Contract Security Audit", "description": "Deep AI plus Slither security audit for a Solidity smart contract. POST /audit.", "operationId": "cottonmouth_audit_audit_post", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/cottonmouth__AuditRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/cottonmouth__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "2.000000"}, "security": [{"x402": {}}]}, "tags": ["cottonmouthai"], "x-direct-url": "https://cottonmouth.lonestaroracle.xyz/audit"}}, "/crownblock/feed": {"get": {"summary": "Feed", "operationId": "crownblock_feed_feed_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["crownblock"], "x-direct-url": "https://crownblock.lonestaroracle.xyz/feed"}}, "/crownblock/report": {"get": {"summary": "Oil, Gas & Refined Products", "operationId": "crownblock_report_report_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "1.000000"}, "security": [{"x402": {}}]}, "description": "Crude, natural gas and refined-product pricing, spreads and market signals.", "tags": ["crownblock"], "x-direct-url": "https://crownblock.lonestaroracle.xyz/report"}}, "/crownblock/preview": {"get": {"summary": "Preview", "operationId": "crownblock_preview_preview_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["crownblock"], "x-direct-url": "https://crownblock.lonestaroracle.xyz/preview"}}, "/crownblock/region/{name}": {"get": {"summary": "Region", "description": "Single-region brief.", "operationId": "crownblock_region_region__name__get", "parameters": [{"name": "name", "in": "path", "required": true, "schema": {"type": "string", "title": "Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/crownblock__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "1.000000"}, "protocols": [{"x402": {}}], "outputSchema": {"type": "object", "description": "O&G intelligence data"}}, "tags": ["crownblock"], "x-direct-url": "https://crownblock.lonestaroracle.xyz/region/{name}"}}, "/crownblock/refinery": {"get": {"summary": "Refinery", "description": "Weekly US refinery utilization rates by PAD district from EIA.", "operationId": "crownblock_refinery_refinery_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["crownblock"], "x-direct-url": "https://crownblock.lonestaroracle.xyz/refinery"}}, "/crownblock/history": {"get": {"summary": "History", "description": "Historical commodity and refined product prices for a specific date (YYYY-MM-DD).\nSourced from EIA and FRED. Data available from early 1990s to present.", "operationId": "crownblock_history_history_get", "parameters": [{"name": "date", "in": "query", "required": true, "schema": {"type": "string", "title": "Date"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/crownblock__HTTPValidationError"}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["crownblock"], "x-direct-url": "https://crownblock.lonestaroracle.xyz/history"}}, "/cycle/cycle": {"get": {"summary": "Inventory / Bullwhip Signal", "operationId": "cycle_cycle_cycle_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "US inventory-to-production bullwhip and business-cycle signal. Census data.", "tags": ["cyclepulse"], "x-direct-url": "https://cycle.lonestaroracle.xyz/cycle"}}, "/defi/risk": {"get": {"summary": "DeFi Protocol Risk & Yields", "operationId": "defi_risk_risk_get", "parameters": [{"name": "protocol", "in": "query", "required": true, "schema": {"type": "string", "description": "Protocol name or slug", "title": "Protocol"}, "description": "Protocol name or slug"}, {"name": "address", "in": "query", "required": false, "schema": {"type": "string", "description": "Optional contract address for GoPlus check", "default": "", "title": "Address"}, "description": "Optional contract address for GoPlus check"}, {"name": "chain_id", "in": "query", "required": false, "schema": {"type": "string", "description": "Chain ID for GoPlus (default: 1 = Ethereum)", "default": "1", "title": "Chain Id"}, "description": "Chain ID for GoPlus (default: 1 = Ethereum)"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/defi__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.100000"}, "security": [{"x402": {}}]}, "description": "DeFi protocol risk score plus live APY yields. Pass ?protocol=.", "tags": ["defirisk"], "x-direct-url": "https://defi.lonestaroracle.xyz/risk"}}, "/defi/top-yields": {"get": {"summary": "Top Yields Screener", "description": "Cross-protocol risk-adjusted DeFi yield screener: ranks pools by REAL base APY (separated from reward/emission APY), flags yield traps, adds a 0-10 risk overlay. $0.10/query via x402.", "parameters": [{"name": "asset", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Token symbol filter, e.g. USDC"}, {"name": "chain", "in": "query", "required": false, "schema": {"type": "string"}, "description": "Chain filter, e.g. Base, Ethereum, Arbitrum"}, {"name": "stablecoin", "in": "query", "required": false, "schema": {"type": "string"}, "description": "true = stablecoin pools only"}, {"name": "min_tvl", "in": "query", "required": false, "schema": {"type": "number"}, "description": "Minimum pool TVL in USD"}, {"name": "category", "in": "query", "required": false, "schema": {"type": "string"}, "description": "lending or lp"}, {"name": "risk_max", "in": "query", "required": false, "schema": {"type": "integer"}, "description": "Max risk score 0-10"}, {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer"}, "description": "Result count (max 50)"}], "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.100000"}, "security": [{"x402": {}}]}, "operationId": "defi_get_top-yields", "tags": ["defirisk"], "x-direct-url": "https://defi.lonestaroracle.xyz/top-yields"}}, "/doc/report": {"get": {"summary": "Convert PDF URL to Markdown", "description": "GET wrapper for AW compatibility. Pass ?url=<pdf_url> as query param.", "operationId": "doc_report_get_report_get", "parameters": [{"name": "url", "in": "query", "required": false, "schema": {"type": "string", "default": "", "title": "Url"}}, {"name": "summarize", "in": "query", "required": false, "schema": {"type": "boolean", "default": true, "title": "Summarize"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/doc__HTTPValidationError"}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["docedge"], "x-direct-url": "https://doc.lonestaroracle.xyz/report"}}, "/doc/convert": {"post": {"summary": "Document Conversion", "operationId": "doc_convert_convert_post", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"url": {"type": "string", "description": "URL of the PDF to convert (provide url OR base64)"}, "base64": {"type": "string", "description": "Base64-encoded PDF content (provide url OR base64)"}, "summarize": {"type": "boolean", "default": true, "description": "Whether to include an AI summary"}}}}}}, "description": "Convert documents between formats. POST /convert.", "tags": ["docedge"], "x-direct-url": "https://doc.lonestaroracle.xyz/convert"}}, "/doc/preview": {"get": {"summary": "Preview", "operationId": "doc_preview_preview_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["docedge"], "x-direct-url": "https://doc.lonestaroracle.xyz/preview"}}, "/earnings/calendar": {"get": {"summary": "US Earnings Calendar", "operationId": "earnings_calendar_calendar_get", "parameters": [{"name": "tickers", "in": "query", "required": true, "schema": {"type": "string", "title": "Tickers"}}, {"name": "days_soon", "in": "query", "required": false, "schema": {"type": "integer", "default": 7, "title": "Days Soon"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "description": "Service response data"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/earnings__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.030000"}, "security": [{"x402": {}}]}, "description": "Upcoming US earnings dates, estimates and surprises for any ticker. Pass ?ticker=.", "tags": ["earningscalendar"], "x-direct-url": "https://earnings.lonestaroracle.xyz/calendar"}}, "/energy/energy": {"get": {"summary": "US Energy Inventory Catalyst", "operationId": "energy_energy_endpoint_energy_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "parameters": [{"name": "report", "in": "query", "required": false, "description": "Optional. Focus one report: crude (or oil/petroleum), gasoline, distillate (diesel), or natgas (natural gas). Omit for the full energy dashboard. Aliases: commodity, r.", "schema": {"type": "string", "example": "crude"}}], "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "US energy inventory catalyst signal (crude, gasoline, distillate and natural-gas builds/draws) plus the upcoming EIA report calendar, for trading or assessing energy around data releases.", "tags": ["energycatalyst"], "x-direct-url": "https://energy.lonestaroracle.xyz/energy"}}, "/equity/equity": {"get": {"summary": "US Equity Fundamentals & Signal", "operationId": "equity_equity_equity_get", "parameters": [{"name": "ticker", "in": "query", "required": true, "schema": {"type": "string", "title": "Ticker"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "description": "Service response data"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/equity__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "Fundamentals, valuation and a buy/sell/strong-buy signal with analyst price-target upside for any US stock or ETF. Pass ?ticker=.", "tags": ["equityscope"], "x-direct-url": "https://equity.lonestaroracle.xyz/equity"}}, "/europe/pulse": {"get": {"summary": "Europe Macro Pulse", "operationId": "europe_pulse_pulse_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "Europe macro and stress pulse across 12 economies.", "tags": ["europepulse"], "x-direct-url": "https://europe.lonestaroracle.xyz/pulse"}}, "/floyd/hire": {"post": {"summary": "Hire the Floyd AI Agent", "description": "Autonomous AI agent for research, web search and coding tasks. POST /hire with a task.", "operationId": "floyd_hire_hire_post", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.500000"}, "security": [{"x402": {}}]}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["task"], "properties": {"task": {"type": "string", "description": "Description of the coding task for Floyd to complete"}, "repo": {"type": "string", "description": "Optional GitHub repo URL for Floyd to work in"}, "context": {"type": "string", "description": "Optional additional context or constraints"}}}}}}, "tags": ["floyd"], "x-direct-url": "https://floyd.lonestaroracle.xyz/hire"}}, "/funding/rates": {"get": {"summary": "Perp Funding Rates Signal", "operationId": "funding_rates_rates_get", "parameters": [{"name": "asset", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Asset"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/funding__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "Perpetual-futures funding rates, extremes and a positioning signal across exchanges. /rates, /extremes, /signal.", "tags": ["fundingrates"], "x-direct-url": "https://funding.lonestaroracle.xyz/rates"}}, "/funding/extremes": {"get": {"summary": "Top extreme rates \u2014 agent-optimized", "operationId": "funding_extremes_extremes_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "tags": ["fundingrates"], "x-direct-url": "https://funding.lonestaroracle.xyz/extremes"}}, "/funding/signal": {"get": {"summary": "Signal only \u2014 ultra-lightweight", "operationId": "funding_signal_only_signal_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "tags": ["fundingrates"], "x-direct-url": "https://funding.lonestaroracle.xyz/signal"}}, "/funds/funds": {"get": {"summary": "Institutional 13F Fund Flow", "operationId": "funds_funds_endpoint_funds_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "parameters": [{"name": "ticker", "in": "query", "required": true, "description": "Stock ticker to read institutional 13F flow for (e.g. AAPL, NVDA, GME). Aliases: symbol.", "schema": {"type": "string", "example": "NVDA"}}], "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "Institutional 13F flow (accumulation/distribution), ownership percent and top holders. Pass ?ticker=.", "tags": ["fundflow"], "x-direct-url": "https://funds.lonestaroracle.xyz/funds"}}, "/geo/risk": {"get": {"summary": "Geopolitical Risk Score", "operationId": "geo_risk_risk_get", "parameters": [{"name": "location", "in": "query", "required": true, "schema": {"type": "string", "description": "Country or region", "title": "Location"}, "description": "Country or region"}, {"name": "hours", "in": "query", "required": false, "schema": {"type": "integer", "description": "News lookback hours (1-72)", "default": 24, "title": "Hours"}, "description": "News lookback hours (1-72)"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/geo__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.070000"}, "security": [{"x402": {}}]}, "description": "Per-country geopolitical risk signal from live media and event data. Pass ?country=.", "tags": ["geopulse"], "x-direct-url": "https://geo.lonestaroracle.xyz/risk"}}, "/govedge/report": {"get": {"summary": "US Federal Spending & Contracts", "operationId": "govedge_report_report_get", "parameters": [{"name": "min_amount", "in": "query", "required": false, "schema": {"type": "number", "default": 10000000, "title": "Min Amount"}}, {"name": "days_back", "in": "query", "required": false, "schema": {"type": "integer", "default": 7, "title": "Days Back"}}, {"name": "agency", "in": "query", "required": false, "schema": {"type": "string", "title": "Agency"}}, {"name": "naics", "in": "query", "required": false, "schema": {"type": "string", "title": "Naics"}}, {"name": "ticker", "in": "query", "required": false, "schema": {"type": "string", "title": "Ticker"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/govedge__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.200000"}, "security": [{"x402": {}}]}, "description": "US federal spending, awards and SAM.gov contract opportunities. /report and /opportunities.", "tags": ["govedge"], "x-direct-url": "https://govedge.lonestaroracle.xyz/report"}}, "/govedge/opportunities": {"get": {"summary": "Upcoming Contract Opportunities", "description": "Fetch upcoming federal contract solicitations from SAM.gov.", "operationId": "govedge_opportunities_opportunities_get", "parameters": [{"name": "keyword", "in": "query", "required": false, "schema": {"type": "string", "title": "Keyword"}}, {"name": "naics", "in": "query", "required": false, "schema": {"type": "string", "title": "Naics"}}, {"name": "set_aside", "in": "query", "required": false, "schema": {"type": "string", "title": "Set Aside"}}, {"name": "days_back", "in": "query", "required": false, "schema": {"type": "integer", "default": 7, "title": "Days Back"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/govedge__HTTPValidationError"}}}}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.200000"}, "security": [{"x402": {}}]}, "tags": ["govedge"], "x-direct-url": "https://govedge.lonestaroracle.xyz/opportunities"}}, "/govedge/preview": {"get": {"summary": "Preview", "operationId": "govedge_preview_preview_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["govedge"], "x-direct-url": "https://govedge.lonestaroracle.xyz/preview"}}, "/grid/report": {"get": {"summary": "US Power Grid Demand & Mix", "operationId": "grid_report_report_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.030000"}, "security": [{"x402": {}}]}, "description": "US electricity grid demand, generation mix and stress signal.", "tags": ["gridpulse"], "x-direct-url": "https://grid.lonestaroracle.xyz/report"}}, "/grid/preview": {"get": {"summary": "Preview", "operationId": "grid_preview_preview_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["gridpulse"], "x-direct-url": "https://grid.lonestaroracle.xyz/preview"}}, "/grid/region/{code}": {"get": {"summary": "Region", "description": "Single region detail.", "operationId": "grid_region_region__code__get", "parameters": [{"name": "code", "in": "path", "required": true, "schema": {"type": "string", "title": "Code"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/grid__HTTPValidationError"}}}}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.030000"}, "security": [{"x402": {}}]}, "tags": ["gridpulse"], "x-direct-url": "https://grid.lonestaroracle.xyz/region/{code}"}}, "/hazard/hazard": {"get": {"summary": "Natural Hazard Alerts", "operationId": "hazard_hazard_hazard_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "parameters": [{"name": "country", "in": "query", "required": false, "description": "Optional. Scope to a country (name or ISO/keyword, e.g. Japan, Philippines). Omit for the global hazard signal. Aliases: nation, q, iso.", "schema": {"type": "string", "example": "Japan"}}], "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "Natural-hazard and disaster alert signal (quake, cyclone, flood, volcano, wildfire) from GDACS/USGS. ?country= or global.", "tags": ["hazardpulse"], "x-direct-url": "https://hazard.lonestaroracle.xyz/hazard"}}, "/insider/trades": {"get": {"summary": "Corporate Insider Trades (SEC)", "operationId": "insider_trades_trades_get", "parameters": [{"name": "ticker", "in": "query", "required": true, "schema": {"type": "string", "title": "Ticker"}}, {"name": "days", "in": "query", "required": false, "schema": {"anyOf": [{"type": "integer"}, {"type": "null"}], "default": 90, "title": "Days"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "description": "Service response data"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/insider__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.030000"}, "security": [{"x402": {}}]}, "description": "Recent SEC Form 4 insider buys and sells for any US ticker. Pass ?ticker=.", "tags": ["insiderflow"], "x-direct-url": "https://insider.lonestaroracle.xyz/trades"}}, "/kya/check": {"get": {"summary": "KYA / counterparty check for a wallet (and optional name) with a signed verdict", "operationId": "kya_check_check_get", "parameters": [{"name": "wallet", "in": "query", "required": false, "schema": {"type": "string", "description": "Agent/counterparty wallet address (EVM 0x... or any OFAC-listed crypto address)", "title": "Wallet"}, "description": "Agent/counterparty wallet address (EVM 0x... or any OFAC-listed crypto address)"}, {"name": "name", "in": "query", "required": false, "schema": {"type": "string", "description": "Optional agent, company or person name to screen against OFAC", "title": "Name"}, "description": "Optional agent, company or person name to screen against OFAC"}, {"name": "chain", "in": "query", "required": false, "schema": {"type": "string", "description": "EVM chain for on-chain risk: base, eth, arb, poly, bsc", "default": "base", "title": "Chain"}, "description": "EVM chain for on-chain risk: base, eth, arb, poly, bsc"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/kya__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.100000"}, "security": [{"x402": {}}]}, "tags": ["kyacheck"], "x-direct-url": "https://kya.lonestaroracle.xyz/check"}}, "/kya/signer": {"get": {"summary": "Signer", "operationId": "kya_signer_signer_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["kyacheck"], "x-direct-url": "https://kya.lonestaroracle.xyz/signer"}}, "/labor/labor": {"get": {"summary": "US Labor Market Signal", "operationId": "labor_labor_labor_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "US jobs, unemployment, wages and JOLTS signal. BLS data.", "tags": ["laborpulse"], "x-direct-url": "https://labor.lonestaroracle.xyz/labor"}}, "/latam/report": {"get": {"summary": "Latin America Macro Pulse", "operationId": "latam_report_report_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "Latin America macro and country-risk pulse.", "tags": ["latampulse"], "x-direct-url": "https://latam.lonestaroracle.xyz/report"}}, "/latam/feed": {"get": {"summary": "Feed", "operationId": "latam_feed_feed_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["latampulse"], "x-direct-url": "https://latam.lonestaroracle.xyz/feed"}}, "/launches/scan": {"get": {"summary": "New Token Launch Scanner", "operationId": "launches_scan_scan_get", "parameters": [{"name": "chain", "in": "query", "required": false, "schema": {"type": "string", "default": "base", "title": "Chain"}}, {"name": "hours", "in": "query", "required": false, "schema": {"type": "integer", "default": 24, "title": "Hours"}}, {"name": "min_liquidity", "in": "query", "required": false, "schema": {"type": "number", "default": 500, "title": "Min Liquidity"}}, {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "default": 20, "title": "Limit"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/launches__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "Newly launched tokens with liquidity, volume and early-risk screen. Pass ?chain=.", "tags": ["tokenlaunch"], "x-direct-url": "https://launches.lonestaroracle.xyz/scan"}}, "/lease/report": {"get": {"summary": "Gulf of Mexico Oil & Gas Leases", "operationId": "lease_report_report_get", "parameters": [{"name": "area", "in": "query", "required": false, "schema": {"type": "string", "title": "Area"}}, {"name": "status", "in": "query", "required": false, "schema": {"type": "string", "title": "Status"}}, {"name": "lease_number", "in": "query", "required": false, "schema": {"type": "string", "title": "Lease Number"}}, {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "default": 20, "title": "Limit"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/lease__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.150000"}, "security": [{"x402": {}}]}, "description": "Offshore Gulf of Mexico oil and gas lease-sale and block data.", "tags": ["leaseedge"], "x-direct-url": "https://lease.lonestaroracle.xyz/report"}}, "/lease/auctions": {"get": {"summary": "BBG1 Auction Results", "operationId": "lease_auctions_auctions_get", "parameters": [{"name": "area", "in": "query", "required": false, "schema": {"type": "string", "title": "Area"}}, {"name": "company", "in": "query", "required": false, "schema": {"type": "string", "title": "Company"}}, {"name": "min_bid", "in": "query", "required": false, "schema": {"type": "number", "default": 0, "title": "Min Bid"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/lease__HTTPValidationError"}}}}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.150000"}, "security": [{"x402": {}}]}, "tags": ["leaseedge"], "x-direct-url": "https://lease.lonestaroracle.xyz/auctions"}}, "/lease/expiring": {"get": {"summary": "Expiring Leases", "operationId": "lease_expiring_expiring_get", "parameters": [{"name": "days", "in": "query", "required": false, "schema": {"type": "integer", "default": 365, "title": "Days"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/lease__HTTPValidationError"}}}}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.150000"}, "security": [{"x402": {}}]}, "tags": ["leaseedge"], "x-direct-url": "https://lease.lonestaroracle.xyz/expiring"}}, "/lease/portfolio": {"get": {"summary": "Company Lease Portfolio", "operationId": "lease_portfolio_portfolio_get", "parameters": [{"name": "company", "in": "query", "required": false, "schema": {"type": "string", "title": "Company"}}, {"name": "company_num", "in": "query", "required": false, "schema": {"type": "string", "title": "Company Num"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/lease__HTTPValidationError"}}}}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.150000"}, "security": [{"x402": {}}]}, "tags": ["leaseedge"], "x-direct-url": "https://lease.lonestaroracle.xyz/portfolio"}}, "/lease/preview": {"get": {"summary": "Preview", "operationId": "lease_preview_preview_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}}, "x-payment-info": {"authMode": "free"}, "tags": ["leaseedge"], "x-direct-url": "https://lease.lonestaroracle.xyz/preview"}}, "/liq/liquidations": {"get": {"summary": "Crypto Liquidations Signal", "operationId": "liq_liquidations_liquidations_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.100000"}, "security": [{"x402": {}}]}, "description": "Recent liquidations, biggest events and a squeeze signal across crypto perps. /liquidations, /biggest, /signal.", "tags": ["liquidations"], "x-direct-url": "https://liq.lonestaroracle.xyz/liquidations"}}, "/liq/biggest": {"get": {"summary": "Top liquidation events across all assets", "operationId": "liq_biggest_biggest_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.100000"}, "security": [{"x402": {}}]}, "tags": ["liquidations"], "x-direct-url": "https://liq.lonestaroracle.xyz/biggest"}}, "/liq/signal": {"get": {"summary": "Signal + totals only \u2014 ultra-lightweight", "operationId": "liq_signal_only_signal_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.100000"}, "security": [{"x402": {}}]}, "tags": ["liquidations"], "x-direct-url": "https://liq.lonestaroracle.xyz/signal"}}, "/liquidity/liquidity": {"get": {"summary": "US Net Liquidity (Fed)", "operationId": "liquidity_liquidity_endpoint_liquidity_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "parameters": [], "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "US net liquidity (Fed balance sheet minus RRP minus TGA) with trend and regime. FRED data.", "tags": ["liquiditypulse"], "x-direct-url": "https://liquidity.lonestaroracle.xyz/liquidity"}}, "/macro/macro": {"get": {"summary": "US Macro Dashboard Signal", "description": "US macro snapshot, CPI/inflation, rates, growth and unemployment with a regime signal. FRED data.", "operationId": "macro_macro_macro_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "description": "Service response data"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "tags": ["macropulse"], "x-direct-url": "https://macro.lonestaroracle.xyz/macro"}}, "/mena/pulse": {"get": {"summary": "Middle East & N. Africa Pulse", "operationId": "mena_pulse_pulse_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "MENA macro and geopolitical stress pulse, FX pegs, Brent and gas.", "tags": ["menapulse"], "x-direct-url": "https://mena.lonestaroracle.xyz/pulse"}}, "/metals/report": {"get": {"summary": "Industrial Metals Prices", "operationId": "metals_report_report_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "Copper, aluminum, steel and industrial-metals pricing and momentum.", "tags": ["industrialmetals"], "x-direct-url": "https://metals.lonestaroracle.xyz/report"}}, "/minerals/minerals": {"get": {"summary": "Critical Minerals Supply Risk", "operationId": "minerals_minerals_minerals_get", "parameters": [{"name": "commodity", "in": "query", "required": false, "schema": {"type": "string", "title": "Commodity"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/minerals__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "Critical-minerals supply concentration and US import-reliance. Pass ?commodity=.", "tags": ["strategicmaterials"], "x-direct-url": "https://minerals.lonestaroracle.xyz/minerals"}}, "/news/news": {"get": {"summary": "Crypto News Sentiment", "description": "Aggregated bullish/bearish news sentiment signal for any crypto asset or ticker. Pass ?symbol=.", "operationId": "news_news_news_get", "parameters": [{"name": "query", "in": "query", "required": true, "schema": {"type": "string", "title": "Query"}}, {"name": "source", "in": "query", "required": false, "schema": {"type": "string", "default": "both", "title": "Source"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "description": "Service response data"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/news__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "tags": ["newssentiment"], "x-direct-url": "https://news.lonestaroracle.xyz/news"}}, "/oi/oi": {"get": {"summary": "Open Interest Signal", "operationId": "oi_oi_oi_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "description": "Futures open-interest levels, extremes and a positioning signal. /oi, /extremes, /signal.", "tags": ["openinterest"], "x-direct-url": "https://oi.lonestaroracle.xyz/oi"}}, "/oi/extremes": {"get": {"summary": "Top movers by OI delta \u2014 agent-optimized", "operationId": "oi_extremes_extremes_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "tags": ["openinterest"], "x-direct-url": "https://oi.lonestaroracle.xyz/extremes"}}, "/oi/signal": {"get": {"summary": "Signal only \u2014 ultra-lightweight", "operationId": "oi_signal_only_signal_get", "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.050000"}, "security": [{"x402": {}}]}, "tags": ["openinterest"], "x-direct-url": "https://oi.lonestaroracle.xyz/signal"}}, "/options/flow": {"get": {"summary": "Options Flow, IV Skew & Put/Call", "operationId": "options_flow_flow_get", "parameters": [{"name": "ticker", "in": "query", "required": true, "schema": {"type": "string", "title": "Ticker"}}, {"name": "expiry", "in": "query", "required": false, "schema": {"type": "string", "default": "nearest", "title": "Expiry"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "description": "Service response data"}}}}, "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/options__HTTPValidationError"}}}}, "402": {"description": "Payment Required"}}, "x-payment-info": {"authMode": "payment", "price": {"mode": "fixed", "currency": "USD", "amount": "0.010000"}, "security": [{"x402": {}}]}, "description": "Options flow, implied-volatility skew and put/call ratio signal for US stocks and crypto (BTC/ETH/SOL). Pass ?ticker=.", "tags": ["optionsflow"], "x-direct-url": "https://options.lonestaroracle.xyz/flow"}}, "/pharma/catalysts": {"get": {"summary": "Biotech Trial Catalysts", "operationId
[...]
