{"openapi":"3.1.0","info":{"title":"Otto AI x402 — Market Intelligence, DeFi & Trading","version":"2.0.0","contact":{"email":"admin@useotto.xyz","url":"https://t.me/DeFAI_Capital"},"description":"Otto AI runs a swarm of autonomous agents exposing 88 pay-per-call services on x402 V2 across eight capability tags — Market & Token Intelligence, DeFi & Markets Data, Web & Domain Intelligence, Real-World Data, AI Creative & Tools, Portfolio & Accounts, Execution, and x402 Open Router. Settled in USDC on Base on every endpoint; 68 of 88 also accept USDC on Solana (each path's x-payment-info.networks names its own; the live 402's accepts[] is authoritative). Permit2-ready for any ERC-20. From $0.001 per call.","x-guidance":"Otto AI exposes 88 pay-per-call endpoints across eight capability tags — Market & Token Intelligence, DeFi & Markets Data, Web & Domain Intelligence, Real-World Data, AI Creative & Tools, Portfolio & Accounts, Execution, and x402 Open Router. All endpoints require x402 V2 payment in USDC. Settled in USDC on Base on every endpoint; 68 of 88 also accept USDC on Solana (each path's x-payment-info.networks names its own; the live 402's accepts[] is authoritative).\n\nHow to use:\n1. GET/POST any endpoint — receive 402 with PAYMENT-REQUIRED header (base64-encoded) and the same accepts[] inlined in the JSON body\n2. Read accepts[] for this path's payment options (EIP-3009 USDC on Base, Permit2 any ERC-20 on Base, and on 68 paths Solana USDC) — per-path networks are also published as x-payment-info.networks\n3. Sign payment and retry with PAYMENT-SIGNATURE header\n4. Receive 200 with data + signed receipt in PAYMENT-RESPONSE header\n5. Only for endpoints that advertise SIWX eligibility: use SIGN-IN-WITH-X on subsequent requests (1hr free access); cached data endpoints require payment every call\n\nEndpoint categories:\n- Market & Token Intelligence (19): News (full feed, one-paragraph recaps, Base-ecosystem vertical), KOL sentiment, token analysis/details/fundamentals/price/security, trending, top-holders, holder analytics, Base Season, RH Season, tokenized-stock movers (Robinhood Chain + Base B20), tweet-search, mega-report\n- DeFi & Markets Data (37): DeFi TVL/yield, stablecoin peg-watch, composite market-risk score (depeg + Base exit-liquidity), protocol fees/revenue, DEX pool search, one-hour Uniswap pool APR, trending pools, prediction-market odds (Polymarket top/crypto/search), funding rates, perp/HL market data, TradFi macro, US equities intel, tokenized-equity registry, SEC insider trades (Form 4), 13F institutional holdings, smart-money bundle + AI filing brief\n- Web & Domain Intelligence (9): DNS lookup (records + SPF/DMARC/DKIM email auth), WHOIS/RDAP registration, domain age/trust signal, one-call domain report, web-search (query → ranked live pages + snippets), web-answer (quick synthesized answer + citations for agent loops; use /llm-research for a deep report), web-extract (URL → markdown via Jina), web-links (all page links) and web-json-extract (page → structured JSON via AI) — keyless public infra (DoH, RDAP, Jina, Cloudflare Browser Rendering) plus licensed Exa search/answer\n- Real-World Data (2): live + reference fiat FX rates (Yahoo near-real-time mid for 12 majors refreshed every minute + ECB daily reference for ~30 currencies, base USD) and global current weather + 5-day forecast (Open-Meteo) — keyless public sources\n- AI Creative & Tools (4): Image gen, video gen, AI research, tx explainer\n- Portfolio & Accounts (10): Wallet balances/holdings bagcheck, Uniswap NFT range diagnostics, positions, transaction history, yield positions, idle capital\n- Execution (4): Swap (LI.FI), bridge (LI.FI), deposit, withdraw, Hyperliquid perps (trade/close/modify/margin/deposit-withdraw)\n- x402 Open Router (3): Meta Intelligence (POST /meta-intelligence, or GET /meta-intelligence?ask= — recommends the best x402 service, non-custodial, $0.001), Full Auto (POST /full-auto — LIVE+ARMED, pays the best service on your behalf at-cost + $0.001 router fee, upto cap), Feedback & Refunds (POST /feedback — money-back guarantee, capped $0.01/tx, up to 10x/wallet/day, on Otto's own services + Full Auto)"},"servers":[{"url":"https://x402.ottoai.services"}],"components":{"schemas":{"PoolAprIdentity":{"type":"object","description":"Exact provider-bound pool identity. Tokens must be distinct and sorted numerically; V3 uses a 20-byte pool address and zero hook, V4 a 32-byte PoolId. Identity matching is not a token or hook safety approval.","properties":{"chainId":{"const":4663},"protocol":{"enum":["uniswap-v3","uniswap-v4"]},"poolId":{"type":"string","pattern":"^0x(?:[0-9a-fA-F]{40}|[0-9a-fA-F]{64})$"},"token0":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"token1":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"hook":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"}},"required":["chainId","protocol","poolId","token0","token1","hook"],"additionalProperties":false,"allOf":[{"if":{"properties":{"protocol":{"const":"uniswap-v3"}}},"then":{"properties":{"poolId":{"pattern":"^0x[0-9a-fA-F]{40}$"},"hook":{"const":"0x0000000000000000000000000000000000000000"}}},"else":{"properties":{"poolId":{"pattern":"^0x[0-9a-fA-F]{64}$"}}}}]},"PoolAprResponse":{"allOf":[{"$ref":"#/components/schemas/LpAdviceYield"},{"type":"object","required":["assessment"]}]},"LpAdviceYield":{"type":"object","description":"Uniswap-reported pool APR in percentage points, independently cached for one hour. Source computation timestamp and lookback are unspecified; retrievedAt is the original local retrieval time. Expired observations survive failed refreshes as STALE for up to 24 hours. Missing optional reward evidence does not erase a reported fee or total APR. Overall freshness reflects the oldest displayed component; components expose their own clocks. Range inactivity or blocked advice does not suppress correctly bound pool statistics. This does not establish personal earnings or investment eligibility.","properties":{"binding":{"anyOf":[{"$ref":"#/components/schemas/PoolAprIdentity"},{"type":"null"}]},"status":{"enum":["CURRENT","STALE","UNAVAILABLE"]},"feeAprPct":{"type":["number","null"],"minimum":0},"incentiveAprPct":{"type":["number","null"],"minimum":0},"totalAprPct":{"type":["number","null"],"minimum":0},"retrievedAt":{"type":["string","null"],"format":"date-time"},"validUntil":{"type":["string","null"],"format":"date-time"},"ageSeconds":{"type":["integer","null"],"minimum":0},"source":{"const":"Uniswap"},"sourceUrl":{"const":"https://liquidity.backend-prod.api.uniswap.org/uniswap.liquidity.v2.LiquidityService/GetPool"},"aprUnits":{"const":"percentage_points"},"scope":{"const":"POOL"},"reasons":{"type":"array","items":{"type":"string"}},"basis":{"type":"string"},"incentiveBasis":{"type":"string"},"components":{"type":"object","properties":{"fee":{"$ref":"#/components/schemas/PoolAprComponent"},"incentive":{"$ref":"#/components/schemas/PoolAprComponent"},"total":{"$ref":"#/components/schemas/PoolAprComponent"}},"required":["fee","incentive","total"],"additionalProperties":false},"poolKey":{"anyOf":[{"$ref":"#/components/schemas/AssessmentPoolKey"},{"type":"null"}]},"assessment":{"$ref":"#/components/schemas/PoolAssessment"}},"required":["binding","status","feeAprPct","incentiveAprPct","totalAprPct","retrievedAt","validUntil","ageSeconds","source","sourceUrl","aprUnits","scope","reasons","basis","incentiveBasis","components"],"additionalProperties":false},"PoolAprComponent":{"type":"object","properties":{"status":{"enum":["CURRENT","STALE","UNAVAILABLE"]},"retrievedAt":{"type":["string","null"],"format":"date-time"},"validUntil":{"type":["string","null"],"format":"date-time"},"ageSeconds":{"type":["integer","null"],"minimum":0},"basis":{"type":"string"}},"required":["status","retrievedAt","validUntil","ageSeconds","basis"],"additionalProperties":false},"AssessmentPoolKey":{"type":"object","properties":{"currency0":{"type":"string"},"currency1":{"type":"string"},"fee":{"type":"integer","minimum":0,"maximum":16777215},"tickSpacing":{"type":"integer","minimum":1,"maximum":32767},"hooks":{"type":"string"}},"required":["currency0","currency1","fee","tickSpacing","hooks"],"additionalProperties":false},"PoolAssessment":{"type":"object","properties":{"schemaVersion":{"const":1},"binding":{"$ref":"#/components/schemas/PoolAprIdentity"},"status":{"enum":["CURRENT","UNAVAILABLE"]},"assessedAt":{"type":["string","null"],"format":"date-time"},"validUntil":{"type":["string","null"],"format":"date-time"},"block":{"anyOf":[{"type":"object","properties":{"number":{"type":"string"},"hash":{"type":"string"},"timestamp":{"type":"string","format":"date-time"},"finality":{"enum":["latest","safe","finalized"]}},"required":["number","hash","timestamp","finality"],"additionalProperties":false},{"type":"null"}]},"identity":{"type":"object","properties":{"status":{"enum":["VERIFIED","MISMATCH","UNAVAILABLE"]},"source":{"const":"ROBINHOOD_RPC"},"reasons":{"type":"array","items":{"type":"string"}}},"required":["status","source","reasons"],"additionalProperties":false},"pool":{"anyOf":[{"type":"object","properties":{"key":{"$ref":"#/components/schemas/AssessmentPoolKey"},"initialized":{"type":"boolean"},"activeLiquidity":{"type":"string"}},"required":["key","initialized","activeLiquidity"],"additionalProperties":false},{"type":"null"}]},"tokens":{"type":"array","items":{"$ref":"#/components/schemas/PoolTokenAssessment"},"maxItems":2},"hook":{"type":"object","properties":{"address":{"type":"string"},"status":{"enum":["NOT_APPLICABLE","NO_HOOK","UNASSESSED"]},"permissions":{"type":"array","items":{"type":"string"}},"codeHash":{"type":["string","null"]},"quoteExecutionSafety":{"const":"NOT_ASSESSED"},"reasons":{"type":"array","items":{"type":"string"}}},"required":["address","status","permissions","codeHash","quoteExecutionSafety","reasons"],"additionalProperties":false},"recommendation":{"type":"object","properties":{"status":{"enum":["ELIGIBLE_FOR_COMPARISON","REQUIRES_REVIEW","BLOCKED","UNAVAILABLE"]},"executionEligible":{"const":false},"reasons":{"type":"array","items":{"type":"string"}},"basis":{"type":"string"}},"required":["status","executionEligible","reasons","basis"],"additionalProperties":false}},"required":["schemaVersion","binding","status","assessedAt","validUntil","block","identity","pool","tokens","hook","recommendation"],"additionalProperties":false,"description":"Independent, block-bound technical pool assessment, cached for at most five minutes from the source block. CURRENT describes evidence freshness, not a safe pool or recommendation. ELIGIBLE_FOR_COMPARISON admits a pool to further comparison only: investment suitability, fee profitability and execution safety are not established. Nonzero hook behavior remains UNASSESSED; permission bits and code hashes are descriptive evidence. Missing/RPC-failed assessment never erases independent APR statistics."},"PoolTokenAssessment":{"type":"object","properties":{"address":{"type":"string"},"registrySymbol":{"type":["string","null"]},"registryAsOf":{"type":["string","null"]},"registryDecimals":{"type":["integer","null"]},"issuer":{"type":["boolean","null"]},"decimals":{"type":["integer","null"]},"paused":{"type":["boolean","null"]},"oraclePaused":{"type":["boolean","null"]},"multiplier":{"type":["string","null"]},"status":{"enum":["VERIFIED","REQUIRES_REVIEW","BLOCKED","UNAVAILABLE"]},"reasons":{"type":"array","items":{"type":"string"}}},"required":["address","registrySymbol","registryAsOf","registryDecimals","issuer","decimals","paused","oraclePaused","multiplier","status","reasons"],"additionalProperties":false},"IntelligenceInput":{"type":"object","properties":{"position":{"$ref":"#/components/schemas/PositionRef"},"evidenceSetId":{"type":"string","pattern":"^[a-zA-Z0-9_-]{1,80}$"},"scenarios":{"type":"array","items":{"$ref":"#/components/schemas/IntelligenceScenarioInput"},"minItems":1,"maxItems":8},"advisory":{"type":"object","additionalProperties":false,"properties":{"horizonDays":{"type":"integer","minimum":1,"maximum":30,"default":7},"objective":{"type":"string","enum":["understand","maintain-fee-uptime","reduce-concentration"],"default":"understand"}},"description":"User objective and comparison horizon only. Data providers, volatility, costs and forecasts cannot be supplied by callers."}},"required":["position"],"additionalProperties":false},"PositionRef":{"type":"object","properties":{"chainId":{"type":"number","const":4663},"positionManager":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"tokenId":{"type":"string","pattern":"^(0|[1-9][0-9]{0,77})$"},"expectedOwner":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"}},"required":["chainId","positionManager","tokenId"],"additionalProperties":false},"IntelligenceScenarioInput":{"type":"object","properties":{"label":{"type":"string","minLength":1,"maxLength":60},"token0ChangePct":{"type":"number","minimum":-90,"maximum":100},"token1ChangePct":{"type":"number","minimum":-90,"maximum":100}},"required":["label","token0ChangePct","token1ChangePct"],"additionalProperties":false},"IntelligenceResult":{"type":"object","properties":{"schemaVersion":{"const":1},"status":{"type":"string","enum":["READY","CLOSED"]},"generatedAt":{"type":"string","format":"date-time"},"position":{"$ref":"#/components/schemas/PositionRef"},"executionAuthority":{"const":"none"},"current":{"type":"object","properties":{"snapshotId":{"type":"string"},"observedAt":{"type":"string","format":"date-time"},"block":{"$ref":"#/components/schemas/PositionSnapshot/properties/block"},"owner":{"$ref":"#/components/schemas/PositionSnapshot/properties/owner"},"pool":{"$ref":"#/components/schemas/PositionSnapshot/properties/pool"},"tokens":{"$ref":"#/components/schemas/PositionSnapshot/properties/tokens"},"principalRaw":{"anyOf":[{"type":"array","prefixItems":[{"type":"string","pattern":"^(0|[1-9][0-9]*)$"},{"type":"string","pattern":"^(0|[1-9][0-9]*)$"}],"minItems":2,"maxItems":2},{"type":"null"}]},"uncollectedFeesRaw":{"anyOf":[{"type":"array","prefixItems":[{"type":"string","pattern":"^(0|[1-9][0-9]*)$"},{"type":"string","pattern":"^(0|[1-9][0-9]*)$"}],"minItems":2,"maxItems":2},{"type":"null"}],"description":"V4 accrued fee entitlement; V3 fresh fee growth since last checkpoint only. V3 stored balances are separate and are not assumed to be income."},"inRange":{"type":["boolean","null"]},"protocol":{"type":"string","enum":["uniswap-v3","uniswap-v4"]},"unclassifiedCollectableRaw":{"anyOf":[{"type":"array","prefixItems":[{"type":"string","pattern":"^(0|[1-9][0-9]*)$"},{"type":"string","pattern":"^(0|[1-9][0-9]*)$"}],"minItems":2,"maxItems":2},{"type":"null"}]}},"required":["snapshotId","observedAt","block","owner","pool","tokens","principalRaw","uncollectedFeesRaw","inRange","protocol","unclassifiedCollectableRaw"],"additionalProperties":false},"scenarios":{"type":"array","items":{"$ref":"#/components/schemas/IntelligenceScenarioResult"}},"scenarioBasis":{"type":"object","properties":{"initialPrincipalValueIndex":{"const":100},"benchmark":{"type":"string"},"valuation":{"type":"string"},"assumptions":{"type":"array","items":{"type":"string"}}},"required":["initialPrincipalValueIndex","benchmark","valuation","assumptions"],"additionalProperties":false},"recordedEvidence":{"anyOf":[{"$ref":"#/components/schemas/IntelligenceRecordedEvidence"},{"type":"null"}]},"decision":{"type":"object","properties":{"action":{"const":"REVIEW"},"reasons":{"type":"array","items":{"type":"string"}},"currentExecutableExit":{"const":"UNKNOWN"},"allInNetProfit":{"const":"UNKNOWN"},"hookPolicyPublication":{"const":"UNAVAILABLE"},"nextUsefulAction":{"type":"string"}},"required":["action","reasons","currentExecutableExit","allInNetProfit","hookPolicyPublication","nextUsefulAction"],"additionalProperties":false},"advice":{"$ref":"#/components/schemas/LpAdvice"},"assessment":{"$ref":"#/components/schemas/PoolAssessment"}},"required":["schemaVersion","status","generatedAt","position","executionAuthority","current","scenarios","scenarioBasis","recordedEvidence","decision","advice","assessment"],"additionalProperties":false},"PositionSnapshot":{"type":"object","required":["schemaVersion","snapshotId","ref","observedAt","block","status","owner","pool","tokens","liquidity","principalRaw","feesOwedRaw","feeGrowthInsideX128","feeGrowthInsideLastX128","marksUsd","markSource","warnings"],"properties":{"schemaVersion":{"const":1},"snapshotId":{"type":"string"},"ref":{"$ref":"#/components/schemas/PositionRef"},"observedAt":{"type":"string","format":"date-time"},"block":{"type":"object","properties":{"number":{"type":"string"},"hash":{"type":"string"},"timestamp":{"type":"string"},"finality":{"enum":["latest","safe","finalized"]}},"required":["number","hash","timestamp","finality"],"additionalProperties":false},"status":{"enum":["READY","CLOSED","UNSUPPORTED","UNAVAILABLE"]},"owner":{"anyOf":[{"type":"string"},{"type":"null"}]},"pool":{"anyOf":[{"type":"object","description":"V4 pool ID and key, or explicit V3 pool address in id/address with currency/fee/spacing metadata. All reads are bound to the snapshot block."},{"type":"null"}]},"tokens":{"anyOf":[{"type":"array","minItems":2,"maxItems":2,"items":{"type":"object"}},{"type":"null"}]},"liquidity":{"anyOf":[{"type":"string"},{"type":"null"}]},"principalRaw":{"anyOf":[{"type":"array","minItems":2,"maxItems":2,"items":{"type":"string"}},{"type":"null"}]},"feesOwedRaw":{"anyOf":[{"type":"array","minItems":2,"maxItems":2,"items":{"type":"string"}},{"type":"null"}]},"marksUsd":{"type":"array","minItems":2,"maxItems":2,"items":{"anyOf":[{"type":"number"},{"type":"null"}]}},"markSource":{"type":"string"},"warnings":{"type":"array","items":{"type":"string"}},"feeGrowthInsideX128":{"anyOf":[{"type":"array","minItems":2,"maxItems":2,"items":{"type":"string","pattern":"^[0-9]+$"}},{"type":"null"}]},"feeGrowthInsideLastX128":{"anyOf":[{"type":"array","minItems":2,"maxItems":2,"items":{"type":"string","pattern":"^[0-9]+$"}},{"type":"null"}]},"protocol":{"type":"string","enum":["uniswap-v3","uniswap-v4"]},"tokensOwedRaw":{"anyOf":[{"type":"array","prefixItems":[{"type":"string","pattern":"^(0|[1-9][0-9]*)$"},{"type":"string","pattern":"^(0|[1-9][0-9]*)$"}],"minItems":2,"maxItems":2},{"type":"null"}],"description":"V3 stored collectable tokens, which may include withdrawn capital and fees. Unclassified without lifecycle history."}},"additionalProperties":false},"IntelligenceScenarioResult":{"oneOf":[{"type":"object","properties":{"label":{"type":"string"},"token0ChangePct":{"type":"number"},"token1ChangePct":{"type":"number"},"status":{"const":"HYPOTHETICAL"},"principalRaw":{"type":"array","prefixItems":[{"type":"string","pattern":"^(0|[1-9][0-9]*)$"},{"type":"string","pattern":"^(0|[1-9][0-9]*)$"}],"minItems":2,"maxItems":2},"inRange":{"type":"boolean"},"principalValueIndex":{"type":"number"},"holdCurrentInventoryValueIndex":{"type":"number"},"lpMinusHoldPercentagePoints":{"type":"number"},"additionalFeesToMatchHoldRawToken1":{"type":"string","pattern":"^(0|[1-9][0-9]*)$"},"feeTargetToken":{"type":"string"}},"required":["label","token0ChangePct","token1ChangePct","status","principalRaw","inRange","principalValueIndex","holdCurrentInventoryValueIndex","lpMinusHoldPercentagePoints","additionalFeesToMatchHoldRawToken1","feeTargetToken"],"additionalProperties":false},{"type":"object","properties":{"label":{"type":"string"},"token0ChangePct":{"type":"number"},"token1ChangePct":{"type":"number"},"status":{"const":"OUTSIDE_PROTOCOL_PRICE_DOMAIN"}},"required":["label","token0ChangePct","token1ChangePct","status"],"additionalProperties":false}]},"IntelligenceRecordedEvidence":{"type":"object","properties":{"schemaVersion":{"type":"number","const":1},"position":{"type":"object","properties":{"chainId":{"type":"number","const":4663},"positionManager":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"tokenId":{"type":"string","pattern":"^(0|[1-9][0-9]{0,77})$"},"owner":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"poolId":{"type":"string","pattern":"^0x(?:[0-9a-fA-F]{40}|[0-9a-fA-F]{64})$"}},"required":["chainId","positionManager","tokenId","owner","poolId"],"additionalProperties":false},"tokens":{"type":"array","prefixItems":[{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"}]},"cutoff":{"type":"object","properties":{"number":{"type":"string","pattern":"^(0|[1-9][0-9]{0,77})$"},"hash":{"type":"string","pattern":"^0x[0-9a-fA-F]{64}$"},"timestamp":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"}},"required":["number","hash","timestamp"],"additionalProperties":false},"originalDepositRaw":{"type":"array","prefixItems":[{"type":"string","pattern":"^(0|[1-9][0-9]{0,77})$"},{"type":"string","pattern":"^(0|[1-9][0-9]{0,77})$"}]},"feeEntitlementRaw":{"type":"array","prefixItems":[{"type":"string","pattern":"^(0|[1-9][0-9]{0,77})$"},{"type":"string","pattern":"^(0|[1-9][0-9]{0,77})$"}]},"ledgerStatus":{"type":"string","const":"RECONCILED_UNDER_RECORDED_CONTRACT_ASSUMPTIONS"},"grossQuote":{"anyOf":[{"type":"object","properties":{"outputToken":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"outputSymbol":{"type":"string","minLength":1,"maxLength":16},"outputDecimals":{"type":"integer","minimum":0,"maximum":36},"lpRaw":{"type":"string","pattern":"^(0|[1-9][0-9]{0,77})$"},"holdRaw":{"type":"string","pattern":"^(0|[1-9][0-9]{0,77})$"},"differenceRaw":{"type":"string","pattern":"^-?(0|[1-9][0-9]{0,77})$"},"ownedPoolsExcluded":{"type":"boolean","const":true},"routePoolIds":{"minItems":1,"maxItems":8,"type":"array","items":{"type":"string","pattern":"^0x(?:[0-9a-fA-F]{40}|[0-9a-fA-F]{64})$"}}},"required":["outputToken","outputSymbol","outputDecimals","lpRaw","holdRaw","differenceRaw","ownedPoolsExcluded","routePoolIds"],"additionalProperties":false},{"type":"null"}]},"references":{"maxItems":4,"type":"array","items":{"type":"object","properties":{"token":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"updatedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"freshAtCutoff":{"type":"boolean"}},"required":["token","updatedAt","freshAtCutoff"],"additionalProperties":false}},"rewards":{"maxItems":8,"type":"array","items":{"type":"object","properties":{"token":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"symbol":{"type":"string","minLength":1,"maxLength":16},"distributionChainId":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"decimals":{"type":"integer","minimum":0,"maximum":36},"claimableRaw":{"type":"string","pattern":"^(0|[1-9][0-9]{0,77})$"},"pendingRaw":{"type":"string","pattern":"^(0|[1-9][0-9]{0,77})$"},"observedAt":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},"computedUntil":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"},{"type":"null"}]}},"required":["token","symbol","distributionChainId","decimals","claimableRaw","pendingRaw","observedAt","computedUntil"],"additionalProperties":false}},"sourceManifestSha256":{"type":"string","pattern":"^[0-9a-f]{64}$"},"evidenceSetId":{"type":"string","pattern":"^[a-zA-Z0-9_-]{1,80}$"},"scope":{"const":"HISTORICAL_REVIEWED_EXPORT"},"ageSeconds":{"type":"integer","minimum":0}},"required":["schemaVersion","position","tokens","cutoff","originalDepositRaw","feeEntitlementRaw","ledgerStatus","grossQuote","references","rewards","sourceManifestSha256","evidenceSetId","scope","ageSeconds"],"additionalProperties":false,"description":"Separately dated server-owned, hash-pinned accounting export. Gross quoted output is not a current executable exit or net USD profit. Claimable and pending rewards retain their own observation and computation times."},"LpAdvice":{"type":"object","properties":{"schemaVersion":{"const":1},"action":{"enum":["CHECK_TOKEN_STATUS","VERIFY_POSITION_DATA","POSITION_CLOSED","REVIEW_RANGE","REVIEW_EXPOSURE","WATCH_RANGE","KEEP_MONITORING"]},"headline":{"type":"string"},"summary":{"type":"string"},"nextStep":{"type":"string"},"why":{"type":"array","items":{"type":"string"}},"tradeoff":{"type":"string"},"recommendationBasis":{"type":"string"},"confidence":{"type":"object","properties":{"position":{"const":"CURRENT_BLOCK_OBSERVATION"},"rangeModel":{"enum":["LIMITED_SMOOTHED_PROXY","UNAVAILABLE"]},"economics":{"const":"NOT_ESTABLISHED"}},"required":["position","rangeModel","economics"],"additionalProperties":false},"requiresSignature":{"const":true},"executionAuthority":{"const":"none"},"details":{"type":"object","properties":{"objective":{"enum":["understand","maintain-fee-uptime","reduce-concentration"]},"horizonDays":{"type":"integer","minimum":1,"maximum":30},"eligibility":{"$ref":"#/components/schemas/LpAdviceEligibility"},"yield":{"$ref":"#/components/schemas/LpAdviceYield"},"facts":{"type":"object","properties":{"classification":{"const":"DERIVED_FROM_CURRENT_POOL_STATE"},"valuationUnit":{"type":"string"},"valuationToken":{"type":"string"},"valuationBasis":{"type":"string"},"inRange":{"type":"boolean"},"price":{"type":"number"},"lower":{"type":"number"},"upper":{"type":"number"},"baseToken":{"type":"string"},"baseShare":{"type":"number"},"principalValue":{"type":"number"},"lowerDistanceFraction":{"type":"number"},"upperDistanceFraction":{"type":"number"},"unclassifiedCollectableRaw":{"anyOf":[{"type":"array","prefixItems":[{"type":"string","pattern":"^(0|[1-9][0-9]*)$"},{"type":"string","pattern":"^(0|[1-9][0-9]*)$"}],"minItems":2,"maxItems":2},{"type":"null"}]}},"required":["classification","valuationUnit","valuationToken","valuationBasis","inRange","price","lower","upper","baseToken","baseShare","principalValue","lowerDistanceFraction","upperDistanceFraction","unclassifiedCollectableRaw"],"additionalProperties":false},"volatility":{"type":"object","description":"Server-bound hourly V3 geometric-TWAP evidence with status, annualized decimal volatility, exact snapshot/pool/token bindings, source block, averaging and return windows, observation times, reasons and assumptions. Unavailable results contain status and reasons. This is a limited smoothed proxy, never calibrated implied volatility."},"comparison":{"anyOf":[{"type":"object","properties":{"keep":{"$ref":"#/components/schemas/LpRangeModel"},"candidate":{"anyOf":[{"type":"object","properties":{"lowerTick":{"type":"integer"},"upperTick":{"type":"integer"},"lower":{"type":"number"},"upper":{"type":"number"},"liquidity":{"type":"number"},"metrics":{"$ref":"#/components/schemas/LpRangeModel"},"liquidityRelativeToCurrent":{"type":["number","null"]},"incrementalFeeHurdleBeforeExecutionCosts":{"type":"number","description":"Conditional candidate divergence cost minus keep divergence cost over the selected horizon, in the displayed quote token. Positive means this much more fee income is required; negative means the model allows this much less fee income before execution costs. Add full execution costs to obtain the fee hurdle after costs. This is a required fee difference, never a fee forecast or expected profit."},"fullExecutionCost":{"type":"null"},"expectedIncrementalFees":{"type":"null"},"expectedNetBenefit":{"type":"null"},"economicEdge":{"const":"NOT_ESTABLISHED"},"executable":{"const":false},"construction":{"type":"string"}},"required":["lowerTick","upperTick","lower","upper","liquidity","metrics","liquidityRelativeToCurrent","incrementalFeeHurdleBeforeExecutionCosts","fullExecutionCost","expectedIncrementalFees","expectedNetBenefit","economicEdge","executable","construction"],"additionalProperties":false},{"type":"null"}]},"reason":{"type":["string","null"]}},"required":["keep","candidate","reason"],"additionalProperties":false},{"type":"null"}]},"assumptions":{"type":"array","items":{"type":"string"}},"gaps":{"type":"array","items":{"type":"string"}}},"required":["objective","horizonDays","eligibility","yield","facts","volatility","comparison","assumptions","gaps"],"additionalProperties":false}},"required":["schemaVersion","action","headline","summary","nextStep","why","tradeoff","recommendationBasis","confidence","requiresSignature","executionAuthority","details"],"additionalProperties":false},"LpAdviceEligibility":{"type":"object","description":"Additional advisory checks on the reader-validated current snapshot. Discovery membership never supplies this status. DIAGNOSTICS_ONLY permits conditional range analysis, not an LP recommendation, deposit approval or token safety certification. Unknown address, inconsistent metadata, unavailable applicable token status or unsupported pool blocks range guidance while preserving observed balances.","properties":{"status":{"enum":["BLOCKED","DIAGNOSTICS_ONLY"]},"reasons":{"type":"array","items":{"type":"string"}},"lpRecommendationEligible":{"const":false},"executionEligible":{"const":false},"basis":{"type":"string"}},"required":["status","reasons","lpRecommendationEligible","executionEligible","basis"],"additionalProperties":false},"LpRangeModel":{"type":"object","properties":{"principalValue":{"type":"number"},"baseToken":{"type":"string","description":"Exact address of the displayed base asset; may be pool token1 for USDG-first pools."},"quoteToken":{"type":"string","description":"Exact address of the displayed quote asset and valuation numeraire; may be pool token0."},"valuationToken":{"type":"string","description":"Exact address of the quote asset in which principalValue, deltaValueInQuote, gammaValueInQuote and expectedDivergenceCost are denominated."},"baseAmount":{"type":"number","description":"Human units of baseToken, not pool-order token0."},"quoteAmount":{"type":"number","description":"Human units of quoteToken, not pool-order token1."},"baseDelta":{"type":"number","description":"Derivative of quote-denominated principal value with respect to the quote-per-base price; units of baseToken."},"deltaValueInQuote":{"type":"number","description":"Price times baseDelta, denominated in quoteToken; not necessarily USD."},"gammaValueInQuote":{"type":"number","description":"Price squared times second price derivative of principal value, denominated in quoteToken; not necessarily USD."},"currentInRange":{"type":"boolean"},"terminalInRangeProbability":{"type":"number","minimum":0,"maximum":1},"continuousInRangeProbability":{"type":"number","minimum":0,"maximum":1},"expectedActiveFraction":{"type":"number","minimum":0,"maximum":1},"expectedDivergenceCost":{"type":"number","minimum":0},"model":{"type":"object","properties":{"version":{"type":"string"},"assumptions":{"type":"array","items":{"type":"string"}},"divergenceMethod":{"enum":["deterministic","terminal-value-identity","integrated-gamma","vanishing-variance-limit"]}},"required":["version","assumptions","divergenceMethod"],"additionalProperties":false}},"required":["principalValue","baseToken","quoteToken","valuationToken","baseAmount","quoteAmount","baseDelta","deltaValueInQuote","gammaValueInQuote","currentInRange","terminalInRangeProbability","continuousInRangeProbability","expectedActiveFraction","expectedDivergenceCost","model"],"additionalProperties":false}}},"paths":{"/crypto-news":{"get":{"operationId":"crypto_news","summary":"Crypto news API: importance-ranked headlines with source links and publish times, plus a sentiment-scored market brief.","description":"Importance-ranked crypto headlines with per-article source links and publish times, plus a sentiment-scored market brief, from Otto's own news engine. Regenerated hourly over a 6h look-back (widened to 12/24h on a quiet window — the report states the period it covers); `meta` carries the snapshot's build time, its age in seconds and a fresh/stale verdict against that cadence.","tags":["Market & Token Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/news-recaps":{"get":{"operationId":"news_recaps","summary":"The one-paragraph state-of-market: a 4-6 sentence recap of direction and what matters, plus the ranked stories as typed fields with URLs.","description":"A tight 4-6 sentence crypto market recap an agent can ingest whole: overall direction and why, the 2-3 developments that matter, and anything notable on the top-10 board — distilled on demand (served while fresh, ≤1h) from the same live news engine behind Otto's top-ranked /crypto-news feed. The one-paragraph state-of-market; buy /crypto-news when you want the full report. Beside the prose, stories[] carries the ranked board as named typed fields — rank, title, whyItMatters, url, publishedAt, source (linked to the window's source articles by exact title; null when unmatched, never a guessed link) — with storiesStatus / articlesStatus and the analysis window, so an agent parses the same shape /crypto-news sells instead of regexing the board.","tags":["Market & Token Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.003"}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/base-ecosystem-news":{"get":{"operationId":"base_ecosystem_news","summary":"Up to 12 Base-scoped headlines from the last 48h, each with a permalink and timestamp, screened against the general crypto feed. Plus an AI read.","description":"Base-chain ecosystem news for Base-native agents, not the general crypto firehose. Up to 12 Base-scoped headlines from the last 48h, each with its own permalink and publication timestamp, screened against the general /crypto-news feed; `screen` states what was dropped. The AI topic read is optional and is withheld, never padded with macro, when there is no Base coverage. Refreshed hourly from cache; a read past the freshness window pulls inline.","tags":["Market & Token Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/filtered-news":{"get":{"operationId":"filtered_news","summary":"AI-filtered crypto news and X search for any non-token topic — airdrops, DeFi trends, narratives (max two-word query).","description":"AI-filtered crypto news and Twitter search for non-token topics (airdrops, DeFi trends, etc). Max 2 words.","tags":["Market & Token Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"parameters":[{"name":"topic","in":"query","required":true,"description":"Topic to filter news by (max 2 words)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/tweet-search":{"get":{"operationId":"tweet_search","summary":"Search X/Twitter for matching tweets — keyword, $cashtag, from:, @mentions or boolean — with author, text and engagement, newest first.","description":"Search X/Twitter for any query and get the actual matching tweets — keyword, $CASHTAG, from:handle (a user timeline), @handle (mentions), or boolean OR. Each tweet returns author, full text (long-form note tweets included), timestamp, likes and retweets (reply/quote counts when available). Most-recent-first for real-time monitoring and alerting. Live X search backend, pay-per-call USDC, structured JSON.","tags":["Market & Token Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.005"}},"parameters":[{"name":"query","in":"query","required":true,"description":"X/Twitter search query — keyword, $CASHTAG, from:handle, @handle, or boolean OR (e.g. \"$BTC OR bitcoin -is:retweet\")","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/twitter-summary":{"get":{"operationId":"twitter_summary","summary":"A quick crypto-Twitter pulse check: breaking news, trending narratives and sentiment shifts at a glance.","description":"Quick pulse check from crypto Twitter. Breaking news, trending narratives, and sentiment shifts at a glance.","tags":["Market & Token Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/token-details":{"get":{"operationId":"token_details","summary":"Core metrics for any listed token — price, market cap, volume, supply and basic stats — in one clean call.","description":"Token price, market cap, volume, supply, and basic metrics. Works for any listed token.","tags":["Market & Token Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"parameters":[{"name":"symbol","in":"query","required":true,"description":"Token symbol (e.g., BTC, ETH, SOL)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/token-alpha":{"get":{"operationId":"token_alpha","summary":"Why a token is moving: price metrics, news, X sentiment and futures data fused into one premium intelligence read.","description":"Premium token intelligence: price metrics, news, Twitter sentiment, and futures data. Find out why your token is moving.","tags":["Market & Token Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.005"}},"parameters":[{"name":"symbol","in":"query","required":true,"description":"Token symbol (e.g., BTC, ETH, SOL)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/kol-sentiment":{"get":{"operationId":"kol_sentiment","summary":"KOL sentiment and trading alpha from the top 50 crypto influencers: real trading signals, trending token picks and overall mood.","description":"Premium alpha from top 50 crypto KOLs. Real trading signals, trending token picks, and sentiment from influencers who move markets.","tags":["Market & Token Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.003"}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/yield-alpha":{"get":{"operationId":"yield_alpha","summary":"Best DeFi yield across stablecoins, ETH and BTC with risk ratings and side-by-side APY comparisons.","description":"Best DeFi yield opportunities across stablecoins, ETH, and BTC with risk ratings and APY comparisons.","tags":["DeFi & Markets Data"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.002"}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/trending-altcoins":{"get":{"operationId":"trending_altcoins","summary":"The 3 hottest altcoins right now, surfaced from live news and X analysis — a fast momentum read (DYOR).","description":"Top 3 hottest altcoins traders may want to ape into, based on news and Twitter analysis. DYOR.","tags":["Market & Token Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.002"}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/mega-report":{"get":{"operationId":"mega_report","summary":"Otto's daily Alpha & Intel Report in one call: headlines, X sentiment, KOL alpha, trending altcoins and yield.","description":"Alpha & Intel Report — daily crypto market intelligence: headlines, Twitter sentiment, KOL alpha, trending altcoins, and yield opportunities in one report.","tags":["Market & Token Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.05"}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/token-security":{"get":{"operationId":"token_security","summary":"Honeypot, rug-pull and scam detection for any token contract — flags can’t-sell traps, hidden mints, taxes and concentration (GoPlus, 8 chains).","description":"Token security scanner — is this token safe to buy? Honeypot, rug-pull, and scam detection for any token contract — flags can't-sell traps, hidden mints, malicious buy/sell taxes, and holder concentration. Powered by GoPlus across 8 chains.","tags":["Market & Token Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"parameters":[{"name":"address","in":"query","required":true,"description":"Token contract address (0x-prefixed)","schema":{"type":"string"}},{"name":"chain","in":"query","required":false,"description":"Chain ID or name, case-insensitive. IDs: 1 (Ethereum), 10 (Optimism), 56 (BSC), 137 (Polygon), 196 (X Layer), 8453 (Base), 42161 (Arbitrum), 43114 (Avalanche). Names also accepted: ethereum/eth, optimism, bsc/bnb, polygon/matic, xlayer/x-layer, base, arbitrum, avalanche/avax. Default: 8453 (Base).","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/funding-rates":{"get":{"operationId":"funding_rates","summary":"Cross-venue perp funding and crowded-positioning radar: rates, open interest, long/short ratios, whale positions and liquidations.","description":"Cross-venue funding-rate arbitrage + crowded-positioning radar: live perp funding rates, open interest, global & top-trader long/short ratios, whale positions, and liquidations across Binance, OKX, Bybit, Hyperliquid, and more. Omit symbol for the whole-market overview; pass one (e.g. BTC) for the per-exchange breakdown. (Hyperliquid-only perp data: use hyperliquid-market.)","tags":["DeFi & Markets Data"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Token symbol for detailed view (omit for market overview)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/defi-analytics":{"get":{"operationId":"defi_analytics","summary":"Where DeFi capital is flowing: TVL rankings, fastest-growing vs bleeding protocols, chain breakdown and per-protocol deep dives (DefiLlama).","description":"Where DeFi capital is flowing — TVL rankings, fastest-growing vs bleeding protocols, chain-by-chain breakdown, and per-protocol deep dives. Track capital rotation and protocol health. Powered by DefiLlama.","tags":["DeFi & Markets Data"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"parameters":[{"name":"protocol","in":"query","required":false,"description":"Protocol slug (e.g., aave, lido, uniswap)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/tradfi-data":{"get":{"operationId":"tradfi_data","summary":"TradFi macro in one call: indices, VIX, DXY, treasury yields and commodities, plus individual stock quotes with moving-average context.","description":"TradFi macro intelligence: indices, VIX, DXY, treasury yields, commodities, and individual stock quotes with moving average context.","tags":["DeFi & Markets Data"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.003"}},"parameters":[{"name":"symbol","in":"query","required":false,"description":"Ticker symbol for stock quote (omit for macro dashboard)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/generate-meme":{"post":{"operationId":"generate_meme","summary":"Professional AI image and meme generation via fal.ai (gpt-image-2 or nano-banana-pro), with image editing from a public URL.","description":"AI image generation and editing via fal.ai, including memes. model: gpt-image-2 (default) | nano-banana-pro; anything else -> 400. Flat $0.15 per image. Supports image editing via public image URL.","tags":["AI Creative & Tools"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.15"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","description":"Description of the image to generate (100+ chars yields best results)"},"model":{"type":"string","enum":["gpt-image-2","nano-banana-pro"],"description":"model: gpt-image-2 (default) | nano-banana-pro; anything else -> 400"},"image_url":{"type":"string","description":"Optional: public HTTPS URL of image to edit/remix"},"aspect_ratio":{"type":"string","enum":["1:1","16:9","9:16"],"description":"Aspect ratio (default: 1:1)"}},"required":["prompt"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}},"get":{"operationId":"generate_meme_get","summary":"Professional AI image and meme generation via fal.ai (gpt-image-2 or nano-banana-pro), with image editing from a public URL.","description":"AI image generation and editing via fal.ai, including memes. model: gpt-image-2 (default) | nano-banana-pro; anything else -> 400. Flat $0.15 per image. Supports image editing via public image URL.","tags":["AI Creative & Tools"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.15"}},"parameters":[{"name":"prompt","in":"query","required":true,"description":"Description of the image to generate (100+ chars yields best results)","schema":{"type":"string"}},{"name":"model","in":"query","required":false,"description":"model: gpt-image-2 (default) | nano-banana-pro; anything else -> 400","schema":{"type":"string","enum":["gpt-image-2","nano-banana-pro"]}},{"name":"image_url","in":"query","required":false,"description":"Optional: public HTTPS URL of image to edit/remix","schema":{"type":"string"}},{"name":"aspect_ratio","in":"query","required":false,"description":"Aspect ratio (default: 1:1)","schema":{"type":"string","enum":["1:1","16:9","9:16"]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/llm-research":{"post":{"operationId":"llm_research","summary":"Instant AI research on any topic — Gemini with live Google Search grounding and cited sources; reads images and URLs too.","description":"Instant AI research on any topic powered by Gemini 3.5 Flash with live Google Search grounding — answers come with cited sources. Ask about science, tech, crypto, history, or anything else. Can analyze images and summarize webpages from URLs. Max 180 character prompts. $0.10 per query.","tags":["AI Creative & Tools"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.10"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","description":"Research question (max 180 chars)"},"url":{"type":"string","description":"Optional: URL to analyze or summarize"}},"required":["prompt"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}},"get":{"operationId":"llm_research_get","summary":"Instant AI research on any topic — Gemini with live Google Search grounding and cited sources; reads images and URLs too.","description":"Instant AI research on any topic powered by Gemini 3.5 Flash with live Google Search grounding — answers come with cited sources. Ask about science, tech, crypto, history, or anything else. Can analyze images and summarize webpages from URLs. Max 180 character prompts. $0.10 per query.","tags":["AI Creative & Tools"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.10"}},"parameters":[{"name":"prompt","in":"query","required":true,"description":"Research question (max 180 chars)","schema":{"type":"string"}},{"name":"url","in":"query","required":false,"description":"Optional: URL to analyze or summarize","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/tx-explainer":{"post":{"operationId":"tx_explainer","summary":"Decode and explain any EVM transaction across 11 chains — a human-readable read of swaps, transfers, approvals and DeFi actions.","description":"Decode and explain any EVM blockchain transaction across 11 chains (Base, Ethereum, Arbitrum, Optimism, Avalanche, Polygon, Mantle, Monad, Plasma, BSC, Hyperliquid). Get a human-readable summary of swaps, transfers, approvals, DeFi interactions, and more.","tags":["AI Creative & Tools"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.01"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"txHash":{"type":"string","description":"Transaction hash (0x-prefixed, 64 hex characters)"},"chain":{"type":"string","description":"Chain name (e.g., base, ethereum, arbitrum) — optional, auto-detected if omitted"},"outputLevel":{"type":"string","enum":["summary","detailed"],"description":"Verbosity — 'summary' (default) = one-liner; 'detailed' = full breakdown"}},"required":["txHash"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}},"get":{"operationId":"tx_explainer_get","summary":"Decode and explain any EVM transaction across 11 chains — a human-readable read of swaps, transfers, approvals and DeFi actions.","description":"Decode and explain any EVM blockchain transaction across 11 chains (Base, Ethereum, Arbitrum, Optimism, Avalanche, Polygon, Mantle, Monad, Plasma, BSC, Hyperliquid). Get a human-readable summary of swaps, transfers, approvals, DeFi interactions, and more.","tags":["AI Creative & Tools"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.01"}},"parameters":[{"name":"txHash","in":"query","required":true,"description":"Transaction hash (0x-prefixed, 64 hex characters)","schema":{"type":"string"}},{"name":"chain","in":"query","required":false,"description":"Chain name (e.g., base, ethereum, arbitrum) — optional, auto-detected if omitted","schema":{"type":"string"}},{"name":"outputLevel","in":"query","required":false,"description":"Verbosity — 'summary' (default) = one-liner; 'detailed' = full breakdown","schema":{"type":"string","enum":["summary","detailed"]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/video-gen":{"post":{"operationId":"video_gen","summary":"AI video generation via fal.ai — Seedance 2.0 by default, Sora 2 and Veo 3.1 optional; text-to-video and image-to-video, priced per request.","description":"AI video generation via fal.ai — default model: ByteDance Seedance 2.0. Alternatives: fal-ai/sora-2/text-to-video, fal-ai/veo3.1. Dynamic pricing per request: at-cost fal.ai rate + 15% margin (floor $0.05); the advertised price is the Seedance 5s reference quote — the actual quote is returned per request. Supports text-to-video and image-to-video.","tags":["AI Creative & Tools"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"range","networks":["base"],"price":{"mode":"dynamic","currency":"USD","min":"0.46","max":"4.60"},"minPrice":"0.46","maxPrice":"4.60"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"type":"string","description":"Video description (20-1000 chars)"},"model":{"type":"string","enum":["seedance-2.0","sora-2","veo-3.1"],"description":"Video model (default: seedance-2.0)"},"duration":{"type":"number","description":"Duration in seconds (4-10, per-model caps enforced)"},"aspect_ratio":{"type":"string","enum":["16:9","9:16","1:1"],"description":"Aspect ratio (default: 16:9)"},"image_url":{"type":"string","description":"Optional: public HTTPS URL for image-to-video (seedance-2.0 and sora-2 only)"}},"required":["prompt","duration"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/portfolio":{"get":{"operationId":"portfolio","summary":"Multi-chain portfolio snapshot for an Otto Safe: token balances and yield positions across 7 chains including Base, Ethereum and Solana.","description":"Multi-chain portfolio snapshot with token balances and yield positions for a user's Otto AI Safe accounts across Base, Ethereum, Arbitrum, Polygon, BSC, Avalanche, and Solana.","tags":["Portfolio & Accounts"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"parameters":[{"name":"userId","in":"query","required":true,"description":"Wallet address (0x-prefixed)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/transaction-history":{"get":{"operationId":"transaction_history","summary":"Trade and transaction history for an Otto Safe — swaps, bridges, deposits and withdrawals with timestamps and explorer links.","description":"Trade and transaction history for a user's Otto AI Safe account — swaps, bridges, deposits, withdrawals with timestamps and explorer links.","tags":["Portfolio & Accounts"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"parameters":[{"name":"userId","in":"query","required":true,"description":"Wallet address (0x-prefixed)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/supported-tokens":{"get":{"operationId":"supported_tokens","summary":"Search 5,000+ supported ERC-20 tokens by symbol or address across 6 chains — disambiguate a token before a swap or bridge.","description":"Search supported ERC-20 tokens by symbol or address across 6 chains (Base, Ethereum, Arbitrum, Polygon, BSC, Avalanche). 5000+ tokens from CoinGecko. Use before swap/bridge to disambiguate tokens.","tags":["Portfolio & Accounts"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"parameters":[{"name":"search","in":"query","required":false,"description":"Token symbol to search (e.g., USDC)","schema":{"type":"string"}},{"name":"chainId","in":"query","required":false,"description":"Chain ID to search on","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/hyperliquid-account":{"get":{"operationId":"hyperliquid_account","summary":"Read-only legacy Hyperliquid recovery snapshot: existing positions, margin, collateral and active orders. New trading is retired.","description":"Read-only legacy Hyperliquid recovery snapshot with existing positions, margin, collateral and active orders. Otto Hyperliquid trading is retired; this read does not enable new trades or deposits.","tags":["Portfolio & Accounts"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"parameters":[{"name":"address","in":"query","required":true,"description":"Wallet address (0x-prefixed)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/hyperliquid-market":{"get":{"operationId":"hyperliquid_market","summary":"Hyperliquid market data for any asset: live mark and oracle price, funding rate, open interest, max leverage and size specs.","description":"Hyperliquid perpetuals market data: live mark/oracle price, funding rate, open interest, max leverage, and size specs for any tradable asset.","tags":["DeFi & Markets Data"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"parameters":[{"name":"asset","in":"query","required":true,"description":"Asset symbol (e.g., BTC, ETH)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/hl-transaction-history":{"get":{"operationId":"hl_transaction_history","summary":"Hyperliquid trading history: fills, funding payments and realized PnL, broken out per position.","description":"Hyperliquid perpetual trading history: fills, funding payments, and realized PnL per position.","tags":["Portfolio & Accounts"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"parameters":[{"name":"address","in":"query","required":true,"description":"Wallet address (0x-prefixed)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/yield-markets":{"get":{"operationId":"yield_markets","summary":"Live DeFi lending yields across Aave V3 and Morpho — best stablecoin and ETH APYs with TVL and market addresses for idle capital.","description":"DeFi yield farming markets with live APYs across Aave V3 and Morpho on Base, Ethereum, and other major chains. Find the best stablecoin yield (USDC) and ETH yield for idle capital: returns supply APY, TVL, and vault/market addresses per token, filterable by protocol, chain, or token symbol. Compare DeFi yield rates across lending markets and vaults before depositing.","tags":["DeFi & Markets Data"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/yield-farming-active":{"get":{"operationId":"yield_farming_active","summary":"A user's active yield-farming positions across Aave V3 and Morpho on every supported chain, with live APY and accrued interest.","description":"Active yield farming positions for a user across Aave V3 and Morpho on all supported chains, with live APY and accrued interest.","tags":["Portfolio & Accounts"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"parameters":[{"name":"userAddress","in":"query","required":true,"description":"Wallet address (0x-prefixed)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/yield-farming-historical":{"get":{"operationId":"yield_farming_historical","summary":"A user's closed yield-farming positions across all protocols and chains, with realized yield and exit timestamps.","description":"Historical (closed) yield farming positions for a user across all protocols and chains, with realized yield and exit timestamps.","tags":["Portfolio & Accounts"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"parameters":[{"name":"userAddress","in":"query","required":true,"description":"Wallet address (0x-prefixed)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/yield-recommendations":{"get":{"operationId":"yield_recommendations","summary":"Best-available stablecoin deposit venues ranked by net supply APY — the top deployable market per stablecoin (protocol, chain, target).","description":"Best-available stablecoin deposit venues ranked by net supply APY — Otto's yield-copilot reads supported on-chain lending markets directly and returns the top deployable venue per stablecoin (protocol, chain, APY, deposit target). Best-available across the market, not wallet-personalized.","tags":["Portfolio & Accounts"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"parameters":[{"name":"userAddress","in":"query","required":false,"description":"Wallet address (0x-prefixed, optional — ignored for the best-available ranking)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/swap":{"post":{"operationId":"swap","summary":"Execute same-chain ERC-20 swaps through LI.FI DEX aggregation across Base, Ethereum, Solana and four more chains.","description":"Execute instant same-chain ERC-20 swaps through DEX aggregation via LI.FI. Supports Base, Ethereum, Polygon, BSC, Arbitrum, Avalanche, and Solana. Routes across supported DEXes and liquidity sources.","tags":["Execution"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base"],"price":{"mode":"fixed","currency":"USD","amount":"0.01"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromSymbol":{"type":"string","description":"FROM token: a known symbol (e.g. USDC) OR a 0x contract address, resolved on chainId. Ambiguous symbols → HTTP 400 with candidate addresses."},"toSymbol":{"type":"string","description":"TO token: a known symbol (e.g. WETH — use WETH, not native ETH) OR a 0x contract address."},"amount":{"type":"string","description":"Amount of the FROM token to sell (human-readable). Decimals are derived server-side — do NOT send decimals."},"chainId":{"type":"number","description":"Chain ID (8453=Base, 1=Ethereum, 42161=Arbitrum)"},"fromTokenAddress":{"type":"string","description":"Optional FROM token contract address (alternative to fromSymbol; disagreeing address+symbol is rejected)."},"toTokenAddress":{"type":"string","description":"Optional TO token contract address (alternative to toSymbol)."}},"required":["fromSymbol","toSymbol","amount"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/bridge":{"post":{"operationId":"bridge","summary":"Bridge tokens cross-chain via LI.FI with best-route execution across Base, Ethereum, Arbitrum, Solana and more.","description":"Cross-chain token bridging via LiFi aggregator. Move tokens between Base, Ethereum, Arbitrum, Optimism, Polygon, BSC, Avalanche, and Solana with best-route execution across all major bridges.","tags":["Execution"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base"],"price":{"mode":"fixed","currency":"USD","amount":"0.01"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fromSymbol":{"type":"string","description":"Source token: a known symbol OR a 0x contract address, resolved on the SOURCE chain. Ambiguous symbols → HTTP 400 with candidates."},"toSymbol":{"type":"string","description":"Destination token: a known symbol OR a 0x contract address, resolved on the DESTINATION chain."},"amount":{"type":"string","description":"Amount to bridge (human-readable). Decimals are derived server-side — do NOT send decimals."},"fromChainId":{"type":"number","description":"Source chain ID"},"toChainId":{"type":"number","description":"Destination chain ID"},"fromTokenAddress":{"type":"string","description":"Optional source token contract address (alternative to fromSymbol)."},"toTokenAddress":{"type":"string","description":"Optional destination token contract address (alternative to toSymbol)."}},"required":["fromSymbol","toSymbol","amount","fromChainId","toChainId"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/withdraw":{"post":{"operationId":"withdraw","summary":"Withdraw tokens from an Otto Safe to any EOA across 7 chains; non-Base chains require an explicit recipient address.","description":"Withdraw tokens from a user's Otto AI Safe to any EOA. Supports 7 chains (Base, Polygon, Arbitrum, Ethereum, BSC, Avalanche, Solana). Non-Base chains require an explicit EOA recipient.","tags":["Execution"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base"],"price":{"mode":"fixed","currency":"USD","amount":"0.01"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tokenSymbol":{"type":"string","description":"Token to withdraw: a known symbol (e.g. USDC) OR a 0x contract address, resolved on the given chain. Ambiguous symbols → HTTP 400 with candidates."},"amount":{"type":"string","description":"Amount to withdraw (human-readable). Decimals are derived server-side — do NOT send decimals."},"chainId":{"type":"number","description":"Chain ID (8453=Base default, 137, 42161, 56, 1, 43114, 1151111081099710)."},"tokenAddress":{"type":"string","description":"Optional token contract address (alternative to tokenSymbol; disagreeing address+symbol is rejected)."},"recipientAddress":{"type":"string","description":"Destination EOA. Defaults to the verified payer's own wallet; a different destination requires an EIP-712 signed withdraw intent. REQUIRED on non-Base chains."}},"required":["tokenSymbol","amount","chainId"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/deposit":{"post":{"operationId":"deposit","summary":"Deposit USDC into your non-custodial Otto Safe on Base — the deposit amount is paid via x402 plus a flat service fee.","description":"Deposit USDC into your non-custodial Otto AI Safe on Base. Dynamic price per request = deposit amount + $0.01 service fee (the amount you deposit is paid via x402). The $0.01 shown here is the floor service fee for discovery only.","tags":["Execution"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"quote","networks":["base"],"price":{"mode":"dynamic","currency":"USD","min":"0.01"},"minPrice":"0.01"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"userAddress":{"type":"string","description":"User wallet address (0x-prefixed)"},"amount":{"type":"string","description":"Amount of USDC to deposit (human-readable units, 0–100000)"},"chainId":{"type":"number","description":"Chain ID (default 8453=Base)"}},"required":["userAddress","amount"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/token-top-holders":{"get":{"operationId":"token_top_holders","summary":"Top holders of any Base ERC-20 with computed concentration (top 1/5/10/20% and contract-held) and an optional whale-risk read.","description":"Top holders for any Base ERC-20 (via Moralis), with computed concentration (top1/5/10/20% + contract-held%) and optional whale-risk read. Curated hot set refreshed hourly; long-tail tokens write-through on first call.","tags":["Market & Token Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.02"}},"parameters":[{"name":"token","in":"query","required":true,"description":"ERC-20 contract address on Base (0x-prefixed, 42 chars). Common symbols also accepted as shorthand: weth, usdc, cbbtc, cbxrp, cbdoge, usol.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/stablecoin-watch":{"get":{"operationId":"stablecoin_watch","summary":"Is the peg holding? Live depeg deviation (bps), supply and 1d/7d/30d flows, dominance and depeg alerts for the top 30 stablecoins.","description":"Is USDC/USDT/DAI holding its $1 peg, and is stablecoin supply growing or shrinking (risk-on vs risk-off)? Live peg deviation (bps), circulating supply + 1d/7d/30d flow, market dominance and chain spread for the top 30 USD stablecoins, plus downside depeg alerts for any coin trading >0.5% below peg. Sourced from DefiLlama (public). Served from a cached snapshot while fresh (≤1h) and regenerated on demand when a read finds it stale.","tags":["DeFi & Markets Data"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/market-risk":{"get":{"operationId":"market_risk","summary":"Is anything breaking? A 0-100 market-stress score blending stablecoin depeg health and Base exit-liquidity, with a per-leg AI read.","description":"Composite crypto market-stress digest: a 0-100 score (low/moderate/elevated/high) blended from global USD-stablecoin depeg health (DefiLlama) and Base on-chain DEX exit-liquidity, with a per-leg breakdown and an AI risk line. Stablecoin systemic + Base liquidity microstructure only (not derivatives/sentiment). Both legs required for a score. Every read older than an hour regenerates the score inline (the buyer waits a few seconds) — never an older reading; public sources, pay-per-call.","tags":["DeFi & Markets Data"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.002"}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/protocol-revenue-leaders":{"get":{"operationId":"protocol_revenue_leaders","summary":"Which DeFi protocols actually make money: top 30 by 24h fees with revenue, take-rate and 7d/30d trend — a fundamentals screen, not TVL.","description":"Which protocols earn the most — and who is accelerating? Top 30 DeFi protocols by 24h fees, each with revenue, take-rate (the cut the protocol keeps vs fees users pay), 7d/30d trend and category, plus total DeFi fees & revenue. A fundamentals screen (fee/revenue economics), distinct from TVL. Sourced from DefiLlama (public). Served from a cached snapshot while fresh (DefiLlama fees are daily aggregates) and regenerated on demand when a read finds it stale.","tags":["DeFi & Markets Data"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/equity-intel":{"get":{"operationId":"equity_intel","summary":"US-equity fundamentals for a ticker — revenue, income, margins, EPS, balance sheet — plus recent 10-K/10-Q/8-K with an AI read (SEC EDGAR).","description":"SEC filings and company fundamentals by US-listed ticker: revenue, net income, YoY growth, margin, EPS, assets, liabilities, leverage and cash, plus recent 10-K, 10-Q and 8-K filing links and an AI analysis. SEC EDGAR source; missing issuer financials are disclosed. Fundamentals and filing research, not a stock-price feed.","tags":["DeFi & Markets Data"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.003"}},"parameters":[{"name":"ticker","in":"query","required":true,"description":"US stock ticker, e.g. NVDA, AAPL, JPM","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/financial-statements":{"get":{"operationId":"financial_statements","summary":"Full SEC statements by ticker — income, balance sheet, cash flow, 5 periods annual + quarterly, every figure tagged to its filing.","description":"Financial statements by ticker — the full SEC statement set for any US-listed company: income statement, balance sheet and cash flow, five fiscal periods deep on both an annual and a quarterly basis. Every figure names the XBRL concept it was filed under, the filing and date it came from, and whether it was filed, reconstructed from year-to-date figures or computed from named lines; a period a later filing restated is flagged with the earlier value; a period the filer did not tag is an explicit null, never carried forward. Plus the SEC filing index: 10-K, 10-Q and 8-K with the 8-K item codes and EDGAR links. Public-domain SEC EDGAR. $0.003 per call.","tags":["DeFi & Markets Data"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.003"}},"parameters":[{"name":"ticker","in":"query","required":true,"description":"US-listed stock ticker symbol (e.g. AAPL, NVDA, TSLA)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/earnings-calendar":{"get":{"operationId":"earnings_calendar","summary":"Equity earnings dates and surprises: next report date, EPS and revenue estimates, latest EPS vs estimate and four quarters of history.","description":"Earnings calendar and surprise history for a vendor-resolved equity: next report date/session with EPS and revenue estimates, latest reported EPS versus estimate, surprise percentage, and four-quarter history. Monetary estimates retain Finnhub payload units because the captured feed does not identify a currency. Event-window price drift is explicitly unavailable rather than inferred.","tags":["DeFi & Markets Data"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.003"}},"parameters":[{"name":"ticker","in":"query","required":true,"description":"Vendor-supported equity or ETF ticker (e.g. AAPL, NVDA, TSLA, SPY); returned monetary values use vendor payload units and are not relabeled as USD.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/analyst-ratings":{"get":{"operationId":"analyst_ratings","summary":"Analyst consensus for a ticker — buy/hold/sell distribution with a consensus label and up to six months of drift to read the street's direction.","description":"Analyst consensus for a vendor-resolved equity: the latest buy/hold/sell distribution (strong buy · buy · hold · sell · strong sell counts, total, and a deterministic consensus label) plus up to six months of the same distribution so an agent can read the drift — is the street moving toward or away from the name. Vendor counts (Finnhub), label rule stated in the payload. No price targets and no per-analyst grade actions are served.","tags":["DeFi & Markets Data"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.003"}},"parameters":[{"name":"ticker","in":"query","required":true,"description":"Vendor-supported equity ticker (e.g. AAPL, NVDA, AVGO); counts are the vendor's monthly recommendation trend.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/equity-news":{"get":{"operationId":"equity_news","summary":"Licensed company headlines for a ticker over the last 7 days, each tagged primary or mentioned so off-topic stories don’t leak in.","description":"Latest company news for a vendor-resolved equity: licensed Finnhub headlines from the trailing seven days with publication time, source, and summary. Only articles that name the company are served — labelled `primary` when the headline names it, `mentioned` when only the summary does — so a symbol-tagged story about another company never fills the list. Redirect URLs withheld; no sentiment is fabricated.","tags":["DeFi & Markets Data"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.003"}},"parameters":[{"name":"ticker","in":"query","required":true,"description":"Vendor-supported equity or ETF ticker (e.g. AAPL, NVDA, TSLA, SPY); returned monetary values use vendor payload units and are not relabeled as USD.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/dividend-intel":{"get":{"operationId":"dividend_intel","summary":"Cash-dividend intel for a ticker: TTM dividend and yield, split-adjusted growth, the last 8 payments and a cut-detection checklist (Tiingo).","description":"Cash-dividend intelligence for a vendor-resolved equity from licensed Tiingo end-of-day history: TTM dividend/share and yield against the latest close, latest dividend, split-adjusted complete-year growth, the last eight payments, split events, and a cut-detection checklist with explicit coverage. Payout ratio, forward ex-dates and declaration/record/payment dates are not served (not in the Tiingo feed). Cash values retain Tiingo payload units because the feed does not identify a currency.","tags":["DeFi & Markets Data"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.003"}},"parameters":[{"name":"ticker","in":"query","required":true,"description":"Vendor-supported equity or ETF ticker (e.g. AAPL, NVDA, TSLA, SPY); returned monetary values use vendor payload units and are not relabeled as USD.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/macro-regime":{"get":{"operationId":"macro_regime","summary":"Daily US macro regime: 10-year yield, fed funds rate, three-month changes, CPI and YoY inflation with a rates/inflation direction label.","description":"Daily US macro-regime snapshot from licensed Alpha Vantage series: 10-year Treasury yield, effective federal funds rate, three-month rate changes, CPI index and YoY inflation, plus a mechanical rates-direction/inflation-direction label with disclosed thresholds. Three upstream calls per daily refresh; scanner context only.","tags":["DeFi & Markets Data"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.003"}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/technical-signals":{"get":{"operationId":"technical_signals","summary":"Daily equity technicals: RSI-14, 20-session momentum, SMA-20/50 with distance-from-average, trend state and the latest golden/death cross.","description":"Daily technical snapshot for a vendor-resolved equity from licensed Tiingo adjusted closes: Wilder RSI-14, 20-session momentum, SMA-20/SMA-50, price distance from each average, above/below/mixed trend state, and the latest observed golden/death cross. Price and averages retain Tiingo payload units because the captured feed does not identify a currency.","tags":["DeFi & Markets Data"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.003"}},"parameters":[{"name":"ticker","in":"query","required":true,"description":"Vendor-supported equity or ETF ticker (e.g. AAPL, NVDA, TSLA, SPY); returned monetary values use vendor payload units and are not relabeled as USD.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/dns-lookup":{"get":{"operationId":"dns_lookup","summary":"Resolve any domain in one call — A/AAAA, MX, NS, CNAME, SOA, TXT plus parsed SPF/DMARC/DKIM email-auth posture (over DoH).","description":"Resolve any domain in one call: A/AAAA, MX, NS, CNAME, SOA and TXT records, plus parsed email-auth posture — SPF policy, DMARC policy, and detected DKIM selectors. A drop-in nslookup/dig replacement for agents, resolved over DNS-over-HTTPS (DoH) with redundant resolvers and automatic failover. Keyless, pay-per-call, structured JSON.","tags":["Web & Domain Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"parameters":[{"name":"domain","in":"query","required":true,"description":"Domain to resolve, e.g. github.com (subdomains allowed)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/whois-lookup":{"get":{"operationId":"whois_lookup","summary":"Registration data for any domain from authoritative RDAP: registrar, status codes, creation/expiry dates, nameservers and DNSSEC.","description":"Registration data for any domain, straight from authoritative RDAP registries (the structured WHOIS successor): registrar, ICANN/EPP domain status codes, creation, last-updated and expiration dates, authoritative nameservers, and DNSSEC delegation. The fast, license-clean way for an agent to vet a domain, sender, or counterparty. Keyless, structured JSON, pay-per-call.","tags":["Web & Domain Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"parameters":[{"name":"domain","in":"query","required":true,"description":"Registrable domain to look up, e.g. stripe.com","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/domain-age":{"get":{"operationId":"domain_age","summary":"How old is a domain? Creation date, age in days and years, and expiry — a fast trust signal for vetting a link, sender or counterparty.","description":"Domain age and registration intel from authoritative RDAP/WHOIS records: exact creation date, age in days and years, expiration date and days-until-expiry. The fast trust and risk signal agents use to vet a counterparty, link, or sender and to flag newly-registered or soon-to-expire domains. Returns structured JSON, keyless, pay-per-call. ccTLDs without RDAP return an uncharged 503.","tags":["Web & Domain Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"parameters":[{"name":"domain","in":"query","required":true,"description":"Registrable domain to check, e.g. coinbase.com","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/domain-report":{"get":{"operationId":"domain_report","summary":"One-call domain profile for vetting or phishing checks: live DNS, RDAP registration and SPF/DMARC/DKIM email auth bundled into one read.","description":"One call returns the full domain profile for vetting, deliverability, or phishing/fraud checks: live DNS (A/MX/NS + record counts), RDAP/WHOIS registration (registrar, domain age, expiry, status, DNSSEC) and email authentication (SPF, DMARC policy, detected DKIM selectors) — plus a one-line summary. Bundles three lookups into one hourly-fresh read. Keyless, license-clean, pay-per-call.","tags":["Web & Domain Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.02"}},"parameters":[{"name":"domain","in":"query","required":true,"description":"Domain to profile, e.g. uniswap.org","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/web-extract":{"get":{"operationId":"web_extract","summary":"Turn any URL into clean, LLM-ready markdown — main article extracted, nav and ads stripped; renders JavaScript pages and PDFs.","description":"Turn any URL into clean, LLM-ready markdown — the main article extracted, nav/ads/boilerplate stripped, plus title, description and publish date. Renders JavaScript pages, articles, docs and PDFs. A keyless, pay-per-call web reader for agents that read the web on demand: RAG ingestion, research and summarization. Structured JSON, cached by URL for fast repeat reads.","tags":["Web & Domain Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.005"}},"parameters":[{"name":"url","in":"query","required":true,"description":"Public http(s) URL to read, e.g. https://example.com (renders JS + PDFs)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","failed"]},"data":{"type":"object","description":"Service-specific response data"}},"required":["status"]}}}},"402":{"description":"Payment Required"}}}},"/web-links":{"get":{"operationId":"web_links","summary":"Extract every link from a page as deduped JSON — internal, external and anchors, including links injected after JavaScript runs.","description":"Extract all links (hrefs) from any web page as structured JSON — every internal, external and anchor link, deduplicated, returned with a total count. Renders the page in a real headless browser, so it captures links injected after JavaScript runs that fetch-only scrapers miss. For crawling, sitemap building, link audits and site-structure mapping. Keyless, pay-per-call.","tags":["Web & Domain Intelligence"],"x-payment-info":{"protocols":[{"x402":{}}],"pricingMode":"fixed","networks":["base","solana"],"price":{"mode":"fixed","currency":"USD","amount":"0.003"}},"parameters":[{"name":"url","in":"query","required":true,"description":"Public http(s) URL to extract links from, e.g. https://example.com","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["s
[...]
