{"openapi":"3.1.0","info":{"title":"People Data Labs API","description":"Pay-per-request access to People Data Labs person and company enrichment and search APIs. No auth, no subscriptions.","version":"1.0.0","x-guidance":"# People Data Labs API Reference\n## Authentication\n\nAll endpoints require micropayment. Include payment headers as per the HTTP 402 specification. Payments are processed on Base mainnet (eip155:8453), Solana, or Tempo.\n\n## Agent Workflow (Progressive)\n\n1. Discover candidate endpoints with `mcp__agentcash__discover_api_endpoints`.\n2. For selected POST/PUT/PATCH endpoints, call `mcp__agentcash__check_endpoint_schema` before first fetch.\n3. Execute with `mcp__agentcash__fetch`.\n\n## Enrich Endpoint Pricing\n\n- **Person enrich**: $0.28 per match — free on miss (HTTP 200, `data: null`)\n- **Company enrich**: $0.10 per match — free on miss (HTTP 200, `status: 404`, `id: null`)\n\n## Search Endpoint Pricing\n\n`/api/pdl/person/search` and `/api/pdl/company/search` quote `size × rate`:\n\n- **Person search**: $0.28 × `size` (e.g. `size: 5` = $1.40, max `size: 100` = $28.00)\n- **Company search**: $0.10 × `size` (e.g. `size: 5` = $0.50, max `size: 100` = $10.00)\n\nFree when `data` is empty. **Recommended `size`: 1-5.** Use `scroll_token` to paginate further only if you need more results after reviewing the first batch.\n\nAlways call `mcp__agentcash__check_endpoint_schema` with your intended request body to get an exact USD quote before `mcp__agentcash__fetch`.\n","contact":{"name":"Merit Systems","url":"https://stablepeopledata.dev","email":"support@merit.systems","x-agentcash-owner":"merit_systems"}},"servers":[{"url":"https://stablepeopledata.dev"}],"tags":[{"name":"Pdl"}],"paths":{"/api/pdl/company/enrich":{"post":{"operationId":"pdl_company_enrich","summary":"PDL Company Enrich - Enrich a company record with firmographics, industry codes, funding, and social profiles. Supports lookup by name, website, ticker, LinkedIn, or PDL ID.","tags":["Pdl"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.100000"},"protocols":[{"x402":{}},{"mpp":{"method":"tempo","intent":"charge","currency":"0x20c000000000000000000000b9537d11c60e8b50"}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"pdl_id":{"description":"PDL company ID or LinkedIn slug","type":"string"},"name":{"description":"Company name","type":"string"},"website":{"description":"Company domain","type":"string"},"profile":{"description":"Social profile URL","type":"string"},"ticker":{"description":"Stock ticker symbol","type":"string"},"location":{"description":"HQ location (street address to country)","type":"string"},"street_address":{"description":"HQ street address","type":"string"},"locality":{"description":"HQ city","type":"string"},"region":{"description":"HQ state or province","type":"string"},"country":{"description":"HQ country","type":"string"},"postal_code":{"description":"HQ postal code","type":"string"},"min_likelihood":{"description":"Minimum confidence (1-10, default 2)","type":"integer","minimum":1,"maximum":10},"required":{"description":"Boolean expression of required fields","type":"string"},"data_include":{"description":"Fields to include/exclude","type":"string"},"include_if_matched":{"description":"Show matched input fields","type":"boolean"},"titlecase":{"description":"Titlecase text","type":"boolean"}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number"},"likelihood":{"type":"number"},"id":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"display_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"size":{"anyOf":[{"type":"string"},{"type":"null"}]},"employee_count":{"anyOf":[{"type":"number"},{"type":"null"}]},"industry":{"anyOf":[{"type":"string"},{"type":"null"}]},"founded":{"anyOf":[{"type":"number"},{"type":"null"}]},"tags":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"headline":{"anyOf":[{"type":"string"},{"type":"null"}]},"summary":{"anyOf":[{"type":"string"},{"type":"null"}]},"website":{"anyOf":[{"type":"string"},{"type":"null"}]},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"linkedin_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"facebook_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"twitter_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"type":{"anyOf":[{"type":"string"},{"type":"null"}]},"ticker":{"anyOf":[{"type":"string"},{"type":"null"}]},"location":{"anyOf":[{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"locality":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"metro":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]},"continent":{"anyOf":[{"type":"string"},{"type":"null"}]},"street_address":{"anyOf":[{"type":"string"},{"type":"null"}]},"address_line_2":{"anyOf":[{"type":"string"},{"type":"null"}]},"postal_code":{"anyOf":[{"type":"string"},{"type":"null"}]},"geo":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":{}},{"type":"null"}]},"profiles":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"naics":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"naics_code":{"anyOf":[{"type":"string"},{"type":"null"}]},"sector":{"anyOf":[{"type":"string"},{"type":"null"}]},"sub_sector":{"anyOf":[{"type":"string"},{"type":"null"}]},"industry_group":{"anyOf":[{"type":"string"},{"type":"null"}]},"naics_industry":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":{}}},{"type":"null"}]},"sic":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"sic_code":{"anyOf":[{"type":"string"},{"type":"null"}]},"major_group":{"anyOf":[{"type":"string"},{"type":"null"}]},"industry_group":{"anyOf":[{"type":"string"},{"type":"null"}]},"industry_sector":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":{}}},{"type":"null"}]},"alternative_names":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"alternative_domains":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"affiliated_profiles":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]}},"required":["status"],"additionalProperties":{}}}}},"402":{"description":"Payment Required"}}}},"/api/pdl/company/search":{"post":{"operationId":"pdl_company_search","summary":"PDL Company Search - Search across 30M+ company records using Elasticsearch DSL or SQL queries. Returns matching company records with pagination via scroll_token. Price scales with the requested `size` (1 PDL credit per result).","tags":["Pdl"],"x-payment-info":{"price":{"mode":"dynamic","currency":"USD","min":"0.10","max":"10.00"},"protocols":[{"x402":{}},{"mpp":{"method":"tempo","intent":"charge","currency":"0x20c000000000000000000000b9537d11c60e8b50"}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"description":"Elasticsearch v7.7 DSL query object","type":"object","propertyNames":{"type":"string"},"additionalProperties":{}},"sql":{"description":"SQL query: SELECT * FROM company WHERE ... Do not include LIMIT — use size for result count.","type":"string"},"size":{"description":"Batch size (1-100, default 1)","type":"integer","minimum":1,"maximum":100},"scroll_token":{"description":"Pagination token from previous response","type":"string"},"titlecase":{"description":"Titlecase text in response","type":"boolean"}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number"},"data":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"id":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"display_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"size":{"anyOf":[{"type":"string"},{"type":"null"}]},"employee_count":{"anyOf":[{"type":"number"},{"type":"null"}]},"industry":{"anyOf":[{"type":"string"},{"type":"null"}]},"founded":{"anyOf":[{"type":"number"},{"type":"null"}]},"tags":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"headline":{"anyOf":[{"type":"string"},{"type":"null"}]},"summary":{"anyOf":[{"type":"string"},{"type":"null"}]},"website":{"anyOf":[{"type":"string"},{"type":"null"}]},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"linkedin_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"facebook_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"twitter_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"type":{"anyOf":[{"type":"string"},{"type":"null"}]},"ticker":{"anyOf":[{"type":"string"},{"type":"null"}]},"location":{"anyOf":[{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"locality":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"metro":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]},"continent":{"anyOf":[{"type":"string"},{"type":"null"}]},"street_address":{"anyOf":[{"type":"string"},{"type":"null"}]},"address_line_2":{"anyOf":[{"type":"string"},{"type":"null"}]},"postal_code":{"anyOf":[{"type":"string"},{"type":"null"}]},"geo":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":{}},{"type":"null"}]},"profiles":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"naics":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"naics_code":{"anyOf":[{"type":"string"},{"type":"null"}]},"sector":{"anyOf":[{"type":"string"},{"type":"null"}]},"sub_sector":{"anyOf":[{"type":"string"},{"type":"null"}]},"industry_group":{"anyOf":[{"type":"string"},{"type":"null"}]},"naics_industry":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":{}}},{"type":"null"}]},"sic":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"sic_code":{"anyOf":[{"type":"string"},{"type":"null"}]},"major_group":{"anyOf":[{"type":"string"},{"type":"null"}]},"industry_group":{"anyOf":[{"type":"string"},{"type":"null"}]},"industry_sector":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":{}}},{"type":"null"}]},"alternative_names":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"alternative_domains":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"affiliated_profiles":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]}},"additionalProperties":{}}},{"type":"null"}]},"total":{"type":"number"},"scroll_token":{"anyOf":[{"type":"string"},{"type":"null"}]},"error":{"type":"object","properties":{"type":{"type":"string"},"message":{"type":"string"}},"additionalProperties":false}},"required":["status"],"additionalProperties":{}}}}},"402":{"description":"Payment Required"}}}},"/api/pdl/person/enrich":{"post":{"operationId":"pdl_person_enrich","summary":"PDL Person Enrich - Enrich a person record with demographics, work history, education, contact info, social profiles, and skills. Supports lookup by name, email, phone, LinkedIn, or PDL ID.","tags":["Pdl"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.280000"},"protocols":[{"x402":{}},{"mpp":{"method":"tempo","intent":"charge","currency":"0x20c000000000000000000000b9537d11c60e8b50"}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"pdl_id":{"description":"PDL persistent person ID","type":"string"},"name":{"description":"Full name (first + last)","type":"string"},"first_name":{"description":"First name","type":"string"},"last_name":{"description":"Last name","type":"string"},"middle_name":{"description":"Middle name","type":"string"},"location":{"description":"Residence location (street address to country)","type":"string"},"street_address":{"description":"Street address","type":"string"},"locality":{"description":"City","type":"string"},"region":{"description":"State or province","type":"string"},"country":{"description":"Country","type":"string"},"postal_code":{"description":"ZIP or postal code","type":"string"},"company":{"description":"Company name, website, or social URL","type":"string"},"school":{"description":"School name, website, or social URL","type":"string"},"phone":{"description":"Phone number (must start with +country_code)","type":"string"},"email":{"description":"Email address","type":"string"},"email_hash":{"description":"SHA-256 or MD5 email hash","type":"string"},"profile":{"description":"Social profile URL","type":"string"},"lid":{"description":"LinkedIn ID","type":"string"},"birth_date":{"description":"Birth date (YYYY or YYYY-MM-DD)","type":"string"},"min_likelihood":{"description":"Minimum confidence score (1-10, default 2)","type":"integer","minimum":1,"maximum":10},"required":{"description":"Boolean expression of required fields in the response","type":"string"},"data_include":{"description":"Comma-separated fields to include; prefix - to exclude","type":"string"},"include_if_matched":{"description":"Include list of matched query inputs","type":"boolean"},"titlecase":{"description":"Titlecase text in response","type":"boolean"}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number"},"likelihood":{"type":"number"},"data":{"anyOf":[{"type":"object","properties":{"id":{"anyOf":[{"type":"string"},{"type":"null"}]},"full_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"middle_initial":{"anyOf":[{"type":"string"},{"type":"null"}]},"middle_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"gender":{"anyOf":[{"type":"string"},{"type":"null"}]},"birth_year":{"anyOf":[{"type":"number"},{"type":"null"}]},"birth_date":{"anyOf":[{"type":"string"},{"type":"null"}]},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"linkedin_username":{"anyOf":[{"type":"string"},{"type":"null"}]},"linkedin_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"facebook_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"facebook_username":{"anyOf":[{"type":"string"},{"type":"null"}]},"facebook_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"twitter_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"twitter_username":{"anyOf":[{"type":"string"},{"type":"null"}]},"github_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"github_username":{"anyOf":[{"type":"string"},{"type":"null"}]},"work_email":{"anyOf":[{"type":"string"},{"type":"null"}]},"personal_emails":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"mobile_phone":{"anyOf":[{"type":"string"},{"type":"null"}]},"industry":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_title":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_title_role":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_title_sub_role":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_title_levels":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"job_company_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_company_size":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_company_industry":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_company_website":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_company_linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_company_location_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_start_date":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_locality":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_region":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_country":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_continent":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_street_address":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_postal_code":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_geo":{"anyOf":[{"type":"string"},{"type":"null"}]},"phone_numbers":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"emails":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"},"type":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["address"],"additionalProperties":false}},{"type":"null"}]},"interests":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"skills":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"location_names":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"regions":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"countries":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"street_addresses":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"locality":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]},"postal_code":{"anyOf":[{"type":"string"},{"type":"null"}]},"street_address":{"anyOf":[{"type":"string"},{"type":"null"}]},"address_line_2":{"anyOf":[{"type":"string"},{"type":"null"}]},"geo":{"anyOf":[{"type":"string"},{"type":"null"}]},"continent":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":{}}},{"type":"null"}]},"profiles":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"network":{"anyOf":[{"type":"string"},{"type":"null"}]},"id":{"anyOf":[{"type":"string"},{"type":"null"}]},"url":{"anyOf":[{"type":"string"},{"type":"null"}]},"username":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":{}}},{"type":"null"}]},"experience":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"company":{"anyOf":[{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"size":{"anyOf":[{"type":"string"},{"type":"null"}]},"industry":{"anyOf":[{"type":"string"},{"type":"null"}]},"website":{"anyOf":[{"type":"string"},{"type":"null"}]},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"location":{"anyOf":[{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"locality":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":false},{"type":"null"}]}},"additionalProperties":false},{"type":"null"}]},"title":{"anyOf":[{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"role":{"anyOf":[{"type":"string"},{"type":"null"}]},"sub_role":{"anyOf":[{"type":"string"},{"type":"null"}]},"levels":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]}},"additionalProperties":false},{"type":"null"}]},"start_date":{"anyOf":[{"type":"string"},{"type":"null"}]},"end_date":{"anyOf":[{"type":"string"},{"type":"null"}]},"is_primary":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"location_names":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]}},"additionalProperties":{}}},{"type":"null"}]},"education":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"school":{"anyOf":[{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"type":{"anyOf":[{"type":"string"},{"type":"null"}]},"website":{"anyOf":[{"type":"string"},{"type":"null"}]},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"location":{"anyOf":[{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"locality":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":false},{"type":"null"}]}},"additionalProperties":false},{"type":"null"}]},"degrees":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"majors":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"minors":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"start_date":{"anyOf":[{"type":"string"},{"type":"null"}]},"end_date":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":{}}},{"type":"null"}]},"languages":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"proficiency":{"anyOf":[{"type":"number"},{"type":"null"}]}},"additionalProperties":false}},{"type":"null"}]},"certifications":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"location":{"anyOf":[{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"locality":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]},"continent":{"anyOf":[{"type":"string"},{"type":"null"}]},"street_address":{"anyOf":[{"type":"string"},{"type":"null"}]},"address_line_2":{"anyOf":[{"type":"string"},{"type":"null"}]},"postal_code":{"anyOf":[{"type":"string"},{"type":"null"}]},"geo":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":{}},{"type":"null"}]}},"additionalProperties":{}},{"type":"null"}]}},"required":["status"],"additionalProperties":{}}}}},"402":{"description":"Payment Required"}}}},"/api/pdl/person/search":{"post":{"operationId":"pdl_person_search","summary":"PDL Person Search - Search across 3B+ person records using Elasticsearch DSL or SQL queries. Returns matching person records with pagination via scroll_token. Price scales with the requested `size` (1 PDL credit per result).","tags":["Pdl"],"x-payment-info":{"price":{"mode":"dynamic","currency":"USD","min":"0.28","max":"28.00"},"protocols":[{"x402":{}},{"mpp":{"method":"tempo","intent":"charge","currency":"0x20c000000000000000000000b9537d11c60e8b50"}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"description":"Elasticsearch v7.7 DSL query object","type":"object","propertyNames":{"type":"string"},"additionalProperties":{}},"sql":{"description":"SQL query: SELECT * FROM person WHERE ... Do not include LIMIT — use size for result count.","type":"string"},"size":{"description":"Batch size (1-100, default 1)","type":"integer","minimum":1,"maximum":100},"scroll_token":{"description":"Pagination token from previous response","type":"string"},"dataset":{"description":"Datasets to include: resume, email, phone, mobile_phone, street_address, consumer_social, developer, all","type":"string"},"titlecase":{"description":"Titlecase text in response","type":"boolean"}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"number"},"data":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"id":{"anyOf":[{"type":"string"},{"type":"null"}]},"full_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"middle_initial":{"anyOf":[{"type":"string"},{"type":"null"}]},"middle_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"gender":{"anyOf":[{"type":"string"},{"type":"null"}]},"birth_year":{"anyOf":[{"type":"number"},{"type":"null"}]},"birth_date":{"anyOf":[{"type":"string"},{"type":"null"}]},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"linkedin_username":{"anyOf":[{"type":"string"},{"type":"null"}]},"linkedin_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"facebook_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"facebook_username":{"anyOf":[{"type":"string"},{"type":"null"}]},"facebook_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"twitter_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"twitter_username":{"anyOf":[{"type":"string"},{"type":"null"}]},"github_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"github_username":{"anyOf":[{"type":"string"},{"type":"null"}]},"work_email":{"anyOf":[{"type":"string"},{"type":"null"}]},"personal_emails":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"mobile_phone":{"anyOf":[{"type":"string"},{"type":"null"}]},"industry":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_title":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_title_role":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_title_sub_role":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_title_levels":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"job_company_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_company_size":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_company_industry":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_company_website":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_company_linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_company_location_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_start_date":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_locality":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_region":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_country":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_continent":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_street_address":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_postal_code":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_geo":{"anyOf":[{"type":"string"},{"type":"null"}]},"phone_numbers":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"emails":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"},"type":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["address"],"additionalProperties":false}},{"type":"null"}]},"interests":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"skills":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"location_names":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"regions":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"countries":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"street_addresses":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"locality":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]},"postal_code":{"anyOf":[{"type":"string"},{"type":"null"}]},"street_address":{"anyOf":[{"type":"string"},{"type":"null"}]},"address_line_2":{"anyOf":[{"type":"string"},{"type":"null"}]},"geo":{"anyOf":[{"type":"string"},{"type":"null"}]},"continent":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":{}}},{"type":"null"}]},"profiles":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"network":{"anyOf":[{"type":"string"},{"type":"null"}]},"id":{"anyOf":[{"type":"string"},{"type":"null"}]},"url":{"anyOf":[{"type":"string"},{"type":"null"}]},"username":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":{}}},{"type":"null"}]},"experience":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"company":{"anyOf":[{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"size":{"anyOf":[{"type":"string"},{"type":"null"}]},"industry":{"anyOf":[{"type":"string"},{"type":"null"}]},"website":{"anyOf":[{"type":"string"},{"type":"null"}]},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"location":{"anyOf":[{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"locality":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":false},{"type":"null"}]}},"additionalProperties":false},{"type":"null"}]},"title":{"anyOf":[{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"role":{"anyOf":[{"type":"string"},{"type":"null"}]},"sub_role":{"anyOf":[{"type":"string"},{"type":"null"}]},"levels":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]}},"additionalProperties":false},{"type":"null"}]},"start_date":{"anyOf":[{"type":"string"},{"type":"null"}]},"end_date":{"anyOf":[{"type":"string"},{"type":"null"}]},"is_primary":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"location_names":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]}},"additionalProperties":{}}},{"type":"null"}]},"education":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"school":{"anyOf":[{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"type":{"anyOf":[{"type":"string"},{"type":"null"}]},"website":{"anyOf":[{"type":"string"},{"type":"null"}]},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"location":{"anyOf":[{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"locality":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":false},{"type":"null"}]}},"additionalProperties":false},{"type":"null"}]},"degrees":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"majors":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"minors":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"start_date":{"anyOf":[{"type":"string"},{"type":"null"}]},"end_date":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":{}}},{"type":"null"}]},"languages":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"proficiency":{"anyOf":[{"type":"number"},{"type":"null"}]}},"additionalProperties":false}},{"type":"null"}]},"certifications":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"location":{"anyOf":[{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"locality":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]},"continent":{"anyOf":[{"type":"string"},{"type":"null"}]},"street_address":{"anyOf":[{"type":"string"},{"type":"null"}]},"address_line_2":{"anyOf":[{"type":"string"},{"type":"null"}]},"postal_code":{"anyOf":[{"type":"string"},{"type":"null"}]},"geo":{"anyOf":[{"type":"string"},{"type":"null"}]}},"additionalProperties":{}},{"type":"null"}]}},"additionalProperties":{}}},{"type":"null"}]},"total":{"type":"number"},"scroll_token":{"anyOf":[{"type":"string"},{"type":"null"}]},"error":{"type":"object","properties":{"type":{"type":"string"},"message":{"type":"string"}},"additionalProperties":false}},"required":["status"],"additionalProperties":{}}}}},"402":{"description":"Payment Required"}}}}}}