{"openapi":"3.1.0","info":{"title":"Straits.live premium data","version":"1.0.0","description":"Machine-payable Strait of Hormuz crisis data for AI agents: the live-AIS vessel manifest, single-vessel multi-body sanctions dossiers (OFAC + UK), a shadow-fleet risk screen of the vessels active on AIS in the Persian Gulf window, a flag rollup, bunker & marine-fuel prices, a modeled war-risk transit premium nowcast, full-resolution history, bulk export, a one-call situation snapshot, the complete daily brief, real-time streaming, and threshold-alert webhooks. Settled per request in USDC on Base over the x402 protocol; no key, no account.","x-guidance":"Fourteen operations: twelve priced per request ($0.01-$0.50), plus two free ones (GET /api/premium/stream, which a session token authenticates, and DELETE /api/premium/webhooks/{id}, which the subscription secret authenticates). Most are GET; POST /api/premium/stream/session and POST /api/premium/webhooks take a JSON body. An unpaid request returns HTTP 402 with a machine-readable x402 challenge; sign the USDC authorization and retry (x402-capable clients such as @x402/fetch handle this automatically). Every route except the stream is rate limited to 30 requests per 60 seconds per client IP, one sliding window shared across all of them. Start with GET /api/premium/snapshot for the whole dashboard state in one call. GET /api/premium/history/{feed} serves full-resolution time series (feeds: index-5min, transits, stranded, ais-gaps); GET /api/premium/export bundles every series in one archive. GET /api/premium/vessel/{imo} returns one vessel dossier; GET /api/premium/hormuz/risk-screen ranks the whole live vessel population worst-first with per-hull risk reasons and sanctions matches; GET /api/premium/hormuz/flags rolls it up by flag state; GET /api/premium/bunker returns current bunker & marine-fuel prices with the Fujairah premium over Singapore and Rotterdam; GET /api/premium/risk-premium returns a live modeled war-risk transit premium (Nx over the peace baseline, 1x-80x scale) with the standing straits.live insurance-estimate multiple as a static reference. Ten of these products are also exposed as paid MCP tools at https://straits.live/api/mcp. A free tier lives at https://straits.live/status and /api/v1/* with summary counts and shorter history windows on some series; human documentation, including an exact free-vs-premium comparison, at https://straits.live/api.","contact":{"email":"hello@straits.live"}},"servers":[{"url":"https://straits.live"}],"paths":{"/api/premium/snapshot":{"get":{"operationId":"getSnapshot","summary":"One-call snapshot: everything the Strait of Hormuz crisis monitor knows","tags":["Premium"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.020000"},"protocols":[{"x402":{}}]},"responses":{"200":{"description":"Full dashboard snapshot","content":{"application/json":{"schema":{"type":"object","properties":{"schema":{"type":"string"},"price":{"type":"string","description":"What this call was charged, e.g. \"$0.02\""},"status":{"type":["string","null"],"enum":["open","restricted","closed",null],"description":"Null only when neither PortWatch nor AIS produced a usable transit count"},"verdict":{"type":"object","description":"Status verdict with basis"},"oil":{"type":"object","description":"Latest Brent and WTI with the 24h change"},"oilHistory":{"type":"array","description":"Oil price points behind the sparkline","items":{"type":"object"}},"dailyTransits":{"type":["object","null"],"description":"IMF PortWatch daily transit count vs pre-crisis baseline. Null on cold start, before fetchPortWatchTransits has run."},"insurance":{"type":["object","null"],"description":"War-risk insurance detail. Null when no curated estimate is stored."},"insuranceMultiple":{"type":["number","null"],"description":"The multiple alone, e.g. 40 for 40x normal"},"hormuzIndex":{"type":"object","description":"Crisis Pressure and Escalation Forecast composites with component audit"},"dataHealth":{"type":"object","description":"Per-section freshness: source + verifiedAt"}},"additionalProperties":true,"required":["schema","status"]}}}},"402":{"description":"Payment Required. The signed x402 challenge is in the base64 PAYMENT-REQUIRED response header; the JSON body is informational.","headers":{"PAYMENT-REQUIRED":{"description":"Base64 x402 v2 challenge: accepts[] entries of scheme, network, amount, asset, payTo.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"payment_required"},"message":{"type":"string"},"price":{"type":"string","description":"Decimal USD with a leading $, e.g. \"$0.02\""},"network":{"type":"string","description":"CAIP-2 chain id, e.g. eip155:8453 for Base"},"asset":{"type":"string","const":"USDC"},"docs":{"type":"string"},"openapi":{"type":"string"},"mcp":{"type":"string"}},"required":["error","message","price","network","asset"]}}}},"429":{"description":"Rate limited: 30 requests per 60 seconds per client IP, one sliding window shared across all /api/premium/* routes. Retry-After, X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset are set.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"rate_limited"}},"required":["error"]}}}}}}},"/api/premium/vessels":{"get":{"operationId":"getVessels","summary":"Per-vessel intelligence: live-AIS manifest, sanctioned-in-strait, risk bands, raw AIS positions","tags":["Premium"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.020000"},"protocols":[{"x402":{}}]},"responses":{"200":{"description":"Vessel intelligence bundle","content":{"application/json":{"schema":{"type":"object","properties":{"schema":{"type":"string"},"asOf":{"type":"string","format":"date-time"},"ais":{"type":"object","description":"Latest raw AIS positions with a trust predicate (source + trusted flag)"},"manifest":{"type":"object","description":"Live-AIS vessel manifest (MMSI-keyed; flag derived from the MMSI MID)","properties":{"count":{"type":"number"},"source":{"type":"string"},"vessels":{"type":"array","items":{"type":"object"}}}},"sanctionedInStrait":{"type":"object","description":"OFAC-sanctioned vessels currently in the Persian Gulf window, with program detail"},"sanctionsReference":{"type":"object","description":"OFAC + UK sanctions reference-list sizes; per-IMO multi-body detail at /api/premium/vessel/{imo}"},"riskBands":{"type":"object","description":"Per-vessel risk bands keyed by MMSI and IMO"},"darkFleet":{"type":["object","null"],"description":"AIS-dark rollup: count, baseline7d, baselineSampleHours, vesselsTracked, updatedAt, and topVessels[] (up to 20 named vessels). Null until the first hourly sample exists, and null while the AIS-dark feed is stale."}},"additionalProperties":true,"required":["schema","manifest"]}}}},"402":{"description":"Payment Required. The signed x402 challenge is in the base64 PAYMENT-REQUIRED response header; the JSON body is informational.","headers":{"PAYMENT-REQUIRED":{"description":"Base64 x402 v2 challenge: accepts[] entries of scheme, network, amount, asset, payTo.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"payment_required"},"message":{"type":"string"},"price":{"type":"string","description":"Decimal USD with a leading $, e.g. \"$0.02\""},"network":{"type":"string","description":"CAIP-2 chain id, e.g. eip155:8453 for Base"},"asset":{"type":"string","const":"USDC"},"docs":{"type":"string"},"openapi":{"type":"string"},"mcp":{"type":"string"}},"required":["error","message","price","network","asset"]}}}},"429":{"description":"Rate limited: 30 requests per 60 seconds per client IP, one sliding window shared across all /api/premium/* routes. Retry-After, X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset are set.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"rate_limited"}},"required":["error"]}}}}}}},"/api/premium/history/{feed}":{"get":{"operationId":"getHistory","summary":"Historical series: stranded and AIS-gap counts (hourly, capped at one year, growing), 5-min index, daily transits","tags":["Premium"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.010000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"feed","in":"path","required":true,"description":"index-5min: both Hormuz indices at 5-minute cadence. transits: complete daily IMF PortWatch history, enriched per day with the 7-day moving average, pre-crisis-baseline deviation, and reopening-threshold headroom. stranded: hourly stranded-vessel counts, up to a year. ais-gaps: hourly AIS-dark counts, up to a year.","schema":{"type":"string","enum":["index-5min","transits","stranded","ais-gaps"]}},{"name":"days","in":"query","required":false,"description":"index-5min only: window in days, 1-30 (default 7)","schema":{"type":"integer","minimum":1,"maximum":30,"default":7}}],"responses":{"200":{"description":"Historical series; the body varies by feed","content":{"application/json":{"schema":{"type":"object","properties":{"schema":{"type":"string"},"price":{"type":"string"},"feed":{"type":"string","enum":["index-5min","transits","stranded","ais-gaps"]},"asOf":{"type":"string","format":"date-time"},"count":{"type":"number","description":"Rows returned"},"truncated":{"type":"boolean","description":"True when the read hit its ceiling, so older rows exist that this call did not return. Always false for index-5min, which reads only the requested window."},"days":{"type":"number","description":"index-5min only: the window actually served, 1-30"},"crisisPressure":{"type":"array","description":"index-5min only: Crisis Pressure series at 5-minute cadence","items":{"type":"object"}},"escalationForecast":{"type":"array","description":"index-5min only: Escalation Forecast series at 5-minute cadence","items":{"type":"object"}},"points":{"type":"array","description":"transits, stranded and ais-gaps only; index-5min carries crisisPressure and escalationForecast instead. transits rows add ma7, baselineDelta and thresholdHeadroom to each PortWatch day; stranded rows are hourly total/anchored/stopped/transit/stranded.","items":{"type":"object"}},"baseline":{"type":"number","description":"transits only: the frozen pre-crisis daily baseline"},"reopeningThreshold":{"type":"number","description":"transits only: the 7-day-MA level the reopening markets resolve on"},"resolution":{"type":"object","description":"transits only: distance-to-resolution outlook"},"basis":{"type":"string","description":"stranded only: how the counts were measured after basisChangedAt"},"basisChangedAt":{"type":"string","description":"stranded only: date of the latest series break. Do not difference across it. The latest (2026-09-26) moved vessels with an hour-old AIS fix out of the counts, stepping stranded down about 30%; the one before (2026-07-30) stepped counts up about 3.4x on total."}},"additionalProperties":true,"required":["schema","feed","count"]}}}},"402":{"description":"Payment Required. The signed x402 challenge is in the base64 PAYMENT-REQUIRED response header; the JSON body is informational.","headers":{"PAYMENT-REQUIRED":{"description":"Base64 x402 v2 challenge: accepts[] entries of scheme, network, amount, asset, payTo.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"payment_required"},"message":{"type":"string"},"price":{"type":"string","description":"Decimal USD with a leading $, e.g. \"$0.02\""},"network":{"type":"string","description":"CAIP-2 chain id, e.g. eip155:8453 for Base"},"asset":{"type":"string","const":"USDC"},"docs":{"type":"string"},"openapi":{"type":"string"},"mcp":{"type":"string"}},"required":["error","message","price","network","asset"]}}}},"404":{"description":"Unknown feed (not charged). Body carries the valid feeds[] list.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"unknown_feed"},"feeds":{"type":"array","items":{"type":"string"}}},"required":["error","feeds"]}}}},"429":{"description":"Rate limited: 30 requests per 60 seconds per client IP, one sliding window shared across all /api/premium/* routes. Retry-After, X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset are set.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"rate_limited"}},"required":["error"]}}}}}}},"/api/premium/brief":{"get":{"operationId":"getBrief","summary":"AI-assisted daily situation brief as structured JSON, by date or latest","tags":["Premium"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.010000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"date","in":"query","required":false,"description":"YYYY-MM-DD; omit for the latest brief","schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"}}],"responses":{"200":{"description":"Daily situation brief","content":{"application/json":{"schema":{"type":"object","properties":{"schema":{"type":"string"},"date":{"type":"string"},"bullets":{"type":"array","items":{"type":"string"}},"summary":{"type":["string","null"]},"brent":{"type":["number","null"]},"transitsToday":{"type":["number","null"]},"generatedAt":{"type":["string","null"]}},"additionalProperties":true,"required":["schema","date","bullets"]}}}},"402":{"description":"Payment Required. The signed x402 challenge is in the base64 PAYMENT-REQUIRED response header; the JSON body is informational.","headers":{"PAYMENT-REQUIRED":{"description":"Base64 x402 v2 challenge: accepts[] entries of scheme, network, amount, asset, payTo.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"payment_required"},"message":{"type":"string"},"price":{"type":"string","description":"Decimal USD with a leading $, e.g. \"$0.02\""},"network":{"type":"string","description":"CAIP-2 chain id, e.g. eip155:8453 for Base"},"asset":{"type":"string","const":"USDC"},"docs":{"type":"string"},"openapi":{"type":"string"},"mcp":{"type":"string"}},"required":["error","message","price","network","asset"]}}}},"429":{"description":"Rate limited: 30 requests per 60 seconds per client IP, one sliding window shared across all /api/premium/* routes. Retry-After, X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset are set.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"rate_limited"}},"required":["error"]}}}}}}},"/api/premium/vessel/{imo}":{"get":{"operationId":"getVesselDossier","summary":"Single-vessel sanctions + risk dossier by IMO: unified multi-body (OFAC + UK) sanctions, identity, risk band, dark-activity","tags":["Premium"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.020000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"imo","in":"path","required":true,"description":"7-digit IMO number of the vessel","schema":{"type":"string","pattern":"^\\d{7}$"}}],"responses":{"200":{"description":"Single-vessel dossier","content":{"application/json":{"schema":{"type":"object","properties":{"schema":{"type":"string"},"imo":{"type":"string"},"sanctioned":{"type":"boolean"},"identity":{"type":["object","null"],"description":"Merged name, flag, ship type, tonnage, year built, owner"},"sanctions":{"type":["object","null"],"description":"Unified multi-body view: listedBy plus a bodies[] array (OFAC and/or UK) each with its own detail and listing date"},"riskBand":{"type":["string","null"]},"darkActivity":{"type":["object","null"],"description":"AIS-gap record if the vessel has gone dark"}},"additionalProperties":true,"required":["schema","imo","sanctioned"]}}}},"402":{"description":"Payment Required. The signed x402 challenge is in the base64 PAYMENT-REQUIRED response header; the JSON body is informational.","headers":{"PAYMENT-REQUIRED":{"description":"Base64 x402 v2 challenge: accepts[] entries of scheme, network, amount, asset, payTo.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"payment_required"},"message":{"type":"string"},"price":{"type":"string","description":"Decimal USD with a leading $, e.g. \"$0.02\""},"network":{"type":"string","description":"CAIP-2 chain id, e.g. eip155:8453 for Base"},"asset":{"type":"string","const":"USDC"},"docs":{"type":"string"},"openapi":{"type":"string"},"mcp":{"type":"string"}},"required":["error","message","price","network","asset"]}}}},"404":{"description":"IMO not listed by OFAC or the UK and no dark-activity record (not charged)"},"429":{"description":"Rate limited: 30 requests per 60 seconds per client IP, one sliding window shared across all /api/premium/* routes. Retry-After, X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset are set.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"rate_limited"}},"required":["error"]}}}}}}},"/api/premium/export":{"get":{"operationId":"getExport","summary":"Bulk history export: index-5min, stranded, and ais-gaps cap at 365 days of retained history; transits returns its full retained history instead","tags":["Premium"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.250000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"feeds","in":"query","required":false,"description":"Comma-separated subset of index-5min, stranded, ais-gaps, transits; omit for all","schema":{"type":"string"}},{"name":"format","in":"query","required":false,"description":"json (default) or csv for a multi-section download","schema":{"type":"string","enum":["json","csv"],"default":"json"}}],"responses":{"200":{"description":"Multi-series archive (JSON, or CSV when format=csv)","content":{"application/json":{"schema":{"type":"object","additionalProperties":true}},"text/csv":{"schema":{"type":"string"}}}},"402":{"description":"Payment Required. The signed x402 challenge is in the base64 PAYMENT-REQUIRED response header; the JSON body is informational.","headers":{"PAYMENT-REQUIRED":{"description":"Base64 x402 v2 challenge: accepts[] entries of scheme, network, amount, asset, payTo.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"payment_required"},"message":{"type":"string"},"price":{"type":"string","description":"Decimal USD with a leading $, e.g. \"$0.02\""},"network":{"type":"string","description":"CAIP-2 chain id, e.g. eip155:8453 for Base"},"asset":{"type":"string","const":"USDC"},"docs":{"type":"string"},"openapi":{"type":"string"},"mcp":{"type":"string"}},"required":["error","message","price","network","asset"]}}}},"429":{"description":"Rate limited: 30 requests per 60 seconds per client IP, one sliding window shared across all /api/premium/* routes. Retry-After, X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset are set.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"rate_limited"}},"required":["error"]}}}}}}},"/api/premium/stream/session":{"post":{"operationId":"createStreamSession","summary":"Buy a signed token for a bounded real-time Server-Sent Events window","tags":["Premium"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.050000"},"protocols":[{"x402":{}}]},"responses":{"200":{"description":"Stream session token","content":{"application/json":{"schema":{"type":"object","properties":{"schema":{"type":"string"},"sid":{"type":"string"},"token":{"type":"string"},"streamUrl":{"type":"string","description":"Open an EventSource GET here within the window"},"expiresAt":{"type":"string","format":"date-time"},"windowSeconds":{"type":"number"}},"additionalProperties":true,"required":["schema","token","streamUrl"]}}}},"402":{"description":"Payment Required. The signed x402 challenge is in the base64 PAYMENT-REQUIRED response header; the JSON body is informational.","headers":{"PAYMENT-REQUIRED":{"description":"Base64 x402 v2 challenge: accepts[] entries of scheme, network, amount, asset, payTo.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"payment_required"},"message":{"type":"string"},"price":{"type":"string","description":"Decimal USD with a leading $, e.g. \"$0.02\""},"network":{"type":"string","description":"CAIP-2 chain id, e.g. eip155:8453 for Base"},"asset":{"type":"string","const":"USDC"},"docs":{"type":"string"},"openapi":{"type":"string"},"mcp":{"type":"string"}},"required":["error","message","price","network","asset"]}}}},"429":{"description":"Rate limited: 30 requests per 60 seconds per client IP, one sliding window shared across all /api/premium/* routes. Retry-After, X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset are set.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"rate_limited"}},"required":["error"]}}}}}}},"/api/premium/stream":{"get":{"operationId":"openStream","summary":"Open the real-time Server-Sent Events stream with a token bought at POST /api/premium/stream/session","tags":["Premium"],"parameters":[{"name":"token","in":"query","required":false,"description":"The session token. May be sent as Authorization: Bearer <token> instead; one of the two is required.","schema":{"type":"string"}}],"responses":{"200":{"description":"SSE stream. A tick event every ~10s carries oil (brent, wti, change24h, stale, updatedAt) and both index readings (value, band); a change event carries each new change-log entry; an end event with reason session_expired closes the stream at the token expiry. Comment lines keep the connection warm through a read fault.","content":{"text/event-stream":{"schema":{"type":"string"}}}},"401":{"description":"Missing, malformed, or expired session token","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"invalid_or_expired_token"}},"required":["error"]}}}}}}},"/api/premium/webhooks":{"post":{"operationId":"subscribeWebhook","summary":"Register a signed threshold-alert webhook (verdict flip, index band cross, threshold breach)","tags":["Premium"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.500000"},"protocols":[{"x402":{}}]},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","description":"https:// endpoint to receive signed POSTs"},"events":{"type":"array","description":"Subset of flip, band, breach; omit for all","items":{"type":"string","enum":["flip","band","breach"]}}},"required":["url"]}}}},"responses":{"200":{"description":"Subscription created (funds 30 days or 100 deliveries)","content":{"application/json":{"schema":{"type":"object","properties":{"schema":{"type":"string"},"id":{"type":"string"},"secret":{"type":"string","description":"HMAC key for X-Straits-Signature; store it"},"events":{"type":"array","items":{"type":"string"}},"expiresAt":{"type":"string","format":"date-time"},"deliveriesRemaining":{"type":"number"}},"additionalProperties":true,"required":["schema","id","secret"]}}}},"400":{"description":"Invalid or missing https:// url (not charged)"},"402":{"description":"Payment Required. The signed x402 challenge is in the base64 PAYMENT-REQUIRED response header; the JSON body is informational.","headers":{"PAYMENT-REQUIRED":{"description":"Base64 x402 v2 challenge: accepts[] entries of scheme, network, amount, asset, payTo.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"payment_required"},"message":{"type":"string"},"price":{"type":"string","description":"Decimal USD with a leading $, e.g. \"$0.02\""},"network":{"type":"string","description":"CAIP-2 chain id, e.g. eip155:8453 for Base"},"asset":{"type":"string","const":"USDC"},"docs":{"type":"string"},"openapi":{"type":"string"},"mcp":{"type":"string"}},"required":["error","message","price","network","asset"]}}}},"429":{"description":"Rate limited: 30 requests per 60 seconds per client IP, one sliding window shared across all /api/premium/* routes. Retry-After, X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset are set.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"rate_limited"}},"required":["error"]}}}}}}},"/api/premium/webhooks/{id}":{"delete":{"operationId":"cancelWebhook","summary":"Cancel a webhook subscription. Free, idempotent, authenticated by the per-subscription secret rather than x402.","tags":["Premium"],"parameters":[{"name":"id","in":"path","required":true,"description":"Subscription id returned by POST /api/premium/webhooks","schema":{"type":"string"}},{"name":"x-webhook-secret","in":"header","required":true,"description":"The secret returned at registration","schema":{"type":"string"}}],"responses":{"200":{"description":"Subscription deactivated. The document is retained for the delivery-ledger audit trail.","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"id":{"type":"string"},"active":{"type":"boolean"}},"required":["ok","id","active"]}}}},"401":{"description":"Missing x-webhook-secret header"},"403":{"description":"Secret does not match the subscription"},"404":{"description":"No such subscription"},"429":{"description":"Rate limited: 30 requests per 60 seconds per client IP, one sliding window shared across all /api/premium/* routes. Retry-After, X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset are set.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"rate_limited"}},"required":["error"]}}}}}}},"/api/premium/hormuz/flags":{"get":{"operationId":"getHormuzFlags","summary":"Hormuz flag rollup: live-AIS vessel population by flag state, with per-flag sanctioned tallies","tags":["Premium"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.010000"},"protocols":[{"x402":{}}]},"responses":{"200":{"description":"Flag rollup over the live vessel population","content":{"application/json":{"schema":{"type":"object","properties":{"schema":{"type":"string"},"asOf":{"type":"string","format":"date-time"},"health":{"type":"object","description":"AIS source + trusted flag; numbers are untrustworthy when not trusted"},"vessel_count":{"type":"number"},"distinct_flags":{"type":"number"},"sanctioned_count":{"type":"number"},"sanctioned_share":{"type":"number","description":"0-1 fraction of the population that is OFAC-listed"},"top_flags":{"type":"array","description":"Top flag states by vessel count; each carries a sanctioned_count","items":{"type":"object"}},"omitted":{"type":"object","description":"Fields intentionally not provided (no source): top_operators, direction"}},"additionalProperties":true,"required":["schema","top_flags"]}}}},"402":{"description":"Payment Required. The signed x402 challenge is in the base64 PAYMENT-REQUIRED response header; the JSON body is informational.","headers":{"PAYMENT-REQUIRED":{"description":"Base64 x402 v2 challenge: accepts[] entries of scheme, network, amount, asset, payTo.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"payment_required"},"message":{"type":"string"},"price":{"type":"string","description":"Decimal USD with a leading $, e.g. \"$0.02\""},"network":{"type":"string","description":"CAIP-2 chain id, e.g. eip155:8453 for Base"},"asset":{"type":"string","const":"USDC"},"docs":{"type":"string"},"openapi":{"type":"string"},"mcp":{"type":"string"}},"required":["error","message","price","network","asset"]}}}},"429":{"description":"Rate limited: 30 requests per 60 seconds per client IP, one sliding window shared across all /api/premium/* routes. Retry-After, X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset are set.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"rate_limited"}},"required":["error"]}}}}}}},"/api/premium/hormuz/risk-screen":{"get":{"operationId":"getHormuzRiskScreen","summary":"Shadow-fleet risk screen: the live-AIS vessel population ranked worst-first, each hull with its risk band, typed reasons, and sanctions-body matches (flagged hulls by default; ?all=1 for every screened hull)","tags":["Premium"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.020000"},"protocols":[{"x402":{}}]},"parameters":[{"name":"all","in":"query","required":false,"description":"Set to 1 to include the cleared low-band hulls; default returns only the flagged hulls (high + moderate). counts always cover the screened population, that is every hull seen on AIS inside the active window.","schema":{"type":"string","enum":["1"]}}],"responses":{"200":{"description":"Ranked per-vessel risk screen","content":{"application/json":{"schema":{"type":"object","properties":{"schema":{"type":"string"},"asOf":{"type":"string","format":"date-time"},"health":{"type":"object","description":"AIS source + trusted flag; the screen is untrustworthy when not trusted"},"counts":{"type":"object","description":"Whole-population tallies: total, high, moderate, low, sanctioned, dark, spoofed"},"reasonKey":{"type":"object","description":"Human labels for the reason codes (ofac_sdn, ais_dark, foc_tanker, imo_spoofed)"},"vesselsInclude":{"type":"string","enum":["flagged","all"],"description":"Which hulls the vessels array carries (flagged = high + moderate; all with ?all=1)"},"vessels":{"type":"array","description":"Per-hull rows ranked worst-first: mmsi, imo, name, flag, band, reasons[] (codes), sanctionedBy[] (ofac/uk). Flagged hulls only by default; ?all=1 adds the cleared low band.","items":{"type":"object"}}},"additionalProperties":true,"required":["schema","vessels","counts"]}}}},"402":{"description":"Payment Required. The signed x402 challenge is in the base64 PAYMENT-REQUIRED response header; the JSON body is informational.","headers":{"PAYMENT-REQUIRED":{"description":"Base64 x402 v2 challenge: accepts[] entries of scheme, network, amount, asset, payTo.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"payment_required"},"message":{"type":"string"},"price":{"type":"string","description":"Decimal USD with a leading $, e.g. \"$0.02\""},"network":{"type":"string","description":"CAIP-2 chain id, e.g. eip155:8453 for Base"},"asset":{"type":"string","const":"USDC"},"docs":{"type":"string"},"openapi":{"type":"string"},"mcp":{"type":"string"}},"required":["error","message","price","network","asset"]}}}},"429":{"description":"Rate limited: 30 requests per 60 seconds per client IP, one sliding window shared across all /api/premium/* routes. Retry-After, X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset are set.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"rate_limited"}},"required":["error"]}}}}}}},"/api/premium/bunker":{"get":{"operationId":"getBunker","summary":"Bunker & marine-fuel prices ($/tonne): current VLSFO/IFO380/MGO for Fujairah, Singapore, Rotterdam, plus the derived Fujairah premium over each benchmark hub","tags":["Premium"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.020000"},"protocols":[{"x402":{}}]},"responses":{"200":{"description":"Current bunker prices with derived Fujairah spreads","content":{"application/json":{"schema":{"type":"object","properties":{"schema":{"type":"string"},"asOf":{"type":"string","format":"date-time"},"stale":{"type":"boolean","description":"true when the latest scrape is older than 12 hours"},"ports":{"type":"array","description":"One row per port: portKey, portLabel, vlsfo, ifo380, mgo ($/tonne, null when a grade was unavailable), currency, unit, asOf","items":{"type":"object"}},"spreads":{"type":"object","description":"Fujairah VLSFO premium over each hub: fujairahVsSingaporeVlsfo, fujairahVsRotterdamVlsfo (positive = Fujairah dearer; null when a grade is absent)"}},"additionalProperties":true,"required":["schema","ports"]}}}},"402":{"description":"Payment Required. The signed x402 challenge is in the base64 PAYMENT-REQUIRED response header; the JSON body is informational.","headers":{"PAYMENT-REQUIRED":{"description":"Base64 x402 v2 challenge: accepts[] entries of scheme, network, amount, asset, payTo.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"payment_required"},"message":{"type":"string"},"price":{"type":"string","description":"Decimal USD with a leading $, e.g. \"$0.02\""},"network":{"type":"string","description":"CAIP-2 chain id, e.g. eip155:8453 for Base"},"asset":{"type":"string","const":"USDC"},"docs":{"type":"string"},"openapi":{"type":"string"},"mcp":{"type":"string"}},"required":["error","message","price","network","asset"]}}}},"429":{"description":"Rate limited: 30 requests per 60 seconds per client IP, one sliding window shared across all /api/premium/* routes. Retry-After, X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset are set.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"rate_limited"}},"required":["error"]}}}}}}},"/api/premium/risk-premium":{"get":{"operationId":"getRiskPremium","summary":"War-risk transit premium nowcast: a live modeled war-risk insurance multiple (Nx over the peace baseline, 1x-80x scale) for the strait, recomputed every 5 minutes from throughput, escalation, OVX, and event signals, with the standing straits.live insurance-estimate multiple carried as a static reference","tags":["Premium"],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.050000"},"protocols":[{"x402":{}}]},"responses":{"200":{"description":"Live modeled war-risk premium with drivers, a static insurance-estimate reference, and confidence","content":{"application/json":{"schema":{"type":"object","properties":{"schema":{"type":"string"},"asOf":{"type":"string","format":"date-time"},"modeledMultiple":{"type":"number","description":"Live modeled war-risk multiple, 1x (peace) to 80x (top of the published curve). The headline figure."},"band":{"type":"string","enum":["baseline","elevated","uneconomic","severe","closure-level"]},"confidence":{"type":"number","description":"0-1; degrades when driver feeds are stale/missing or escalation-market volume is thin"},"reference":{"type":"object","description":"Static context: jwcMultiple (the standing straits.live insurance-estimate multiple, manually set and infrequently changed), asOf, source, and a note. NOT a live comparator."},"vlccWarPremiumUsd":{"type":["object","null"],"description":"VLCC war-premium band (low/high USD per voyage): the curated market-reported range, estimated separately from modeledMultiple, so the two will not divide exactly"},"drivers":{"type":"object","description":"Per-driver score, raw value, health, and weight: throughput, escalation, ovx, event"},"degraded":{"type":"array","description":"Drivers that were stale or missing and dropped out of the estimate","items":{"type":"object"}}},"additionalProperties":true,"required":["schema","modeledMultiple","band","confidence"]}}}},"402":{"description":"Payment Required. The signed x402 challenge is in the base64 PAYMENT-REQUIRED response header; the JSON body is informational.","headers":{"PAYMENT-REQUIRED":{"description":"Base64 x402 v2 challenge: accepts[] entries of scheme, network, amount, asset, payTo.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"payment_required"},"message":{"type":"string"},"price":{"type":"string","description":"Decimal USD with a leading $, e.g. \"$0.02\""},"network":{"type":"string","description":"CAIP-2 chain id, e.g. eip155:8453 for Base"},"asset":{"type":"string","const":"USDC"},"docs":{"type":"string"},"openapi":{"type":"string"},"mcp":{"type":"string"}},"required":["error","message","price","network","asset"]}}}},"429":{"description":"Rate limited: 30 requests per 60 seconds per client IP, one sliding window shared across all /api/premium/* routes. Retry-After, X-RateLimit-Limit, X-RateLimit-Remaining and X-RateLimit-Reset are set.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","const":"rate_limited"}},"required":["error"]}}}}}}}}}